<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.JytClinicPayUndrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytClinicPayUndrug">
        <result column="HISREGNO" property="hisregno" />
        <result column="FEE_CODE" property="feeCode" />
        <result column="ITEMNO" property="itemno" />
        <result column="RECIPENO" property="recipeno" />
        <result column="UNDRUG_CODE" property="undrugCode" />
        <result column="UNDRUG_NAME" property="undrugName" />
        <result column="UNITPRICE" property="unitprice" />
        <result column="COUNT" property="count" />
        <result column="FEE" property="fee" />
        <result column="COMB_NO" property="combNo" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DTIME" property="regDtime" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HISREGNO, FEE_CODE, ITEMNO, RECIPENO, UNDRUG_CODE, UNDRUG_NAME, UNITPRICE, COUNT, FEE, COMB_NO, ITEM_CODE, CARD_NO, REG_DTIME, OPER_DATE
    </sql>

</mapper>
