<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.JytNewacountHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytNewacountHis">
        <result column="CARD_NO" property="cardNo" />
        <result column="ALIORDERID" property="aliorderid" />
        <result column="DINGDANHAO" property="dingdanhao" />
        <result column="KAHAO" property="kahao" />
        <result column="HUANZHE" property="huanzhe" />
        <result column="KESHI" property="keshi" />
        <result column="GUAHAOLIUSHUI" property="guahaoliushui" />
        <result column="ZHIFUSHIJIAN" property="zhifushijian" />
        <result column="KANZHENSHIJIAN" property="kanzhenshijian" />
        <result column="LAIYUAN" property="laiyuan" />
        <result column="ZONGJINE" property="zongjine" />
        <result column="SHEBAOJINE" property="shebaojine" />
        <result column="YBZHANGHU" property="ybzhanghu" />
        <result column="ZIFEIJINE" property="zifeijine" />
        <result column="STATUS" property="status" />
        <result column="QUHAOREN" property="quhaoren" />
        <result column="TUIHAOREN" property="tuihaoren" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, ALIORDERID, DINGDANHAO, KAHAO, HUANZHE, KESHI, GUAHAOLIUSHUI, ZHIFUSHIJIAN, KANZHENSHIJIAN, LAIYUAN, ZONGJINE, SHEBAOJINE, YBZHANGHU, ZIFEIJINE, STATUS, QUHAOREN, TUIHAOREN
    </sql>

</mapper>
