<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.JytPrivatecloudDepartRwzbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytPrivatecloudDepartRwzb">
        <result column="DEPT_CODE1" property="deptCode1" />
        <result column="DEPT_NAME1" property="deptName1" />
        <result column="LEVEL1_ORDER" property="level1Order" />
        <result column="DEPT_CODE2" property="deptCode2" />
        <result column="DEPT_NAME2" property="deptName2" />
        <result column="LEVEL2_ORDER" property="level2Order" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE1, DEPT_NAME1, LEVEL1_ORDER, DEPT_CODE2, DEPT_NAME2, LEVEL2_ORDER
    </sql>

</mapper>
