<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.JytPrivatecloudDqdqhJzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytPrivatecloudDqdqhJz">
        <result column="ALITRADENO" property="alitradeno" />
        <result column="TRADENO_BAKBX" property="tradenoBakbx" />
        <result column="BOOK_TYPE" property="bookType" />
        <result column="IF_REG" property="ifReg" />
        <result column="PAY_WAY" property="payWay" />
        <result column="LAST_UPDATE" property="lastUpdate" />
        <result column="his_reg_no" property="hisRegNo" />
        <result column="card_no" property="cardNo" />
        <result column="card_type" property="cardType" />
        <result column="dept_code1" property="deptCode1" />
        <result column="dept_code2" property="deptCode2" />
        <result column="usertype" property="usertype" />
        <result column="patient_name" property="patientName" />
        <result column="id_card" property="idCard" />
        <result column="id_card_type" property="idCardType" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="purpose" property="purpose" />
        <result column="area_code" property="areaCode" />
        <result column="doctor_code" property="doctorCode" />
        <result column="doctor_name" property="doctorName" />
        <result column="title_type" property="titleType" />
        <result column="reg_date" property="regDate" />
        <result column="reg_half" property="regHalf" />
        <result column="time" property="time" />
        <result column="fee" property="fee" />
        <result column="user_amount" property="userAmount" />
        <result column="medicare_amount" property="medicareAmount" />
        <result column="medicare_person_fee" property="medicarePersonFee" />
        <result column="need_divide" property="needDivide" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="place" property="place" />
        <result column="source" property="source" />
        <result column="pay_source" property="paySource" />
        <result column="update_time" property="updateTime" />
        <result column="phone" property="phone" />
        <result column="reglevl_name" property="reglevlName" />
        <result column="dept_name" property="deptName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ALITRADENO, TRADENO_BAKBX, BOOK_TYPE, IF_REG, PAY_WAY, LAST_UPDATE, his_reg_no, card_no, card_type, dept_code1, dept_code2, usertype, patient_name, id_card, id_card_type, sex, birthday, purpose, area_code, doctor_code, doctor_name, title_type, reg_date, reg_half, time, fee, user_amount, medicare_amount, medicare_person_fee, need_divide, remark, status, place, source, pay_source, update_time, phone, reglevl_name, dept_name
    </sql>

</mapper>
