<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.JytTradeinfoSxtestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytTradeinfoSxtest">
        <id column="TRADENO" property="tradeno" />
        <result column="TRADESUBCLASS" property="tradesubclass" />
        <result column="TRADESTRDATE" property="tradestrdate" />
        <result column="TRADEDATE" property="tradedate" />
        <result column="CARDNO_JYT" property="cardnoJyt" />
        <result column="NAME" property="name" />
        <result column="FEEALL" property="feeall" />
        <result column="OPERNAME" property="opername" />
        <result column="TRADE_STATUS" property="tradeStatus" />
        <result column="ACCOUNT_STATUS" property="accountStatus" />
        <result column="ACCOUNTNO" property="accountno" />
        <result column="DEC_STATUS" property="decStatus" />
        <result column="DEC_NO" property="decNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TRADENO, TRADESUBCLASS, TRADESTRDATE, TRADEDATE, CARDNO_JYT, NAME, FEEALL, OPERNAME, TRADE_STATUS, ACCOUNT_STATUS, ACCOUNTNO, DEC_STATUS, DEC_NO
    </sql>

</mapper>
