<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.JytWsMscOrderSyncDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytWsMscOrderSyncDetail">
        <result column="CARD_NO_BY" property="cardNoBy" />
        <result column="REG_DATE" property="regDate" />
        <result column="HISORDERNO" property="hisorderno" />
        <result column="TRADE_NO" property="tradeNo" />
        <result column="HIS_TRADE_NO" property="hisTradeNo" />
        <result column="TYPE" property="type" />
        <result column="TRADE_AMOUNT" property="tradeAmount" />
        <result column="TRADE_TIME" property="tradeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO_BY, REG_DATE, HISORDERNO, TRADE_NO, HIS_TRADE_NO, TYPE, TRADE_AMOUNT, TRADE_TIME
    </sql>

</mapper>
