<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LGermitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LGermitem">
        <id column="GERMID" property="germid" />
        <result column="GERMGROUPID" property="germgroupid" />
        <result column="GERMCNAME" property="germcname" />
        <result column="GERMENAME" property="germename" />
        <result column="SHORTNAME" property="shortname" />
        <result column="INPUTCODE" property="inputcode" />
        <result column="ISUSED" property="isused" />
        <result column="REMARK" property="remark" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERDATE" property="operdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GERMID, GERMGROUPID, GERMCNAME, GERMENAME, SHORTNAME, INPUTCODE, ISUSED, REMARK, OPERATORID, OPERDATE
    </sql>

</mapper>
