<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LisProcessModeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LisProcessMode">
        <id column="UNITID" property="unitid" />
        <result column="UNITNAME" property="unitname" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="PROCESS_MODE" property="processMode" />
        <result column="OPERATOR" property="operator" />
        <result column="OPERTIME" property="opertime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UNITID, UNITNAME, ORDER_NO, PROCESS_MODE, OPERATOR, OPERTIME
    </sql>

</mapper>
