<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LLinkresultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LLinkresult">
        <id column="MULTIITEMCODE" property="multiitemcode" />
        <result column="MULTIITEMNAME" property="multiitemname" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="ITEMNAME" property="itemname" />
        <result column="SEQUENCE" property="sequence" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MULTIITEMCODE, MULTIITEMNAME, ITEMCODE, ITEMNAME, SEQUENCE
    </sql>

</mapper>
