<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LOrder">
        <result column="MACHINECODE" property="machinecode" />
        <result column="CHECKDATE" property="checkdate" />
        <result column="CHECKORDER" property="checkorder" />
        <result column="GROUPCODE" property="groupcode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MACHINECODE, CHECKDATE, CHECKORDER, GROUPCODE
    </sql>

</mapper>
