<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LQcbaseruleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LQcbaserule">
        <id column="BASERULEID" property="baseruleid" />
        <result column="BASERULENAME" property="baserulename" />
        <result column="RULETYPE" property="ruletype" />
        <result column="PARMN" property="parmn" />
        <result column="PARMM" property="parmm" />
        <result column="PARMX" property="parmx" />
        <result column="PARMY" property="parmy" />
        <result column="BASERULEDESC" property="baseruledesc" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERATORDATE" property="operatordate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BASERULEID, BASERULENAME, RULETYPE, PARMN, PARMM, PARMX, PARMY, BASERULEDESC, OPERATORID, OPERATORDATE
    </sql>

</mapper>
