<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LQcitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LQcitem">
        <id column="ITEMID" property="itemid" />
        <result column="MACHINEID" property="machineid" />
        <result column="MATERIALNO" property="materialno" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="TARGET" property="target" />
        <result column="SD" property="sd" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERATORDATE" property="operatordate" />
        <result column="REAGENTNO" property="reagentno" />
        <result column="TESTMETHOD" property="testmethod" />
        <result column="ISDEFAULT" property="isdefault" />
        <result column="ISUSED" property="isused" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ITEMID, MACHINEID, MATERIALNO, ITEMCODE, TARGET, SD, OPERATORID, OPERATORDATE, REAGENTNO, TESTMETHOD, ISDEFAULT, ISUSED
    </sql>

</mapper>
