<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LQcmaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LQcmaterial">
        <id column="MATERIALNO" property="materialno" />
        <result column="MATERIALCNAME" property="materialcname" />
        <result column="MATERIALENAME" property="materialename" />
        <result column="DISPORDER" property="disporder" />
        <result column="INPUTCODE" property="inputcode" />
        <result column="PATCHNO" property="patchno" />
        <result column="PRODUCER" property="producer" />
        <result column="ISUSED" property="isused" />
        <result column="REMARK" property="remark" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERATORDATE" property="operatordate" />
        <result column="VALIDDATE" property="validdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MATERIALNO, MATERIALCNAME, MATERIALENAME, DISPORDER, INPUTCODE, PATCHNO, PRODUCER, ISUSED, REMARK, OPERATORID, OPERATORDATE, VALIDDATE
    </sql>

</mapper>
