<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LQcresultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LQcresult">
        <id column="RECEIVEDTIME" property="receivedtime" />
        <result column="ITEMID" property="itemid" />
        <result column="ORIGINALVALUE" property="originalvalue" />
        <result column="USERVALUE" property="uservalue" />
        <result column="ISUSED" property="isused" />
        <result column="RECEIVEDATE" property="receivedate" />
        <result column="REMARK" property="remark" />
        <result column="MATERIALNO" property="materialno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ITEMID, ORIGINALVALUE, USERVALUE, ISUSED, RECEIVEDATE, RECEIVEDTIME, REMARK, MATERIALNO
    </sql>

</mapper>
