<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LQcrulecombMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LQcrulecomb">
        <id column="RULEID" property="ruleid" />
        <result column="RULENAME" property="rulename" />
        <result column="RULEDESC" property="ruledesc" />
        <result column="ISDEFAULT" property="isdefault" />
        <result column="DISPORDER" property="disporder" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERATORDATE" property="operatordate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RULEID, RULENAME, RULEDESC, ISDEFAULT, DISPORDER, OPERATORID, OPERATORDATE
    </sql>

</mapper>
