<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LResultphraseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LResultphrase">
        <id column="PHRASEID" property="phraseid" />
        <result column="PHRASENAME" property="phrasename" />
        <result column="DISPORDER" property="disporder" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERDATE" property="operdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PHRASEID, PHRASENAME, DISPORDER, OPERATORID, OPERDATE
    </sql>

</mapper>
