<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LscJytkdzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LscJytkdz">
        <result column="JYLSH" property="jylsh" />
        <result column="JYLX" property="jylx" />
        <result column="JYSJ" property="jysj" />
        <result column="CARD_NO" property="cardNo" />
        <result column="CARD" property="card" />
        <result column="PATIENTNAME" property="patientname" />
        <result column="JE" property="je" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        JYLSH, JYLX, JYSJ, CARD_NO, CARD, PATIENTNAME, JE
    </sql>

</mapper>
