<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LscKjyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LscKjy">
        <result column="DATE1" property="date1" />
        <result column="BIAOSHI" property="biaoshi" />
        <result column="HAOBIE" property="haobie" />
        <result column="YIZHU" property="yizhu" />
        <result column="PRONAME" property="proname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DATE1, BIAOSHI, HAOBIE, YIZHU, PRONAME
    </sql>

</mapper>
