<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LSitemstaticMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LSitemstatic">
        <id column="STATICDATE" property="staticdate" />
        <result column="SINGLEITEMCODE" property="singleitemcode" />
        <result column="CPATIENTNUMBER" property="cpatientnumber" />
        <result column="INPATIENTNUMBER" property="inpatientnumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STATICDATE, SINGLEITEMCODE, CPATIENTNUMBER, INPATIENTNUMBER
    </sql>

</mapper>
