<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LSkillstaticMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LSkillstatic">
        <id column="STATICDATE" property="staticdate" />
        <result column="CHECKDEPTID" property="checkdeptid" />
        <result column="MACHINECODE" property="machinecode" />
        <result column="CPATIENTNUMBER" property="cpatientnumber" />
        <result column="CPATIENTPIECE" property="cpatientpiece" />
        <result column="CPATIENTMONEY" property="cpatientmoney" />
        <result column="CPUBLICMONEY" property="cpublicmoney" />
        <result column="CSELFMONEY" property="cselfmoney" />
        <result column="CSPMONEY" property="cspmoney" />
        <result column="INPATIENTNUMBER" property="inpatientnumber" />
        <result column="INPATIENTPIECE" property="inpatientpiece" />
        <result column="INPATIENTMONEY" property="inpatientmoney" />
        <result column="PUBLICMONEY" property="publicmoney" />
        <result column="SELFMONEY" property="selfmoney" />
        <result column="SPMONEY" property="spmoney" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STATICDATE, CHECKDEPTID, MACHINECODE, CPATIENTNUMBER, CPATIENTPIECE, CPATIENTMONEY, CPUBLICMONEY, CSELFMONEY, CSPMONEY, INPATIENTNUMBER, INPATIENTPIECE, INPATIENTMONEY, PUBLICMONEY, SELFMONEY, SPMONEY
    </sql>

</mapper>
