<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LvdaoXinruiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LvdaoXinrui">
        <result column="HISREGNO" property="hisregno" />
        <result column="CARD_NO" property="cardNo" />
        <result column="C3" property="c3" />
        <result column="C4" property="c4" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="ITEMNAME" property="itemname" />
        <result column="PRICE" property="price" />
        <result column="OWN_COST" property="ownCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HISREGNO, CARD_NO, C3, C4, ITEMCODE, ITEMNAME, PRICE, OWN_COST
    </sql>

</mapper>
