<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.LWorkloadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LWorkload">
        <id column="STATICDATE" property="staticdate" />
        <result column="USER_NAME" property="userName" />
        <result column="REAL_NAME" property="realName" />
        <result column="WORKLOAD" property="workload" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STATICDATE, USER_NAME, REAL_NAME, WORKLOAD
    </sql>

</mapper>
