<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.MachineCodeRangeOperationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MachineCodeRangeOperations">
        <result column="SERIAL_NUMBER" property="serialNumber" />
        <result column="YEARCODE" property="yearcode" />
        <result column="MACHINE_CODE" property="machineCode" />
        <result column="OPERATION_TYPE" property="operationType" />
        <result column="OPERATION_TIME" property="operationTime" />
        <result column="OPERATOR_ID" property="operatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERIAL_NUMBER, YEARCODE, MACHINE_CODE, OPERATION_TYPE, OPERATION_TIME, OPERATOR_ID
    </sql>

</mapper>
