<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MdpdqusqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mdpdqusq">
        <id column="SQN_DATE" property="sqnDate" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="QUE_SEQN" property="queSeqn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SQN_DATE, DEPT_CODE, QUE_SEQN
    </sql>

</mapper>
