<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MdpdqumtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mdpdqumt">
        <id column="DRUGED_DEPTCD" property="drugedDeptcd" />
        <result column="DRUGED_DEPTNM" property="drugedDeptnm" />
        <result column="DRUGED_DATE" property="drugedDate" />
        <result column="QUE_TYPE" property="queType" />
        <result column="SET_CODE" property="setCode" />
        <result column="SET_SEQN" property="setSeqn" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="NURSE_CELL_CODE" property="nurseCellCode" />
        <result column="NURSE_CELL_NAME" property="nurseCellName" />
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="BED_NO" property="bedNo" />
        <result column="PATIENT_NO" property="patientNo" />
        <result column="NAME" property="name" />
        <result column="SEX" property="sex" />
        <result column="AGE" property="age" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="USER_CODE" property="userCode" />
        <result column="TRADE_NAME" property="tradeName" />
        <result column="SPECS" property="specs" />
        <result column="BASE_DOSE" property="baseDose" />
        <result column="DOSE_UNIT" property="doseUnit" />
        <result column="DOSE_ONCE" property="doseOnce" />
        <result column="USAGE_CODE" property="usageCode" />
        <result column="ENGLISH_AB" property="englishAb" />
        <result column="USE_NAME" property="useName" />
        <result column="DFQ_FREQ" property="dfqFreq" />
        <result column="DFQ_CEXP" property="dfqCexp" />
        <result column="QTY_TOT" property="qtyTot" />
        <result column="MIN_UNIT" property="minUnit" />
        <result column="SALE_PRICE" property="salePrice" />
        <result column="NOTE_NO" property="noteNo" />
        <result column="PRN_FLAG" property="prnFlag" />
        <result column="DRUGED_OPCD" property="drugedOpcd" />
        <result column="DRUGED_OPNM" property="drugedOpnm" />
        <result column="PRN_DATE" property="prnDate" />
        <result column="PRN_OPCD" property="prnOpcd" />
        <result column="PRN_OPNM" property="prnOpnm" />
        <result column="DAYS" property="days" />
        <result column="POTION" property="potion" />
        <result column="COMB_NO" property="combNo" />
        <result column="SEQUENCE_CODE" property="sequenceCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRUGED_DEPTCD, DRUGED_DEPTNM, DRUGED_DATE, QUE_TYPE, SET_CODE, SET_SEQN, DEPT_CODE, DEPT_NAME, NURSE_CELL_CODE, NURSE_CELL_NAME, INPATIENT_NO, BED_NO, PATIENT_NO, NAME, SEX, AGE, DRUG_CODE, USER_CODE, TRADE_NAME, SPECS, BASE_DOSE, DOSE_UNIT, DOSE_ONCE, USAGE_CODE, ENGLISH_AB, USE_NAME, DFQ_FREQ, DFQ_CEXP, QTY_TOT, MIN_UNIT, SALE_PRICE, NOTE_NO, PRN_FLAG, DRUGED_OPCD, DRUGED_OPNM, PRN_DATE, PRN_OPCD, PRN_OPNM, DAYS, POTION, COMB_NO, SEQUENCE_CODE
    </sql>

</mapper>
