<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MdpdqutdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mdpdqutd">
        <id column="QUE_CODE" property="queCode" />
        <result column="MO_TYPE" property="moType" />
        <result column="USAGE_CODE" property="usageCode" />
        <result column="DRUG_TYPE" property="drugType" />
        <result column="DOSE_MODEL_CODE" property="doseModelCode" />
        <result column="DOSE_MODEL_NAME" property="doseModelName" />
        <result column="DECMPS_STATE" property="decmpsState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        QUE_CODE, MO_TYPE, USAGE_CODE, DRUG_TYPE, DOSE_MODEL_CODE, DOSE_MODEL_NAME, DECMPS_STATE
    </sql>

</mapper>
