<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MedicineNoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MedicineNote">
        <id column="MEDICINECODE" property="medicinecode" />
        <result column="MEDICINETIME" property="medicinetime" />
        <result column="MEDICINENOTE" property="medicinenote" />
        <result column="MEDICINENAME" property="medicinename" />
        <result column="SPEC" property="spec" />
        <result column="SPELL" property="spell" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MEDICINECODE, MEDICINETIME, MEDICINENOTE, MEDICINENAME, SPEC, SPELL
    </sql>

</mapper>
