<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mj">
        <id column="CONSUMERID" property="consumerid" />
        <result column="CONSUMERNO" property="consumerno" />
        <result column="CONSUMERNAME" property="consumername" />
        <result column="CARDNO" property="cardno" />
        <result column="WORKNO" property="workno" />
        <result column="GROUPID" property="groupid" />
        <result column="GROUPNAME" property="groupname" />
        <result column="ATTENDENABLED" property="attendenabled" />
        <result column="DOORENABLED" property="doorenabled" />
        <result column="BEGINYMD" property="beginymd" />
        <result column="ENDYMD" property="endymd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONSUMERID, CONSUMERNO, CONSUMERNAME, CARDNO, WORKNO, GROUPID, GROUPNAME, ATTENDENABLED, DOORENABLED, BEGINYMD, ENDYMD
    </sql>

</mapper>
