<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MrmbaseMzDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MrmbaseMzDict">
        <id column="CATEGORY" property="category" />
        <result column="ITEM_ID" property="itemId" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="SPELL" property="spell" />
        <result column="BZ1" property="bz1" />
        <result column="BZ2" property="bz2" />
        <result column="HIS_ID" property="hisId" />
        <result column="MR_CODE" property="mrCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CATEGORY, ITEM_ID, ITEM_NAME, SPELL, BZ1, BZ2, HIS_ID, MR_CODE
    </sql>

</mapper>
