<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.Mrms167eMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mrms167e">
        <result column="E167_REASON" property="e167Reason" />
        <result column="E167_NAME" property="e167Name" />
        <result column="SUM_ALL" property="sumAll" />
        <result column="SUM_PART" property="sumPart" />
        <result column="RTN_1" property="rtn1" />
        <result column="RTN_2" property="rtn2" />
        <result column="RTN_3" property="rtn3" />
        <result column="RTN_4" property="rtn4" />
        <result column="INBED_DAYS" property="inbedDays" />
        <result column="PARENTITEM" property="parentitem" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        E167_REASON, E167_NAME, SUM_ALL, SUM_PART, RTN_1, RTN_2, RTN_3, RTN_4, INBED_DAYS, PARENTITEM
    </sql>

</mapper>
