<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MrmsftypMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mrmsftyp">
        <id column="REPT_TYPE" property="reptType" />
        <result column="REPT_NAME" property="reptName" />
        <result column="FEE_ID" property="feeId" />
        <result column="FEE_NAME" property="feeName" />
        <result column="OPER_MAN" property="operMan" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REPT_TYPE, REPT_NAME, FEE_ID, FEE_NAME, OPER_MAN, OPER_DATE
    </sql>

</mapper>
