<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MrmsrpgpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mrmsrpgp">
        <id column="STAT_TYPE" property="statType" />
        <result column="STAT_KIND" property="statKind" />
        <result column="STAT_NAME" property="statName" />
        <result column="STAT_NOTE" property="statNote" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAT_TYPE, STAT_KIND, STAT_NAME, STAT_NOTE
    </sql>

</mapper>
