<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MrmsDeptClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MrmsDeptClass">
        <result column="CLASS_CODE" property="classCode" />
        <result column="CLASS_NAME" property="className" />
        <result column="CLASS_DEPTCODE" property="classDeptcode" />
        <result column="CLASS_DEPTNAME" property="classDeptname" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="OFFICE_DEPT" property="officeDept" />
        <result column="SORT_NUMBER" property="sortNumber" />
        <result column="PAR_TYPE" property="parType" />
        <result column="YNVALID" property="ynvalid" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="BED_STAND" property="bedStand" />
        <result column="IFHAND" property="ifhand" />
        <result column="IFSHOW" property="ifshow" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CLASS_CODE, CLASS_NAME, CLASS_DEPTCODE, CLASS_DEPTNAME, DEPT_CODE, OFFICE_DEPT, SORT_NUMBER, PAR_TYPE, YNVALID, DEPT_NAME, BED_STAND, IFHAND, IFSHOW
    </sql>

</mapper>
