<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.Mrmsrpt2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mrmsrpt2">
        <id column="SDEPT_CODE" property="sdeptCode" />
        <result column="SDEPT_NAME" property="sdeptName" />
        <result column="STAT_KIND" property="statKind" />
        <result column="STAT_NAME" property="statName" />
        <result column="PATIENT_OUT" property="patientOut" />
        <result column="BED_DAYSOP2" property="bedDaysop2" />
        <result column="COST_ALL" property="costAll" />
        <result column="COST_BEDS" property="costBeds" />
        <result column="COST_DRUG" property="costDrug" />
        <result column="COST_OPER" property="costOper" />
        <result column="COST_CURE" property="costCure" />
        <result column="ZG01_COST_ALL" property="zg01CostAll" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SDEPT_CODE, SDEPT_NAME, STAT_KIND, STAT_NAME, PATIENT_OUT, BED_DAYSOP2, COST_ALL, COST_BEDS, COST_DRUG, COST_OPER, COST_CURE, ZG01_COST_ALL
    </sql>

</mapper>
