<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MServicesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MServices">
        <id column="SERVICES_CODE" property="servicesCode" />
        <result column="SERVICES_NAME" property="servicesName" />
        <result column="FEE_TYPE" property="feeType" />
        <result column="F_LEVEL" property="fLevel" />
        <result column="HOST_CLASS" property="hostClass" />
        <result column="BED_CLASS" property="bedClass" />
        <result column="SANTARD" property="santard" />
        <result column="S_RADIO" property="sRadio" />
        <result column="REMARK" property="remark" />
        <result column="SP_FLAG" property="spFlag" />
        <result column="ACITON_CODE" property="acitonCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERVICES_CODE, SERVICES_NAME, FEE_TYPE, F_LEVEL, HOST_CLASS, BED_CLASS, SANTARD, S_RADIO, REMARK, SP_FLAG, ACITON_CODE
    </sql>

</mapper>
