<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MzdjbDownloadLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MzdjbDownloadLog">
        <id column="SEQNO" property="seqno" />
        <result column="IPADDRESS" property="ipaddress" />
        <result column="MACHINENAME" property="machinename" />
        <result column="MAC" property="mac" />
        <result column="DOWN_DATE" property="downDate" />
        <result column="FLAG" property="flag" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQNO, IPADDRESS, MACHINENAME, MAC, DOWN_DATE, FLAG, REMARK
    </sql>

</mapper>
