<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MzOtc2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MzOtc2">
        <id column="NUM_NO" property="numNo" />
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="INVOICE_NO" property="invoiceNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="RECIPE_YY" property="recipeYy" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPERTOR" property="opertor" />
        <result column="REMARK" property="remark" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="NAME" property="name" />
        <result column="SEX" property="sex" />
        <result column="PAYKIND" property="paykind" />
        <result column="SEEDEPT" property="seedept" />
        <result column="OWN_COST" property="ownCost" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="BZ" property="bz" />
        <result column="SPEC" property="spec" />
        <result column="PRICE" property="price" />
        <result column="QTY" property="qty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NUM_NO, RECIPE_NO, CARD_NO, INVOICE_NO, REG_DATE, RECIPE_YY, OPER_DATE, OPERTOR, REMARK, DRUG_CODE, DRUG_NAME, NAME, SEX, PAYKIND, SEEDEPT, OWN_COST, DOCT_CODE, BZ, SPEC, PRICE, QTY
    </sql>

</mapper>
