<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.MzsyjmzsrsCkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MzsyjmzsrsCk">
        <result column="JZBS" property="jzbs" />
        <result column="HAOBIE" property="haobie" />
        <result column="PROJECT" property="project" />
        <result column="NAME" property="name" />
        <result column="YZ_DATE" property="yzDate" />
        <result column="SF_STATUS" property="sfStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        JZBS, HAOBIE, PROJECT, NAME, YZ_DATE, SF_STATUS
    </sql>

</mapper>
