<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.NrsexedwMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Nrsexedw">
        <id column="EXEC_PRINT_DW" property="execPrintDw" />
        <result column="EXEC_PRN_DWNM" property="execPrnDwnm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EXEC_PRINT_DW, EXEC_PRN_DWNM
    </sql>

</mapper>
