<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.NrsGroupDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsGroupDetail">
        <result column="GROUPID" property="groupid" />
        <result column="PRE_GROUP" property="preGroup" />
        <result column="LONGSHORT" property="longshort" />
        <result column="EXE_DEPT_CODE" property="exeDeptCode" />
        <result column="QTY" property="qty" />
        <result column="REMARK" property="remark" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="ICD_CODE" property="icdCode" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="USAGE_NAME" property="usageName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GROUPID, PRE_GROUP, LONGSHORT, EXE_DEPT_CODE, QTY, REMARK, OPER_CODE, OPER_DATE, ICD_CODE, ITEM_CODE, USAGE_NAME
    </sql>

</mapper>
