<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.NrsGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsGroup">
        <id column="GROUPID" property="groupid" />
        <result column="GROUPNAME" property="groupname" />
        <result column="GROUPTYPE" property="grouptype" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="REMARK" property="remark" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="SPELL_CODE" property="spellCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GROUPID, GROUPNAME, GROUPTYPE, DEPT_CODE, DOCT_CODE, REMARK, OPER_CODE, OPER_DATE, SPELL_CODE
    </sql>

</mapper>
