<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.NrsLfchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsLfch">
        <id column="INPATIENT_NO" property="inpatientNo" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="STATION_CODE" property="stationCode" />
        <result column="STATION_NAME" property="stationName" />
        <result column="BED_NO" property="bedNo" />
        <result column="PATIENT_NO" property="patientNo" />
        <result column="NAME" property="name" />
        <result column="IN_DATE" property="inDate" />
        <result column="LFCH_DATE" property="lfchDate" />
        <result column="LFCH_BRTH" property="lfchBrth" />
        <result column="LFCH_PULS" property="lfchPuls" />
        <result column="LFCH_HEAT" property="lfchHeat" />
        <result column="LFCH_BLDH" property="lfchBldh" />
        <result column="LFCH_BLDL" property="lfchBldl" />
        <result column="LFCH_FLAG" property="lfchFlag" />
        <result column="LFCH_NOTE" property="lfchNote" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_NAME" property="operName" />
        <result column="DROP_HEAT" property="dropHeat" />
        <result column="LFCH_HEAT_DOWN" property="lfchHeatDown" />
        <result column="LFCH_STYLE" property="lfchStyle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, DEPT_NAME, STATION_CODE, STATION_NAME, BED_NO, INPATIENT_NO, PATIENT_NO, NAME, IN_DATE, LFCH_DATE, LFCH_BRTH, LFCH_PULS, LFCH_HEAT, LFCH_BLDH, LFCH_BLDL, LFCH_FLAG, LFCH_NOTE, OPER_CODE, OPER_NAME, DROP_HEAT, LFCH_HEAT_DOWN, LFCH_STYLE
    </sql>

</mapper>
