<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.NrsShiftapplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsShiftapply">
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="HAPPEN_NO" property="happenNo" />
        <result column="OLD_DEPT_CODE" property="oldDeptCode" />
        <result column="OLD_DEPT_NAME" property="oldDeptName" />
        <result column="NEW_DEPT_CODE" property="newDeptCode" />
        <result column="NEW_DEPT_NAME" property="newDeptName" />
        <result column="SHIFT_CAUSE" property="shiftCause" />
        <result column="SHIFT_STATE" property="shiftState" />
        <result column="CONFIRM_DATE" property="confirmDate" />
        <result column="CONFIRM_CODE" property="confirmCode" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DTIME" property="operDtime" />
        <result column="CANCEL_DATE" property="cancelDate" />
        <result column="CANCEL_CODE" property="cancelCode" />
        <result column="NURSE_CELL_CODE" property="nurseCellCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, HAPPEN_NO, OLD_DEPT_CODE, OLD_DEPT_NAME, NEW_DEPT_CODE, NEW_DEPT_NAME, SHIFT_CAUSE, SHIFT_STATE, CONFIRM_DATE, CONFIRM_CODE, OPER_CODE, OPER_DTIME, CANCEL_DATE, CANCEL_CODE, NURSE_CELL_CODE
    </sql>

</mapper>
