<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.NrsTendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsTend">
        <id column="INPATIENT_NO" property="inpatientNo" />
        <result column="IN_WAY" property="inWay" />
        <result column="IN_ACTION" property="inAction" />
        <result column="TEND_EXAM_T" property="tendExamT" />
        <result column="TEND_EXAM_P" property="tendExamP" />
        <result column="TEND_EXAM_R" property="tendExamR" />
        <result column="TEND_EXAM_BP" property="tendExamBp" />
        <result column="TEND_EXAM_KG" property="tendExamKg" />
        <result column="CON_STATUS" property="conStatus" />
        <result column="PUPIL" property="pupil" />
        <result column="ECHO" property="echo" />
        <result column="WATER" property="water" />
        <result column="FACE" property="face" />
        <result column="BREATH" property="breath" />
        <result column="WELL" property="well" />
        <result column="PHLEGM" property="phlegm" />
        <result column="KIND" property="kind" />
        <result column="BLOOD" property="blood" />
        <result column="HEART" property="heart" />
        <result column="BEAT" property="beat" />
        <result column="REMARK" property="remark" />
        <result column="SKIN" property="skin" />
        <result column="SORE" property="sore" />
        <result column="SLEEP" property="sleep" />
        <result column="DRINK" property="drink" />
        <result column="D_REMARK" property="dRemark" />
        <result column="COMFORT" property="comfort" />
        <result column="PART" property="part" />
        <result column="CHARACTOR" property="charactor" />
        <result column="SPORT" property="sport" />
        <result column="UNACTION_U" property="unactionU" />
        <result column="UNACTION_D" property="unactionD" />
        <result column="SELF" property="self" />
        <result column="FEELONG" property="feelong" />
        <result column="EYE" property="eye" />
        <result column="LISTEN" property="listen" />
        <result column="SPEAK" property="speak" />
        <result column="PEE" property="pee" />
        <result column="STOOL" property="stool" />
        <result column="ASTRICATION" property="astrication" />
        <result column="SCOUR" property="scour" />
        <result column="FEELING_SELF" property="feelingSelf" />
        <result column="MIND" property="mind" />
        <result column="AGO" property="ago" />
        <result column="FAMILY" property="family" />
        <result column="HYPER" property="hyper" />
        <result column="SIB" property="sib" />
        <result column="COST_WAY" property="costWay" />
        <result column="QITA" property="qita" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_NAME" property="operName" />
        <result column="OPER_TIME" property="operTime" />
        <result column="WRITE" property="write" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, IN_WAY, IN_ACTION, TEND_EXAM_T, TEND_EXAM_P, TEND_EXAM_R, TEND_EXAM_BP, TEND_EXAM_KG, CON_STATUS, PUPIL, ECHO, WATER, FACE, BREATH, WELL, PHLEGM, KIND, BLOOD, HEART, BEAT, REMARK, SKIN, SORE, SLEEP, DRINK, D_REMARK, COMFORT, PART, CHARACTOR, SPORT, UNACTION_U, UNACTION_D, SELF, FEELONG, EYE, LISTEN, SPEAK, PEE, STOOL, ASTRICATION, SCOUR, FEELING_SELF, MIND, AGO, FAMILY, HYPER, SIB, COST_WAY, QITA, OPER_CODE, OPER_NAME, OPER_TIME, WRITE
    </sql>

</mapper>
