<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ObjectUsingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ObjectUsing">
        <id column="OBJECT_DATA" property="objectData" />
        <result column="OBJECT_NAME" property="objectName" />
        <result column="OBJECT_USER" property="objectUser" />
        <result column="TABLE_NAME" property="tableName" />
        <result column="OBJECT_STATUS" property="objectStatus" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="MARK" property="mark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OBJECT_DATA, OBJECT_NAME, OBJECT_USER, TABLE_NAME, OBJECT_STATUS, OPER_CODE, OPER_DATE, MARK
    </sql>

</mapper>
