<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OOpsinfologMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OOpsinfolog">
        <result column="EXEC_SQN" property="execSqn" />
        <result column="INPATIENTNO" property="inpatientno" />
        <result column="PATIENTID" property="patientid" />
        <result column="BEDNO" property="bedno" />
        <result column="NAME" property="name" />
        <result column="SEX" property="sex" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="BLOODKIND" property="bloodkind" />
        <result column="TUTORCODE" property="tutorcode" />
        <result column="TUTORNAME" property="tutorname" />
        <result column="IFQUICK" property="ifquick" />
        <result column="DIATYPE" property="diatype" />
        <result column="DESTINETIME" property="destinetime" />
        <result column="ANAETYPE" property="anaetype" />
        <result column="WASHNURSENUM" property="washnursenum" />
        <result column="CIRCUITENURSENUM" property="circuitenursenum" />
        <result column="PATIENTBRANCHID" property="patientbranchid" />
        <result column="PATIENTROOMID" property="patientroomid" />
        <result column="ADDORDOT" property="addordot" />
        <result column="EXECROOMID" property="execroomid" />
        <result column="APPLYDOCCODE" property="applydoccode" />
        <result column="APPLYDOCNAME" property="applydocname" />
        <result column="APPLYTIME" property="applytime" />
        <result column="APPLYREMARK" property="applyremark" />
        <result column="EXADOCCODE" property="exadoccode" />
        <result column="EXADOCNAME" property="exadocname" />
        <result column="EXAREMARK" property="exaremark" />
        <result column="OPSCOST" property="opscost" />
        <result column="OPSSIZE" property="opssize" />
        <result column="CUTTYPE" property="cuttype" />
        <result column="SCREENUPE" property="screenupe" />
        <result column="OPSTIME" property="opstime" />
        <result column="ROOMID" property="roomid" />
        <result column="OPSDESK" property="opsdesk" />
        <result column="SENDTIME" property="sendtime" />
        <result column="OPSREMARK" property="opsremark" />
        <result column="ANAEREMARK" property="anaeremark" />
        <result column="BLOODUNIT" property="bloodunit" />
        <result column="EXECFLAG" property="execflag" />
        <result column="OPSFLAG" property="opsflag" />
        <result column="ANAEFLAG" property="anaeflag" />
        <result column="USEBLOOD" property="useblood" />
        <result column="OPERATORNAME" property="operatorname" />
        <result column="OPERATORCODE" property="operatorcode" />
        <result column="USETIME" property="usetime" />
        <result column="AGE" property="age" />
        <result column="INFECTION" property="infection" />
        <result column="EXCANAEROOMID" property="excanaeroomid" />
        <result column="EXADOCBRANCHID" property="exadocbranchid" />
        <result column="EXADOCROOMID" property="exadocroomid" />
        <result column="IFNEWADD" property="ifnewadd" />
        <result column="AGEREMARK" property="ageremark" />
        <result column="IFOPSCOST" property="ifopscost" />
        <result column="IFANAECOST" property="ifanaecost" />
        <result column="YNSELFBLOOD" property="ynselfblood" />
        <result column="BLKINDCODE" property="blkindcode" />
        <result column="BLKINDNAME" property="blkindname" />
        <result column="INFACTION" property="infaction" />
        <result column="IFNEWITEM" property="ifnewitem" />
        <result column="VISITDOCCODE" property="visitdoccode" />
        <result column="VISITDOCNAME" property="visitdocname" />
        <result column="RECEIVEDESKTIME" property="receivedesktime" />
        <result column="AFTEROUTNAME" property="afteroutname" />
        <result column="IFICE" property="ifice" />
        <result column="IFTWICE" property="iftwice" />
        <result column="OPS_ORDER" property="opsOrder" />
        <result column="IFFIRST" property="iffirst" />
        <result column="OTHER_PERSON" property="otherPerson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EXEC_SQN, INPATIENTNO, PATIENTID, BEDNO, NAME, SEX, BIRTHDAY, BLOODKIND, TUTORCODE, TUTORNAME, IFQUICK, DIATYPE, DESTINETIME, ANAETYPE, WASHNURSENUM, CIRCUITENURSENUM, PATIENTBRANCHID, PATIENTROOMID, ADDORDOT, EXECROOMID, APPLYDOCCODE, APPLYDOCNAME, APPLYTIME, APPLYREMARK, EXADOCCODE, EXADOCNAME, EXAREMARK, OPSCOST, OPSSIZE, CUTTYPE, SCREENUPE, OPSTIME, ROOMID, OPSDESK, SENDTIME, OPSREMARK, ANAEREMARK, BLOODUNIT, EXECFLAG, OPSFLAG, ANAEFLAG, USEBLOOD, OPERATORNAME, OPERATORCODE, USETIME, AGE, INFECTION, EXCANAEROOMID, EXADOCBRANCHID, EXADOCROOMID, IFNEWADD, AGEREMARK, IFOPSCOST, IFANAECOST, YNSELFBLOOD, BLKINDCODE, BLKINDNAME, INFACTION, IFNEWITEM, VISITDOCCODE, VISITDOCNAME, RECEIVEDESKTIME, AFTEROUTNAME, IFICE, IFTWICE, OPS_ORDER, IFFIRST, OTHER_PERSON
    </sql>

</mapper>
