<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpAnaedruginfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpAnaedruginfo">
        <id column="ZT_CODE" property="ztCode" />
        <result column="ZT_NAME" property="ztName" />
        <result column="ZT_SPELL" property="ztSpell" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="SPECS" property="specs" />
        <result column="SALE_PRICE" property="salePrice" />
        <result column="DRUG_RATE" property="drugRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZT_CODE, ZT_NAME, ZT_SPELL, DRUG_CODE, DRUG_NAME, SPECS, SALE_PRICE, DRUG_RATE
    </sql>

</mapper>
