<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpAnaerecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpAnaerecord">
        <id column="OPERATIONNO" property="operationno" />
        <result column="RECORDNO" property="recordno" />
        <result column="OPERATION_ITEM" property="operationItem" />
        <result column="OPERATION_DATE" property="operationDate" />
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="SOURCE" property="source" />
        <result column="NAME" property="name" />
        <result column="SEX" property="sex" />
        <result column="ANAE_TYPE" property="anaeType" />
        <result column="ANAE_DATE" property="anaeDate" />
        <result column="ANAE_DOC" property="anaeDoc" />
        <result column="ANAE_HELPER" property="anaeHelper" />
        <result column="ANAE_RESULT" property="anaeResult" />
        <result column="MARK" property="mark" />
        <result column="BEFORE_CLINIC" property="beforeClinic" />
        <result column="IS_BEFORE" property="isBefore" />
        <result column="CHARGE_FLAG" property="chargeFlag" />
        <result column="EASE_PAIN" property="easePain" />
        <result column="VALID_FLAG" property="validFlag" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPERATIONNO, RECORDNO, OPERATION_ITEM, OPERATION_DATE, INPATIENT_NO, CARD_NO, REG_DATE, SOURCE, NAME, SEX, ANAE_TYPE, ANAE_DATE, ANAE_DOC, ANAE_HELPER, ANAE_RESULT, MARK, BEFORE_CLINIC, IS_BEFORE, CHARGE_FLAG, EASE_PAIN, VALID_FLAG, OPER_CODE, OPER_DATE
    </sql>

</mapper>
