<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpChargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpCharge">
        <id column="NOTE_NO" property="noteNo" />
        <result column="SOURCE" property="source" />
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="OPERATIONNO" property="operationno" />
        <result column="OPERATION_TIME" property="operationTime" />
        <result column="TMPL_CODE" property="tmplCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="ITEM_PROPERTY" property="itemProperty" />
        <result column="ITEM_PRICE" property="itemPrice" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="ITEM_COST" property="itemCost" />
        <result column="IF_CONFIRM" property="ifConfirm" />
        <result column="CONFIRMER" property="confirmer" />
        <result column="CONFIRM_DATE" property="confirmDate" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NOTE_NO, SOURCE, INPATIENT_NO, CARD_NO, OPERATIONNO, OPERATION_TIME, TMPL_CODE, DEPT_CODE, ITEM_CODE, ITEM_NAME, ITEM_PROPERTY, ITEM_PRICE, ITEM_NUM, ITEM_COST, IF_CONFIRM, CONFIRMER, CONFIRM_DATE, OPER_CODE, OPER_DATE
    </sql>

</mapper>
