<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpConsoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpConsole">
        <id column="CONSOLECODE" property="consolecode" />
        <result column="CONSOLENAME" property="consolename" />
        <result column="SPELL" property="spell" />
        <result column="ROOMID" property="roomid" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="ATTRIBUTE" property="attribute" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONSOLECODE, CONSOLENAME, SPELL, ROOMID, DEPT_CODE, ATTRIBUTE
    </sql>

</mapper>
