<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpDatumkindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpDatumkind">
        <id column="KINDCODE" property="kindcode" />
        <result column="KINDNAME" property="kindname" />
        <result column="SPELL" property="spell" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        KINDCODE, KINDNAME, SPELL
    </sql>

</mapper>
