<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpOutsidedocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpOutsidedoc">
        <id column="DOC_CODE" property="docCode" />
        <result column="DOC_NAME" property="docName" />
        <result column="DOC_SEX" property="docSex" />
        <result column="DOC_AGE" property="docAge" />
        <result column="DOC_LEVEL" property="docLevel" />
        <result column="IN_HOS" property="inHos" />
        <result column="MARK" property="mark" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DOC_CODE, DOC_NAME, DOC_SEX, DOC_AGE, DOC_LEVEL, IN_HOS, MARK, OPER_CODE, OPER_DATE
    </sql>

</mapper>
