<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OpPfGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpPfGroup">
        <id column="UNDRUG_CODE" property="undrugCode" />
        <result column="UNDRUG_NAME" property="undrugName" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="GROUPID" property="groupid" />
        <result column="ORDERID" property="orderid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UNDRUG_CODE, UNDRUG_NAME, DEPT_CODE, GROUPID, ORDERID
    </sql>

</mapper>
