<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdCasemodelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdCasemodel">
        <id column="GROUP_ID" property="groupId" />
        <result column="GROUP_NAME" property="groupName" />
        <result column="GROUP_TYPE" property="groupType" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="SPELL_CODE" property="spellCode" />
        <result column="HOST_TELL" property="hostTell" />
        <result column="CURRENT_ILLNESS" property="currentIllness" />
        <result column="ANAMNESIS" property="anamnesis" />
        <result column="ALLERGEN" property="allergen" />
        <result column="CHECKBODY" property="checkbody" />
        <result column="REMARK" property="remark" />
        <result column="INDIVIDUAL" property="individual" />
        <result column="OTHER" property="other" />
        <result column="ADMINICAL" property="adminical" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GROUP_ID, GROUP_NAME, GROUP_TYPE, DEPT_CODE, DOCT_CODE, SPELL_CODE, HOST_TELL, CURRENT_ILLNESS, ANAMNESIS, ALLERGEN, CHECKBODY, REMARK, INDIVIDUAL, OTHER, ADMINICAL
    </sql>

</mapper>
