<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdDoctLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdDoctLimit">
        <id column="ID" property="id" />
        <result column="LIMIT_NAME" property="limitName" />
        <result column="USED_STATE" property="usedState" />
        <result column="REMARK" property="remark" />
        <result column="TYPE" property="type" />
        <result column="RELATE" property="relate" />
        <result column="LIMIT_VALUE" property="limitValue" />
        <result column="YN_ALLOW" property="ynAllow" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, LIMIT_NAME, USED_STATE, REMARK, TYPE, RELATE, LIMIT_VALUE, YN_ALLOW, OPER_CODE, OPER_DATE
    </sql>

</mapper>
