<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdLittledoseDrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdLittledoseDrug">
        <id column="DRUG_CODE" property="drugCode" />
        <result column="TRADE_NAME" property="tradeName" />
        <result column="SPECS" property="specs" />
        <result column="SALE_PRICE" property="salePrice" />
        <result column="PACK_UNIT" property="packUnit" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRUG_CODE, TRADE_NAME, SPECS, SALE_PRICE, PACK_UNIT, OPER_CODE, OPER_DATE
    </sql>

</mapper>
