<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdMeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdMeeting">
        <id column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DIAGNOSE" property="diagnose" />
        <result column="REMARK" property="remark" />
        <result column="FLAG" property="flag" />
        <result column="APPLY_CODE" property="applyCode" />
        <result column="APPLY_DATE" property="applyDate" />
        <result column="MEETING_DATE" property="meetingDate" />
        <result column="EXPORT" property="export" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="WEEK" property="week" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="REG_NO" property="regNo" />
        <result column="MEETING_INFO" property="meetingInfo" />
        <result column="LINK_TEL" property="linkTel" />
        <result column="TEMPERATURE" property="temperature" />
        <result column="BLOODPRESSURE" property="bloodpressure" />
        <result column="PULSE" property="pulse" />
        <result column="NURSE_NO" property="nurseNo" />
        <result column="MAC" property="mac" />
        <result column="ORDER_ID" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, REG_DATE, DEPT_CODE, DIAGNOSE, REMARK, FLAG, APPLY_CODE, APPLY_DATE, MEETING_DATE, EXPORT, SEE_DATE, WEEK, NOON_CODE, REG_NO, MEETING_INFO, LINK_TEL, TEMPERATURE, BLOODPRESSURE, PULSE, NURSE_NO, MAC, ORDER_ID
    </sql>

</mapper>
