<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdPatientLimitdrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdPatientLimitdrug">
        <id column="CARD_NO" property="cardNo" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="TO_DATE" property="toDate" />
        <result column="TRADE_NAME" property="tradeName" />
        <result column="SPECS" property="specs" />
        <result column="ITEM_GRADE" property="itemGrade" />
        <result column="YBID" property="ybid" />
        <result column="MCARD_NO" property="mcardNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, DRUG_CODE, TO_DATE, TRADE_NAME, SPECS, ITEM_GRADE, YBID, MCARD_NO
    </sql>

</mapper>
