<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdRecipeCmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdRecipeCmp">
        <result column="RECIPE_NO_DOCT" property="recipeNoDoct" />
        <result column="RECIPE_NO_NEW" property="recipeNoNew" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECIPE_NO_DOCT, RECIPE_NO_NEW, OPER_CODE, OPER_DATE
    </sql>

</mapper>
