<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdRecipedetailJytMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdRecipedetailJyt">
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="OWN_COST" property="ownCost" />
        <result column="RECORD_DATE" property="recordDate" />
        <result column="PAY_FLAG" property="payFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECIPE_NO, CARD_NO, REG_DATE, DEPT_CODE, DEPT_NAME, DOCT_CODE, OWN_COST, RECORD_DATE, PAY_FLAG
    </sql>

</mapper>
