<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdSeedoctrecordExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdSeedoctrecordExtend">
        <id column="SEE_NO" property="seeNo" />
        <result column="CATEGORY" property="category" />
        <result column="ITEM_ID" property="itemId" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="CHECKED" property="checked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_NO, CATEGORY, ITEM_ID, ITEM_NAME, CHECKED
    </sql>

</mapper>
