<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdTaboodetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdTaboodetail">
        <id column="TABOO_NO" property="tabooNo" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="MAIN_DRUG" property="mainDrug" />
        <result column="MAX_DOSE" property="maxDose" />
        <result column="DRUG_QUALITY" property="drugQuality" />
        <result column="DOSE_MODEL" property="doseModel" />
        <result column="DRUG_TYPE" property="drugType" />
        <result column="MAX_FREQ" property="maxFreq" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TABOO_NO, ITEM_CODE, ITEM_NAME, MAIN_DRUG, MAX_DOSE, DRUG_QUALITY, DOSE_MODEL, DRUG_TYPE, MAX_FREQ, REMARK
    </sql>

</mapper>
