<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OrdWordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdWords">
        <result column="DEPT_CODE" property="deptCode" />
        <result column="USER_CODE" property="userCode" />
        <result column="W_TYPE" property="wType" />
        <result column="W_NAME" property="wName" />
        <result column="W_GROUP" property="wGroup" />
        <result column="OPER" property="oper" />
        <result column="OPER_DATE" property="operDate" />
        <result column="CODE" property="code" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, USER_CODE, W_TYPE, W_NAME, W_GROUP, OPER, OPER_DATE, CODE
    </sql>

</mapper>
