<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.OutpatientArrearageBakMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OutpatientArrearageBak">
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="TRANS_NO" property="transNo" />
        <result column="TRANS_TYPE" property="transType" />
        <result column="PATIENT_NO" property="patientNo" />
        <result column="NAME" property="name" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="BED_NO" property="bedNo" />
        <result column="NOBALANCE_COST" property="nobalanceCost" />
        <result column="NOBALANCE_PRECOST" property="nobalancePrecost" />
        <result column="ARREARAGE_COST" property="arrearageCost" />
        <result column="DEMO" property="demo" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPER_CODE" property="operCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, TRANS_NO, TRANS_TYPE, PATIENT_NO, NAME, DEPT_CODE, BED_NO, NOBALANCE_COST, NOBALANCE_PRECOST, ARREARAGE_COST, DEMO, OPER_DATE, OPER_CODE
    </sql>

</mapper>
