<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.PbcatvldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Pbcatvld">
        <result column="PBV_NAME" property="pbvName" />
        <result column="PBV_VALD" property="pbvVald" />
        <result column="PBV_TYPE" property="pbvType" />
        <result column="PBV_CNTR" property="pbvCntr" />
        <result column="PBV_MSG" property="pbvMsg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PBV_NAME, PBV_VALD, PBV_TYPE, PBV_CNTR, PBV_MSG
    </sql>

</mapper>
