<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.PmiMergeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.PmiMerge">
        <id column="PATIENT_ID_MERGED" property="patientIdMerged" />
        <result column="PATIENT_ID_RESERVED" property="patientIdReserved" />
        <result column="OPERATE_DATE" property="operateDate" />
        <result column="OPERATOR_CODE" property="operatorCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_ID_MERGED, PATIENT_ID_RESERVED, OPERATE_DATE, OPERATOR_CODE
    </sql>

</mapper>
