<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.PrControlSysSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.PrControlSysSource">
        <id column="SOURCECODE" property="sourcecode" />
        <result column="ORDERID" property="orderid" />
        <result column="SOURCENAME" property="sourcename" />
        <result column="DATAWINDOW" property="datawindow" />
        <result column="BACK" property="back" />
        <result column="OPERATORNO" property="operatorno" />
        <result column="OPERATORTIME" property="operatortime" />
        <result column="YNPRESCRIPTION" property="ynprescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORDERID, SOURCECODE, SOURCENAME, DATAWINDOW, BACK, OPERATORNO, OPERATORTIME, YNPRESCRIPTION
    </sql>

</mapper>
