<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.QfRecordGreenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.QfRecordGreen">
        <id column="QF_INVOICENO" property="qfInvoiceno" />
        <result column="CARD_NO" property="cardNo" />
        <result column="TOT_COST" property="totCost" />
        <result column="QF_OPERCODE" property="qfOpercode" />
        <result column="QF_OPERDATE" property="qfOperdate" />
        <result column="YN_CHARGE" property="ynCharge" />
        <result column="CHARGE_INVOICENO" property="chargeInvoiceno" />
        <result column="CHARGE_CODE" property="chargeCode" />
        <result column="CHARGE_DATE" property="chargeDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, QF_INVOICENO, TOT_COST, QF_OPERCODE, QF_OPERDATE, YN_CHARGE, CHARGE_INVOICENO, CHARGE_CODE, CHARGE_DATE
    </sql>

</mapper>
