<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.QfWarnOpenAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.QfWarnOpenApp">
        <id column="INPATIENTNO" property="inpatientno" />
        <result column="NAME" property="name" />
        <result column="PATIENTID" property="patientid" />
        <result column="ROOMNAME" property="roomname" />
        <result column="OUGHTACCOUNT" property="oughtaccount" />
        <result column="PREPAYCOST" property="prepaycost" />
        <result column="ZHENDUAN" property="zhenduan" />
        <result column="QF_TYPE" property="qfType" />
        <result column="QF_REASON" property="qfReason" />
        <result column="OPERATOR" property="operator" />
        <result column="APP_DOCT" property="appDoct" />
        <result column="CHECK_DOCT" property="checkDoct" />
        <result column="VIEWS" property="views" />
        <result column="REMARK" property="remark" />
        <result column="LD_DATE" property="ldDate" />
        <result column="LD_DATE_CHECK" property="ldDateCheck" />
        <result column="ROW_NUM" property="rowNum" />
        <result column="APP_BZ" property="appBz" />
        <result column="APP_JF" property="appJf" />
        <result column="MASTER_APP" property="masterApp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NAME, PATIENTID, INPATIENTNO, ROOMNAME, OUGHTACCOUNT, PREPAYCOST, ZHENDUAN, QF_TYPE, QF_REASON, OPERATOR, APP_DOCT, CHECK_DOCT, VIEWS, REMARK, LD_DATE, LD_DATE_CHECK, ROW_NUM, APP_BZ, APP_JF, MASTER_APP
    </sql>

</mapper>
