<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.QryYzinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.QryYzinfo">
        <result column="W_CODE" property="wCode" />
        <result column="W_NAME" property="wName" />
        <result column="W_COMMENT" property="wComment" />
        <result column="W_BELONGTO" property="wBelongto" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        W_CODE, W_NAME, W_COMMENT, W_BELONGTO
    </sql>

</mapper>
