<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.QueueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Queue">
        <id column="QUEUE_ID" property="queueId" />
        <result column="CARD_NO" property="cardNo" />
        <result column="NAME" property="name" />
        <result column="REG_DATE" property="regDate" />
        <result column="SEE_NO" property="seeNo" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="DOCT_NAME" property="doctName" />
        <result column="LOCATION_SET" property="locationSet" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="REGLEVL_NAME" property="reglevlName" />
        <result column="YNDOCTCALL" property="yndoctcall" />
        <result column="YNNURSECALL" property="ynnursecall" />
        <result column="LOCATION_ID" property="locationId" />
        <result column="CALL_DATE" property="callDate" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="REMARKS" property="remarks" />
        <result column="REAL_DOCTNAME" property="realDoctname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        QUEUE_ID, CARD_NO, NAME, REG_DATE, SEE_NO, DEPT_CODE, DEPT_NAME, DOCT_CODE, DOCT_NAME, LOCATION_SET, REGLEVL_CODE, REGLEVL_NAME, YNDOCTCALL, YNNURSECALL, LOCATION_ID, CALL_DATE, NOON_CODE, REMARKS, REAL_DOCTNAME
    </sql>

</mapper>
