<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.QyqkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Qyqk">
        <id column="STATIC_DATE" property="staticDate" />
        <result column="JGMC" property="jgmc" />
        <result column="ZRS" property="zrs" />
        <result column="ZDRQ" property="zdrq" />
        <result column="ZRSQY" property="zrsqy" />
        <result column="ZDRQQY" property="zdrqqy" />
        <result column="GXYQY" property="gxyqy" />
        <result column="TNBQY" property="tnbqy" />
        <result column="LNRQY" property="lnrqy" />
        <result column="JSZAQY" property="jszaqy" />
        <result column="CJRQYL" property="cjrqyl" />
        <result column="ETQYL" property="etqyl" />
        <result column="YCFQYL" property="ycfqyl" />
        <result column="JSJTQYL" property="jsjtqyl" />
        <result column="FJHQYL" property="fjhqyl" />
        <result column="PKRKQYL" property="pkrkqyl" />
        <result column="LJRQQYL" property="ljrqqyl" />
        <result column="QYLDF" property="qyldf" />
        <result column="LJZDRQQYL" property="ljzdrqqyl" />
        <result column="ZDRQQYLDF" property="zdrqqyldf" />
        <result column="GXYHZQYL" property="gxyhzqyl" />
        <result column="GXYHZQYDF" property="gxyhzqydf" />
        <result column="TNBHZQYL" property="tnbhzqyl" />
        <result column="TNBHZQYDF" property="tnbhzqydf" />
        <result column="LNRQYL" property="lnrqyl" />
        <result column="LNRQYLDF" property="lnrqyldf" />
        <result column="JSZAQYL" property="jszaqyl" />
        <result column="JSZAQYLDF" property="jszaqyldf" />
        <result column="CJRQYLDF" property="cjrqyldf" />
        <result column="ETQYLDF" property="etqyldf" />
        <result column="YCFQYLDF" property="ycfqyldf" />
        <result column="JSJTQYLDF" property="jsjtqyldf" />
        <result column="FJHQYLDF" property="fjhqyldf" />
        <result column="PKRKQYLDF" property="pkrkqyldf" />
        <result column="ZF" property="zf" />
        <result column="LNRDS" property="lnrds" />
        <result column="JSZADS" property="jszads" />
        <result column="UPLOAD_DATE" property="uploadDate" />
        <result column="QYSJ" property="qysj" />
        <result column="TDMC" property="tdmc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        JGMC, ZRS, ZDRQ, ZRSQY, ZDRQQY, GXYQY, TNBQY, LNRQY, JSZAQY, CJRQYL, ETQYL, YCFQYL, JSJTQYL, FJHQYL, PKRKQYL, LJRQQYL, QYLDF, LJZDRQQYL, ZDRQQYLDF, GXYHZQYL, GXYHZQYDF, TNBHZQYL, TNBHZQYDF, LNRQYL, LNRQYLDF, JSZAQYL, JSZAQYLDF, CJRQYLDF, ETQYLDF, YCFQYLDF, JSJTQYLDF, FJHQYLDF, PKRKQYLDF, ZF, LNRDS, JSZADS, STATIC_DATE, UPLOAD_DATE, QYSJ, TDMC
    </sql>

</mapper>
