<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.RBarcodePrintRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RBarcodePrintRecord">
        <id column="HAPPEN_NO" property="happenNo" />
        <result column="PRINT_TYPE" property="printType" />
        <result column="START_NO" property="startNo" />
        <result column="END_NO" property="endNo" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HAPPEN_NO, PRINT_TYPE, START_NO, END_NO, OPER_CODE, OPER_DATE
    </sql>

</mapper>
