<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.RDeptStaticXinjiaohaoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RDeptStaticXinjiaohao">
        <result column="DEPT_FUNCTIONCODE" property="deptFunctioncode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DEPTTYPELEVEL" property="depttypelevel" />
        <result column="ORDERID" property="orderid" />
        <result column="DEPTORDERID" property="deptorderid" />
        <result column="DEPTKIND" property="deptkind" />
        <result column="SUPERIORDEPTCODE" property="superiordeptcode" />
        <result column="OPERATORID" property="operatorid" />
        <result column="OPERATORTIME" property="operatortime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_FUNCTIONCODE, DEPT_CODE, DEPT_NAME, DEPTTYPELEVEL, ORDERID, DEPTORDERID, DEPTKIND, SUPERIORDEPTCODE, OPERATORID, OPERATORTIME
    </sql>

</mapper>
