<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.RDoctreglmtDetailQiehuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RDoctreglmtDetailQiehuan">
        <result column="LMTNO" property="lmtno" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="TIME_CODE" property="timeCode" />
        <result column="REG_START" property="regStart" />
        <result column="REG_END" property="regEnd" />
        <result column="YYHY" property="yyhy" />
        <result column="STATUS" property="status" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="REDUCED_FLAG" property="reducedFlag" />
        <result column="SEQ_TIMECODE" property="seqTimecode" />
        <result column="TIME_VIEW" property="timeView" />
        <result column="FSDPB" property="fsdpb" />
        <result column="ADD_SOURCE" property="addSource" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LMTNO, NOON_CODE, EMPL_CODE, DEPT_CODE, REGLEVL_CODE, TIME_CODE, REG_START, REG_END, YYHY, STATUS, CARD_NO, REG_DATE, SEE_DATE, REDUCED_FLAG, SEQ_TIMECODE, TIME_VIEW, FSDPB, ADD_SOURCE, OPER_CODE, OPER_DATE
    </sql>

</mapper>
