<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.REmployeeAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.REmployeeArea">
        <id column="EMPL_CODE" property="emplCode" />
        <result column="EMPL_NAME" property="emplName" />
        <result column="YN_XINYUAN" property="ynXinyuan" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EMPL_CODE, EMPL_NAME, YN_XINYUAN
    </sql>

</mapper>
