<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.RMariMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RMari">
        <id column="MARI_CODE" property="mariCode" />
        <result column="MARI" property="mari" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPER_CODE" property="operCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MARI_CODE, MARI, OPER_DATE, OPER_CODE
    </sql>

</mapper>
