<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.RRegisterXtylMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RRegisterXtyl">
        <id column="ID" property="id" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="CARD_NO" property="cardNo" />
        <result column="NAME" property="name" />
        <result column="IDENNO" property="idenno" />
        <result column="FLAG" property="flag" />
        <result column="UPLOADTIME" property="uploadtime" />
        <result column="REG_DATE" property="regDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SEE_DATE, CARD_NO, NAME, IDENNO, FLAG, UPLOADTIME, REG_DATE
    </sql>

</mapper>
