<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.RRegisterTuihaologMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RRegisterTuihaolog">
        <id column="CARD_NO" property="cardNo" />
        <result column="PATI_NAME" property="patiName" />
        <result column="REG_DATE" property="regDate" />
        <result column="DOCT_NAME" property="doctName" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="IPADDRESS" property="ipaddress" />
        <result column="MACADDRESS" property="macaddress" />
        <result column="MACHINENAME" property="machinename" />
        <result column="OPER_ID" property="operId" />
        <result column="OPER_DATE" property="operDate" />
        <result column="QUIT_TYPE" property="quitType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, PATI_NAME, REG_DATE, DOCT_NAME, DEPT_NAME, IPADDRESS, MACADDRESS, MACHINENAME, OPER_ID, OPER_DATE, QUIT_TYPE
    </sql>

</mapper>
