<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SmsHqlisTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SmsHqlisTime">
        <result column="ROOMID" property="roomid" />
        <result column="ROOMNAME" property="roomname" />
        <result column="STARTTIME" property="starttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROOMID, ROOMNAME, STARTTIME
    </sql>

</mapper>
