<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SmsHqlisDetailTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SmsHqlisDetailTime">
        <id column="IPM_SQN" property="ipmSqn" />
        <result column="OPERATORTIME" property="operatortime" />
        <result column="FIRST_OPEN_TIME" property="firstOpenTime" />
        <result column="FIRST_OPEN_OPER" property="firstOpenOper" />
        <result column="FIRST_OPEN" property="firstOpen" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        IPM_SQN, OPERATORTIME, FIRST_OPEN_TIME, FIRST_OPEN_OPER, FIRST_OPEN
    </sql>

</mapper>
