<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SmsSendDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SmsSendDetail">
        <id column="SMS_NO" property="smsNo" />
        <result column="TELPHONE" property="telphone" />
        <result column="NAME" property="name" />
        <result column="SMS_DETAIL" property="smsDetail" />
        <result column="SEND_TIME" property="sendTime" />
        <result column="YNSEND" property="ynsend" />
        <result column="OPERATOR" property="operator" />
        <result column="OPERTIME" property="opertime" />
        <result column="SUBSTATDES" property="substatdes" />
        <result column="SUBSTAT" property="substat" />
        <result column="YNTRANS" property="yntrans" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SMS_NO, TELPHONE, NAME, SMS_DETAIL, SEND_TIME, YNSEND, OPERATOR, OPERTIME, SUBSTATDES, SUBSTAT, YNTRANS
    </sql>

</mapper>
