<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SParamtableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SParamtable">
        <id column="PARAMTYPE" property="paramtype" />
        <result column="PARAMNAME" property="paramname" />
        <result column="PARAMVALUE" property="paramvalue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PARAMTYPE, PARAMNAME, PARAMVALUE
    </sql>

</mapper>
