<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SpecialDiagnosisRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SpecialDiagnosisRecord">
        <id column="SERIAL_NUMBER" property="serialNumber" />
        <result column="ICD_CODE" property="icdCode" />
        <result column="ICD_NAME" property="icdName" />
        <result column="DELETE_TIME" property="deleteTime" />
        <result column="DELETE_OPERATOR" property="deleteOperator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ICD_CODE, ICD_NAME, DELETE_TIME, DELETE_OPERATOR, SERIAL_NUMBER
    </sql>

</mapper>
