<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SpecialMedicationDiagnosisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SpecialMedicationDiagnosis">
        <id column="ICD_CODE" property="icdCode" />
        <result column="SPELL_CODE" property="spellCode" />
        <result column="ICD_NAME" property="icdName" />
        <result column="LAST_OPERATION_TIME" property="lastOperationTime" />
        <result column="LAST_OPERATOR" property="lastOperator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ICD_CODE, SPELL_CODE, ICD_NAME, LAST_OPERATION_TIME, LAST_OPERATOR
    </sql>

</mapper>
