<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.SysItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SysItem">
        <result column="OPERID" property="operid" />
        <result column="OPERBS" property="operbs" />
        <result column="USR_NAME" property="usrName" />
        <result column="USR_PASSWORD" property="usrPassword" />
        <result column="REAL_NAME" property="realName" />
        <result column="KIND_CODE" property="kindCode" />
        <result column="BRANCHNAME" property="branchname" />
        <result column="ROOMID" property="roomid" />
        <result column="ROOMNAME" property="roomname" />
        <result column="GROUPNAME" property="groupname" />
        <result column="GROUPID" property="groupid" />
        <result column="NURSEID" property="nurseid" />
        <result column="NURSENAME" property="nursename" />
        <result column="DEPARTMENTID" property="departmentid" />
        <result column="DEPARTMENTNAME" property="departmentname" />
        <result column="BRANCHID" property="branchid" />
        <result column="DOCTORID" property="doctorid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPERID, OPERBS, USR_NAME, USR_PASSWORD, REAL_NAME, KIND_CODE, BRANCHNAME, ROOMID, ROOMNAME, GROUPNAME, GROUPID, NURSEID, NURSENAME, DEPARTMENTID, DEPARTMENTNAME, BRANCHID, DOCTORID
    </sql>

</mapper>
