<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.TempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Temp">
        <result column="MACHINECODE" property="machinecode" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="ITEMNAME" property="itemname" />
        <result column="SEX" property="sex" />
        <result column="UPAGE" property="upage" />
        <result column="DOWNAGE" property="downage" />
        <result column="UPSTANDARD" property="upstandard" />
        <result column="DOWNSTANDARD" property="downstandard" />
        <result column="RESULTUNIT" property="resultunit" />
        <result column="PRINTNUM" property="printnum" />
        <result column="OPERATORID" property="operatorid" />
        <result column="CHANGEDATE" property="changedate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MACHINECODE, ITEMCODE, ITEMNAME, SEX, UPAGE, DOWNAGE, UPSTANDARD, DOWNSTANDARD, RESULTUNIT, PRINTNUM, OPERATORID, CHANGEDATE
    </sql>

</mapper>
