<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.TLianyh1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.TLianyh1">
        <result column="DRUG_DEPT_CODE" property="drugDeptCode" />
        <result column="CHECK_NUM" property="checkNum" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="BATCH_NO" property="batchNo" />
        <result column="APPROVE_PRICE" property="approvePrice" />
        <result column="OPER_CODE" property="operCode" />
        <result column="CHECK_SUM" property="checkSum" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRUG_DEPT_CODE, CHECK_NUM, DRUG_CODE, BATCH_NO, APPROVE_PRICE, OPER_CODE, CHECK_SUM, OPER_DATE
    </sql>

</mapper>
