<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.TriSeeRoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.TriSeeRoom">
        <id column="ROOM_CODE" property="roomCode" />
        <result column="TRIAGEDEPT_CODE" property="triagedeptCode" />
        <result column="ROOM_NAME" property="roomName" />
        <result column="ORDERID" property="orderid" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TRIAGEDEPT_CODE, ROOM_CODE, ROOM_NAME, ORDERID, OPER_CODE, OPER_DATE
    </sql>

</mapper>
