<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.TsybyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Tsyby">
        <id column="STATIC_DATE" property="staticDate" />
        <result column="JGMC" property="jgmc" />
        <result column="TDMC" property="tdmc" />
        <result column="TDZXM" property="tdzxm" />
        <result column="YISHENG" property="yisheng" />
        <result column="YAOJISHI" property="yaojishi" />
        <result column="HUSHI" property="hushi" />
        <result column="FANGBAO" property="fangbao" />
        <result column="BIAOY" property="biaoy" />
        <result column="TS" property="ts" />
        <result column="TSYBY" property="tsyby" />
        <result column="UPLOAD_DATE" property="uploadDate" />
        <result column="QYSJ" property="qysj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        JGMC, TDMC, TDZXM, YISHENG, YAOJISHI, HUSHI, FANGBAO, BIAOY, TS, TSYBY, STATIC_DATE, UPLOAD_DATE, QYSJ
    </sql>

</mapper>
