<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.TtmzDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.TtmzData">
        <result column="PATIENT_QTY" property="patientQty" />
        <result column="REG_QTY" property="regQty" />
        <result column="CHARGE_COST" property="chargeCost" />
        <result column="SENDDRUG_COST" property="senddrugCost" />
        <result column="DRUG_DETAIL" property="drugDetail" />
        <result column="UNDRUG_DETAIL" property="undrugDetail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_QTY, REG_QTY, CHARGE_COST, SENDDRUG_COST, DRUG_DETAIL, UNDRUG_DETAIL
    </sql>

</mapper>
