<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.UndrugAdjustPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.UndrugAdjustPrice">
        <id column="SEQUENCE_ADJUST" property="sequenceAdjust" />
        <result column="UNDRUG_CODE" property="undrugCode" />
        <result column="UNIT_PRICE_OLD" property="unitPriceOld" />
        <result column="UNIT_PRICE" property="unitPrice" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_NAME" property="operName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQUENCE_ADJUST, UNDRUG_CODE, UNIT_PRICE_OLD, UNIT_PRICE, OPER_DATE, OPER_CODE, OPER_NAME
    </sql>

</mapper>
