<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.UndrugInfoLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.UndrugInfoLimit">
        <id column="UNDRUG_CODE" property="undrugCode" />
        <result column="UNDRUG_NAME" property="undrugName" />
        <result column="LIMIT_TYPE" property="limitType" />
        <result column="DEPT_LIST" property="deptList" />
        <result column="DOCTOR_LIST" property="doctorList" />
        <result column="ON_LINE" property="onLine" />
        <result column="YFF_ENABLE" property="yffEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UNDRUG_CODE, UNDRUG_NAME, LIMIT_TYPE, DEPT_LIST, DOCTOR_LIST, ON_LINE, YFF_ENABLE
    </sql>

</mapper>
