<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.VAppCrisisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VAppCrisis">
        <result column="CARD_NO" property="cardNo" />
        <result column="CARD_TYPE" property="cardType" />
        <result column="PAT_NAME" property="patName" />
        <result column="ID_CARD_NO" property="idCardNo" />
        <result column="ACCESS_PAT_ID" property="accessPatId" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="CRISIS_NAME" property="crisisName" />
        <result column="REPORT_TIME" property="reportTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, CARD_TYPE, PAT_NAME, ID_CARD_NO, ACCESS_PAT_ID, DEPT_NAME, PROJECT_NAME, CRISIS_NAME, REPORT_TIME
    </sql>

</mapper>
