<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.VAppPscriptdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VAppPscriptdetail">
        <result column="ITEM_NAME" property="itemName" />
        <result column="SEE_NO" property="seeNo" />
        <result column="OWN_COST" property="ownCost" />
        <result column="FEE_STAT_NAME" property="feeStatName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ITEM_NAME, SEE_NO, OWN_COST, FEE_STAT_NAME
    </sql>

</mapper>
