<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.daoMz.VAppInspectionappquerydetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VAppInspectionappquerydetail">
        <result column="MCARD_NO" property="mcardNo" />
        <result column="CARDNO_JYT" property="cardnoJyt" />
        <result column="ID_CARD_TYPE" property="idCardType" />
        <result column="ID_CARD" property="idCard" />
        <result column="START_DATE" property="startDate" />
        <result column="END_DATE" property="endDate" />
        <result column="INSPECTION_ID" property="inspectionId" />
        <result column="INSPECTION_NO" property="inspectionNo" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="INSPECTION_DEPT_NAME" property="inspectionDeptName" />
        <result column="INSPECTION_DEPT_ID" property="inspectionDeptId" />
        <result column="INSPECTION_PLACE" property="inspectionPlace" />
        <result column="APP_PRINT_TIME" property="appPrintTime" />
        <result column="DEPT_NO" property="deptNo" />
        <result column="MAIN_DES" property="mainDes" />
        <result column="NOW_MED_HISTORY" property="nowMedHistory" />
        <result column="BEFORE_MED_HISTORY" property="beforeMedHistory" />
        <result column="CHECK_RECEPTOR" property="checkReceptor" />
        <result column="INSPECT_RESULT" property="inspectResult" />
        <result column="CLINICAL_DIAGNOSIS" property="clinicalDiagnosis" />
        <result column="REQUIREMENTS_PURPOSE" property="requirementsPurpose" />
        <result column="NOTE" property="note" />
        <result column="DOC_ID" property="docId" />
        <result column="DOC_NAME" property="docName" />
        <result column="PAT_ID" property="patId" />
        <result column="PAT_NAME" property="patName" />
        <result column="GENDER" property="gender" />
        <result column="AGE" property="age" />
        <result column="MACHINE_TYPE" property="machineType" />
        <result column="PACSNAME" property="pacsname" />
        <result column="BEIZHU" property="beizhu" />
        <result column="YY_DATE" property="yyDate" />
        <result column="BL_ZYSX" property="blZysx" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MCARD_NO, CARDNO_JYT, ID_CARD_TYPE, ID_CARD, START_DATE, END_DATE, INSPECTION_ID, INSPECTION_NO, ITEM_NAME, INSPECTION_DEPT_NAME, INSPECTION_DEPT_ID, INSPECTION_PLACE, APP_PRINT_TIME, DEPT_NO, MAIN_DES, NOW_MED_HISTORY, BEFORE_MED_HISTORY, CHECK_RECEPTOR, INSPECT_RESULT, CLINICAL_DIAGNOSIS, REQUIREMENTS_PURPOSE, NOTE, DOC_ID, DOC_NAME, PAT_ID, PAT_NAME, GENDER, AGE, MACHINE_TYPE, PACSNAME, BEIZHU, YY_DATE, BL_ZYSX
    </sql>

</mapper>
