<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJiaheMzIpmdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheMzIpmdetail">
        <result column="ACT_ID" property="actId" />
        <result column="PATIENT_ID" property="patientId" />
        <result column="OUTP_ID" property="outpId" />
        <result column="ITEM_CLASS_DL" property="itemClassDl" />
        <result column="ITEM_CLASS_DL_NAME" property="itemClassDlName" />
        <result column="ITEM_CLASS" property="itemClass" />
        <result column="ITEM_CLASS_NAME" property="itemClassName" />
        <result column="ORDER_PROPERTIES" property="orderProperties" />
        <result column="ORDER_PROPERTIES_NAME" property="orderPropertiesName" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="ORD_STATUS" property="ordStatus" />
        <result column="ORD_STATUS_NAME" property="ordStatusName" />
        <result column="ORDER_DEPT" property="orderDept" />
        <result column="ORDER_DEPT_NAME" property="orderDeptName" />
        <result column="ORDER_DOCTOR" property="orderDoctor" />
        <result column="ORDER_DOCTOR_NAME" property="orderDoctorName" />
        <result column="STOP_TIME" property="stopTime" />
        <result column="STOP_DOCTOR" property="stopDoctor" />
        <result column="STOP_DOCTOR_NAME" property="stopDoctorName" />
        <result column="ORDER_TIME" property="orderTime" />
        <result column="DOSAGE" property="dosage" />
        <result column="DOSAGE_UNIT" property="dosageUnit" />
        <result column="INJECTION_IND" property="injectionInd" />
        <result column="ANTIBIOTIC_IND" property="antibioticInd" />
        <result column="AMOUNT" property="amount" />
        <result column="AMOUNT_UNIT" property="amountUnit" />
        <result column="PHARMACY_WAY" property="pharmacyWay" />
        <result column="PHARMACY_WAY_NAME" property="pharmacyWayName" />
        <result column="FREQUENCY" property="frequency" />
        <result column="FREQUENCY_NAME" property="frequencyName" />
        <result column="FREQUENCY_DESC" property="frequencyDesc" />
        <result column="DURATION" property="duration" />
        <result column="DURATION_UNIT" property="durationUnit" />
        <result column="VISIT_TYPE" property="visitType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ACT_ID, PATIENT_ID, OUTP_ID, ITEM_CLASS_DL, ITEM_CLASS_DL_NAME, ITEM_CLASS, ITEM_CLASS_NAME, ORDER_PROPERTIES, ORDER_PROPERTIES_NAME, ORDER_NO, ITEM_CODE, ITEM_NAME, ORD_STATUS, ORD_STATUS_NAME, ORDER_DEPT, ORDER_DEPT_NAME, ORDER_DOCTOR, ORDER_DOCTOR_NAME, STOP_TIME, STOP_DOCTOR, STOP_DOCTOR_NAME, ORDER_TIME, DOSAGE, DOSAGE_UNIT, INJECTION_IND, ANTIBIOTIC_IND, AMOUNT, AMOUNT_UNIT, PHARMACY_WAY, PHARMACY_WAY_NAME, FREQUENCY, FREQUENCY_NAME, FREQUENCY_DESC, DURATION, DURATION_UNIT, VISIT_TYPE
    </sql>

</mapper>
