<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMjEmRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMjEmRegister">
        <result column="REG_DATE" property="regDate" />
        <result column="NAME" property="name" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="CARD_NO" property="cardNo" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="HOME" property="home" />
        <result column="SEE_DOCTNM" property="seeDoctnm" />
        <result column="YN_CHANNEL" property="ynChannel" />
        <result column="GRADE" property="grade" />
        <result column="DIAG_NAME" property="diagName" />
        <result column="LEAVE" property="leave" />
        <result column="SYMPTOM" property="symptom" />
        <result column="RESULT" property="result" />
        <result column="NURSENAME" property="nursename" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="ANIMAL_HEAT" property="animalHeat" />
        <result column="BLOOD_PRESSURE" property="bloodPressure" />
        <result column="MIND" property="mind" />
        <result column="PULSE" property="pulse" />
        <result column="CONTAGION" property="contagion" />
        <result column="COME_TYPE" property="comeType" />
        <result column="BLOOD_OXYGEN" property="bloodOxygen" />
        <result column="BREATH" property="breath" />
        <result column="REMARK" property="remark" />
        <result column="TRIAGESERIALNO" property="triageserialno" />
        <result column="WEIGHT" property="weight" />
        <result column="YNCANCEL" property="yncancel" />
        <result column="CLINIC_NO" property="clinicNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REG_DATE, NAME, SEX_CODE, BIRTHDAY, CARD_NO, DEPT_NAME, HOME, SEE_DOCTNM, YN_CHANNEL, GRADE, DIAG_NAME, LEAVE, SYMPTOM, RESULT, NURSENAME, SEE_DATE, ANIMAL_HEAT, BLOOD_PRESSURE, MIND, PULSE, CONTAGION, COME_TYPE, BLOOD_OXYGEN, BREATH, REMARK, TRIAGESERIALNO, WEIGHT, YNCANCEL, CLINIC_NO
    </sql>

</mapper>
