<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewRegInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewRegInfo">
        <result column="PATIENTID" property="patientid" />
        <result column="NAME" property="name" />
        <result column="SEX" property="sex" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="DOCUMENTNO" property="documentno" />
        <result column="IDENTITY" property="identity" />
        <result column="CHARGETYPE" property="chargetype" />
        <result column="NATION" property="nation" />
        <result column="CONTACTPERSON" property="contactperson" />
        <result column="CONTACTPHONE" property="contactphone" />
        <result column="ADDRESS" property="address" />
        <result column="VISITDATE" property="visitdate" />
        <result column="VISITNO" property="visitno" />
        <result column="CLINICLABEL" property="cliniclabel" />
        <result column="REGISTERNO" property="registerno" />
        <result column="REGISTERTIME" property="registertime" />
        <result column="REGISTERDEPTCODE" property="registerdeptcode" />
        <result column="REGISTERDEPT" property="registerdept" />
        <result column="SERVIALNO" property="servialno" />
        <result column="REGISTEROPERATOR" property="registeroperator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENTID, NAME, SEX, BIRTHDAY, DOCUMENTNO, IDENTITY, CHARGETYPE, NATION, CONTACTPERSON, CONTACTPHONE, ADDRESS, VISITDATE, VISITNO, CLINICLABEL, REGISTERNO, REGISTERTIME, REGISTERDEPTCODE, REGISTERDEPT, SERVIALNO, REGISTEROPERATOR
    </sql>

</mapper>
