<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHlhtMzinvoiceinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtMzinvoiceinfo">
        <result column="INVOICE_DTIME" property="invoiceDtime" />
        <result column="INVOICE_NO" property="invoiceNo" />
        <result column="COST" property="cost" />
        <result column="REAL_COST" property="realCost" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_NAME" property="operName" />
        <result column="PAY_WAY" property="payWay" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPERATORTIME" property="operatortime" />
        <result column="OPERATE_TYPE" property="operateType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INVOICE_DTIME, INVOICE_NO, COST, REAL_COST, OPER_CODE, OPER_NAME, PAY_WAY, OPER_DATE, OPERATORTIME, OPERATE_TYPE
    </sql>

</mapper>
