<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewDictDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewDictDept">
        <result column="DEPTTYPECODE" property="depttypecode" />
        <result column="DEPTTYPENAME" property="depttypename" />
        <result column="DEPTCODE" property="deptcode" />
        <result column="DEPTNAME" property="deptname" />
        <result column="SPECIALFLAG" property="specialflag" />
        <result column="PHONE" property="phone" />
        <result column="ADDRESS" property="address" />
        <result column="INPUTCODE" property="inputcode" />
        <result column="SHORTNAME" property="shortname" />
        <result column="DEPTMEMO" property="deptmemo" />
        <result column="INDEXNO" property="indexno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPTTYPECODE, DEPTTYPENAME, DEPTCODE, DEPTNAME, SPECIALFLAG, PHONE, ADDRESS, INPUTCODE, SHORTNAME, DEPTMEMO, INDEXNO
    </sql>

</mapper>
