<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewPatientRegistrationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewPatientRegistration">
        <result column="REG_ID" property="regId" />
        <result column="TREAT_CARD_NO" property="treatCardNo" />
        <result column="JYT_CARD_NO" property="jytCardNo" />
        <result column="PAT_CODE" property="patCode" />
        <result column="PAT_NAME" property="patName" />
        <result column="PAT_SEX" property="patSex" />
        <result column="DOCTOR_CODE" property="doctorCode" />
        <result column="DOCTOR_NAME" property="doctorName" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="PROF_CODE" property="profCode" />
        <result column="PROF_NAME" property="profName" />
        <result column="REG_TYPE" property="regType" />
        <result column="REG_GRADE" property="regGrade" />
        <result column="REG_FEE" property="regFee" />
        <result column="REG_SEQ_NO" property="regSeqNo" />
        <result column="REG_TIME" property="regTime" />
        <result column="STATUS" property="status" />
        <result column="NOON_FLAG" property="noonFlag" />
        <result column="WITHDRAW_FLAG" property="withdrawFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REG_ID, TREAT_CARD_NO, JYT_CARD_NO, PAT_CODE, PAT_NAME, PAT_SEX, DOCTOR_CODE, DOCTOR_NAME, DEPT_CODE, DEPT_NAME, PROF_CODE, PROF_NAME, REG_TYPE, REG_GRADE, REG_FEE, REG_SEQ_NO, REG_TIME, STATUS, NOON_FLAG, WITHDRAW_FLAG
    </sql>

</mapper>
