<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewDoctSeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewDoctSee">
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="DOCT_NAME" property="doctName" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DTIME" property="regDtime" />
        <result column="PAY_FLAG" property="payFlag" />
        <result column="COST" property="cost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, DOCT_CODE, DOCT_NAME, CARD_NO, REG_DTIME, PAY_FLAG, COST
    </sql>

</mapper>
