<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJiaheMzPatientinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheMzPatientinfo">
        <result column="就诊卡号" property="就诊卡号" />
        <result column="病人姓名" property="病人姓名" />
        <result column="出生日期" property="出生日期" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="性别" property="性别" />
        <result column="身份证号" property="身份证号" />
        <result column="BLOOD_CODE" property="bloodCode" />
        <result column="血型" property="血型" />
        <result column="PROF_CODE" property="profCode" />
        <result column="职业" property="职业" />
        <result column="工作单位" property="工作单位" />
        <result column="籍贯" property="籍贯" />
        <result column="NATION_CODE" property="nationCode" />
        <result column="民族" property="民族" />
        <result column="MARI" property="mari" />
        <result column="婚姻状况" property="婚姻状况" />
        <result column="COUN_CODE" property="counCode" />
        <result column="国籍" property="国籍" />
        <result column="结算类别号" property="结算类别号" />
        <result column="结算类别名称" property="结算类别名称" />
        <result column="门诊病历号" property="门诊病历号" />
        <result column="住院号" property="住院号" />
        <result column="户籍所在省区市" property="户籍所在省区市" />
        <result column="户籍市" property="户籍市" />
        <result column="区县" property="区县" />
        <result column="乡镇街道" property="乡镇街道" />
        <result column="现住址省区市" property="现住址省区市" />
        <result column="现住址市" property="现住址市" />
        <result column="HOME_DISTRICT" property="homeDistrict" />
        <result column="现住址区县" property="现住址区县" />
        <result column="现住址乡镇街道" property="现住址乡镇街道" />
        <result column="病人来源" property="病人来源" />
        <result column="YB_FUN" property="ybFun" />
        <result column="医保险种类别" property="医保险种类别" />
        <result column="京医通卡卡号" property="京医通卡卡号" />
        <result column="单位电话" property="单位电话" />
        <result column="单位邮编" property="单位邮编" />
        <result column="家庭电话" property="家庭电话" />
        <result column="联系人姓名" property="联系人姓名" />
        <result column="联系人电话" property="联系人电话" />
        <result column="建病历时间" property="建病历时间" />
        <result column="社保卡卡号" property="社保卡卡号" />
        <result column="REGISTRATION_TIME" property="registrationTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        就诊卡号, 病人姓名, 出生日期, SEX_CODE, 性别, 身份证号, BLOOD_CODE, 血型, PROF_CODE, 职业, 工作单位, 籍贯, NATION_CODE, 民族, MARI, 婚姻状况, COUN_CODE, 国籍, 结算类别号, 结算类别名称, 门诊病历号, 住院号, 户籍所在省区市, 户籍市, 区县, 乡镇街道, 现住址省区市, 现住址市, HOME_DISTRICT, 现住址区县, 现住址乡镇街道, 病人来源, YB_FUN, 医保险种类别, 京医通卡卡号, 单位电话, 单位邮编, 家庭电话, 联系人姓名, 联系人电话, 建病历时间, 社保卡卡号, REGISTRATION_TIME
    </sql>

</mapper>
