<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJiaheMzInvoicedetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheMzInvoicedetail">
        <result column="INVOICE_NO" property="invoiceNo" />
        <result column="TRANS_TYPE" property="transType" />
        <result column="INVO_NAME" property="invoName" />
        <result column="PUB_COST" property="pubCost" />
        <result column="OWN_COST" property="ownCost" />
        <result column="PAY_COST" property="payCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INVOICE_NO, TRANS_TYPE, INVO_NAME, PUB_COST, OWN_COST, PAY_COST
    </sql>

</mapper>
