<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJiaheJzCheckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheJzCheck">
        <result column="CARD_NO" property="cardNo" />
        <result column="NAME" property="name" />
        <result column="PATIENTID" property="patientid" />
        <result column="REG_DATE" property="regDate" />
        <result column="OPER_DATE" property="operDate" />
        <result column="INDATE" property="indate" />
        <result column="DIAG_NAME" property="diagName" />
        <result column="ASPL_TIME" property="asplTime" />
        <result column="RS_TIME" property="rsTime" />
        <result column="INTIME" property="intime" />
        <result column="JH_TIME" property="jhTime" />
        <result column="OPSTIME" property="opstime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, NAME, PATIENTID, REG_DATE, OPER_DATE, INDATE, DIAG_NAME, ASPL_TIME, RS_TIME, INTIME, JH_TIME, OPSTIME
    </sql>

</mapper>
