<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJhDzblDrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJhDzblDrug">
        <result column="PATIENT_ID" property="patientId" />
        <result column="HIS_VISIT_ID" property="hisVisitId" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="DRUG_SPEC" property="drugSpec" />
        <result column="DRUG_QUANTITY" property="drugQuantity" />
        <result column="DRUG_UNIT" property="drugUnit" />
        <result column="DOSAGE" property="dosage" />
        <result column="DOSAGE_UNIT" property="dosageUnit" />
        <result column="FREQUENCE" property="frequence" />
        <result column="USAGE" property="usage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_ID, HIS_VISIT_ID, DRUG_NAME, DRUG_SPEC, DRUG_QUANTITY, DRUG_UNIT, DOSAGE, DOSAGE_UNIT, FREQUENCE, USAGE
    </sql>

</mapper>
