<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewXtPatientinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewXtPatientinfo">
        <result column="NAME" property="name" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="DISTRICT" property="district" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="IDENNO" property="idenno" />
        <result column="CARD_NO" property="cardNo" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="PACT_CODE" property="pactCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NAME, SEX_CODE, DISTRICT, BIRTHDAY, IDENNO, CARD_NO, MCARD_NO, PACT_CODE
    </sql>

</mapper>
