<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewXtDiseaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewXtDisease">
        <result column="ICD_CODE" property="icdCode" />
        <result column="ICD_NAME" property="icdName" />
        <result column="SICD10" property="sicd10" />
        <result column="SPELL_CODE" property="spellCode" />
        <result column="WB_CODE" property="wbCode" />
        <result column="OP_TIME" property="opTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ICD_CODE, ICD_NAME, SICD10, SPELL_CODE, WB_CODE, OP_TIME
    </sql>

</mapper>
