<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHzyhPatientinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHzyhPatientinfo">
        <result column="BRID" property="brid" />
        <result column="BRXM" property="brxm" />
        <result column="SFZH" property="sfzh" />
        <result column="BRXB" property="brxb" />
        <result column="CSRQ" property="csrq" />
        <result column="LXDH" property="lxdh" />
        <result column="JTZZ" property="jtzz" />
        <result column="LXFS" property="lxfs" />
        <result column="BRLX" property="brlx" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BRID, BRXM, SFZH, BRXB, CSRQ, LXDH, JTZZ, LXFS, BRLX
    </sql>

</mapper>
