<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewQueryAllfeeDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewQueryAllfeeDept">
        <result column="REPORT_CODE" property="reportCode" />
        <result column="FEE_STAT_NAME" property="feeStatName" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="COST" property="cost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REPORT_CODE, FEE_STAT_NAME, DEPT_CODE, COST
    </sql>

</mapper>
