<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewRwzbDrugreportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewRwzbDrugreport">
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="TRANS_TYPE" property="transType" />
        <result column="CARD_NO" property="cardNo" />
        <result column="STOCK_CODE" property="stockCode" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="PAY_FLAG" property="payFlag" />
        <result column="GET_DRUG_FLAG" property="getDrugFlag" />
        <result column="CANCEL_FLAG" property="cancelFlag" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="CARDNO_JYT" property="cardnoJyt" />
        <result column="INVOICE_NO" property="invoiceNo" />
        <result column="DOCT_DEPT" property="doctDept" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECIPE_NO, TRANS_TYPE, CARD_NO, STOCK_CODE, DRUG_CODE, DRUG_NAME, PAY_FLAG, GET_DRUG_FLAG, CANCEL_FLAG, MCARD_NO, CARDNO_JYT, INVOICE_NO, DOCT_DEPT
    </sql>

</mapper>
