<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewYytMenzhenTwoFeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewYytMenzhenTwoFee">
        <result column="FAPIAO" property="fapiao" />
        <result column="CARD_NO" property="cardNo" />
        <result column="YB_CARD_NO" property="ybCardNo" />
        <result column="JYT_CARD_NO" property="jytCardNo" />
        <result column="SHENFENZHENG" property="shenfenzheng" />
        <result column="NAME" property="name" />
        <result column="NUM" property="num" />
        <result column="PRICE" property="price" />
        <result column="TATAL" property="tatal" />
        <result column="ZHANGDAN" property="zhangdan" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FAPIAO, CARD_NO, YB_CARD_NO, JYT_CARD_NO, SHENFENZHENG, NAME, NUM, PRICE, TATAL, ZHANGDAN
    </sql>

</mapper>
