<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewRwzbPatientinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewRwzbPatientinfo">
        <result column="STATUS" property="status" />
        <result column="CARDID" property="cardid" />
        <result column="NAME" property="name" />
        <result column="ORDERDATE" property="orderdate" />
        <result column="SEX" property="sex" />
        <result column="AGE" property="age" />
        <result column="ROOMNAME" property="roomname" />
        <result column="ADDRESS" property="address" />
        <result column="IDCARDNO" property="idcardno" />
        <result column="HAMILYPHONE" property="hamilyphone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STATUS, CARDID, NAME, ORDERDATE, SEX, AGE, ROOMNAME, ADDRESS, IDCARDNO, HAMILYPHONE
    </sql>

</mapper>
