<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewPrivatecloudScheduleAMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewPrivatecloudScheduleA">
        <result column="SEE_DATE" property="seeDate" />
        <result column="OBJID" property="objid" />
        <result column="HOSPID" property="hospid" />
        <result column="DOCTID" property="doctid" />
        <result column="DOCT_NAME" property="doctName" />
        <result column="DEPTID" property="deptid" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="REGLEVL_NAME" property="reglevlName" />
        <result column="TOTALFEE" property="totalfee" />
        <result column="INSPECTFEE" property="inspectfee" />
        <result column="REGFEE" property="regfee" />
        <result column="DIAGNOSEFEE" property="diagnosefee" />
        <result column="SPCLFEE" property="spclfee" />
        <result column="OBJTYPE" property="objtype" />
        <result column="REG_COUNT" property="regCount" />
        <result column="POINTNAME" property="pointname" />
        <result column="POINTTYPE" property="pointtype" />
        <result column="POINTID" property="pointid" />
        <result column="STARTTIME" property="starttime" />
        <result column="ENDTIME" property="endtime" />
        <result column="NOONID" property="noonid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_DATE, OBJID, HOSPID, DOCTID, DOCT_NAME, DEPTID, DEPT_NAME, REGLEVL_CODE, REGLEVL_NAME, TOTALFEE, INSPECTFEE, REGFEE, DIAGNOSEFEE, SPCLFEE, OBJTYPE, REG_COUNT, POINTNAME, POINTTYPE, POINTID, STARTTIME, ENDTIME, NOONID
    </sql>

</mapper>
