<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMrmsTtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMrmsTt">
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="SEQUENCE_NO" property="sequenceNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="RECIPE_FLAG" property="recipeFlag" />
        <result column="UNIT_PRICE" property="unitPrice" />
        <result column="PACK_QTY" property="packQty" />
        <result column="BACK_QTY" property="backQty" />
        <result column="MIN_UNIT" property="minUnit" />
        <result column="PUB_COST" property="pubCost" />
        <result column="PAY_COST" property="payCost" />
        <result column="OWN_COST" property="ownCost" />
        <result column="STOCK_CODE" property="stockCode" />
        <result column="MINUS_STOCK_FLAG" property="minusStockFlag" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="TRANS_TYPE" property="transType" />
        <result column="INVOICE_NO" property="invoiceNo" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="SPECS" property="specs" />
        <result column="DRUG_DEPT_CODE" property="drugDeptCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="CHARGE_OPER_CODE" property="chargeOperCode" />
        <result column="SEND_OPER_CODE" property="sendOperCode" />
        <result column="PAYKIND_CODE" property="paykindCode" />
        <result column="DJB_FLAG" property="djbFlag" />
        <result column="DAYS" property="days" />
        <result column="CHECK_OPER_CODE" property="checkOperCode" />
        <result column="RECEIVE_OPER_CODE" property="receiveOperCode" />
        <result column="BATCH_NO" property="batchNo" />
        <result column="IPADDRESS" property="ipaddress" />
        <result column="MACADDRESS" property="macaddress" />
        <result column="MACHINENAME" property="machinename" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECIPE_NO, SEQUENCE_NO, CARD_NO, REG_DATE, DRUG_CODE, RECIPE_FLAG, UNIT_PRICE, PACK_QTY, BACK_QTY, MIN_UNIT, PUB_COST, PAY_COST, OWN_COST, STOCK_CODE, MINUS_STOCK_FLAG, OPER_CODE, OPER_DATE, TRANS_TYPE, INVOICE_NO, DRUG_NAME, SPECS, DRUG_DEPT_CODE, DEPT_CODE, CHARGE_OPER_CODE, SEND_OPER_CODE, PAYKIND_CODE, DJB_FLAG, DAYS, CHECK_OPER_CODE, RECEIVE_OPER_CODE, BATCH_NO, IPADDRESS, MACADDRESS, MACHINENAME
    </sql>

</mapper>
