<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHlhtCdroutdgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtCdroutdg">
        <result column="OUT_PATIENT_ID" property="outPatientId" />
        <result column="HEALTH_CARD_NO" property="healthCardNo" />
        <result column="OUTP_NO" property="outpNo" />
        <result column="VISIT_ID" property="visitId" />
        <result column="VISIT_TYPE" property="visitType" />
        <result column="EMERGENCY_VISIT_IND" property="emergencyVisitInd" />
        <result column="DIAGNOSIS_DEPT" property="diagnosisDept" />
        <result column="DIAGNOSIS_DOCTOR" property="diagnosisDoctor" />
        <result column="DIAGNOSIS" property="diagnosis" />
        <result column="ICD_CODE" property="icdCode" />
        <result column="DIAGNOSIS_NUM" property="diagnosisNum" />
        <result column="DIAGNOSIS_DESC" property="diagnosisDesc" />
        <result column="DIAGNOSIS_TIME" property="diagnosisTime" />
        <result column="OPERATE_TYPE" property="operateType" />
        <result column="OPERATORTIME" property="operatortime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OUT_PATIENT_ID, HEALTH_CARD_NO, OUTP_NO, VISIT_ID, VISIT_TYPE, EMERGENCY_VISIT_IND, DIAGNOSIS_DEPT, DIAGNOSIS_DOCTOR, DIAGNOSIS, ICD_CODE, DIAGNOSIS_NUM, DIAGNOSIS_DESC, DIAGNOSIS_TIME, OPERATE_TYPE, OPERATORTIME
    </sql>

</mapper>
