<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewBookingDocinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewBookingDocinfo">
        <result column="YSBM" property="ysbm" />
        <result column="YSXM" property="ysxm" />
        <result column="PYM" property="pym" />
        <result column="YSXB" property="ysxb" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        YSBM, YSXM, PYM, YSXB
    </sql>

</mapper>
