<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMovenurseEmBedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMovenurseEmBed">
        <result column="WARD_CODE" property="wardCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="BED_NO" property="bedNo" />
        <result column="BED_LABEL" property="bedLabel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WARD_CODE, DEPT_CODE, BED_NO, BED_LABEL
    </sql>

</mapper>
