<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHlhtCdrvisitEntryheadTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtCdrvisitEntryheadT">
        <result column="PATIENT_NO" property="patientNo" />
        <result column="HEALTH_CARD_NO" property="healthCardNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="VISIT_NO" property="visitNo" />
        <result column="VISIT_ID" property="visitId" />
        <result column="CLINIC_TYPE" property="clinicType" />
        <result column="VISIT_TYPE" property="visitType" />
        <result column="ORDERED_CAREPROVIDER_CODE" property="orderedCareproviderCode" />
        <result column="ORDERED_CAREPROVIDER_NAME" property="orderedCareproviderName" />
        <result column="AGE" property="age" />
        <result column="REG_DATETIME" property="regDatetime" />
        <result column="ORDERED_SUBSPECIALTY_CODE" property="orderedSubspecialtyCode" />
        <result column="ORDERED_SUBSPECIALTY_DESC" property="orderedSubspecialtyDesc" />
        <result column="ORDERED_DATETIME" property="orderedDatetime" />
        <result column="SEE_TIME" property="seeTime" />
        <result column="CANCELLED_CP_CODE" property="cancelledCpCode" />
        <result column="CANCELLED_CP_NAME" property="cancelledCpName" />
        <result column="CANCELLED_DATETIME" property="cancelledDatetime" />
        <result column="CANCELLED_REASON_DESC" property="cancelledReasonDesc" />
        <result column="ENTITY_CODE" property="entityCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPERATE_TYPE" property="operateType" />
        <result column="OPERATORTIME" property="operatortime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_NO, HEALTH_CARD_NO, CARD_NO, VISIT_NO, VISIT_ID, CLINIC_TYPE, VISIT_TYPE, ORDERED_CAREPROVIDER_CODE, ORDERED_CAREPROVIDER_NAME, AGE, REG_DATETIME, ORDERED_SUBSPECIALTY_CODE, ORDERED_SUBSPECIALTY_DESC, ORDERED_DATETIME, SEE_TIME, CANCELLED_CP_CODE, CANCELLED_CP_NAME, CANCELLED_DATETIME, CANCELLED_REASON_DESC, ENTITY_CODE, OPER_DATE, OPERATE_TYPE, OPERATORTIME
    </sql>

</mapper>
