<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMjDoctEmergencyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMjDoctEmergency">
        <result column="DOC_CODE" property="docCode" />
        <result column="DOCTNAME" property="doctname" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="IDENNO" property="idenno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DOC_CODE, DOCTNAME, DEPT_CODE, IDENNO
    </sql>

</mapper>
