<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMovenurseEmOutHospitalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMovenurseEmOutHospital">
        <result column="PATIENT_ID" property="patientId" />
        <result column="VISIT_ID" property="visitId" />
        <result column="NAME" property="name" />
        <result column="WARD_CODE" property="wardCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="BED_NO" property="bedNo" />
        <result column="ADMISSION_DATE_TIME" property="admissionDateTime" />
        <result column="DISCHARGE_DATE_TIME" property="dischargeDateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_ID, VISIT_ID, NAME, WARD_CODE, DEPT_CODE, BED_NO, ADMISSION_DATE_TIME, DISCHARGE_DATE_TIME
    </sql>

</mapper>
