<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMrmsDayAccountTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMrmsDayAccountTemp">
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="NAME" property="name" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="IN_DATE" property="inDate" />
        <result column="OUT_DATE" property="outDate" />
        <result column="S_PREPAY" property="sPrepay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, NAME, DEPT_CODE, DEPT_NAME, IN_DATE, OUT_DATE, S_PREPAY
    </sql>

</mapper>
