<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHrpStaticnexusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHrpStaticnexus">
        <result column="REPORT_CODE" property="reportCode" />
        <result column="REPORT_NAME" property="reportName" />
        <result column="FEE_CODE" property="feeCode" />
        <result column="FEE_STAT_NAME" property="feeStatName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REPORT_CODE, REPORT_NAME, FEE_CODE, FEE_STAT_NAME
    </sql>

</mapper>
