<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMrmbaseMzblExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMrmbaseMzblExam">
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DTIME" property="regDtime" />
        <result column="PNAME" property="pname" />
        <result column="MEDICAL_TYPE" property="medicalType" />
        <result column="EXAM_FLAG" property="examFlag" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="TREAT_BGNDATE" property="treatBgndate" />
        <result column="OUT_DATE" property="outDate" />
        <result column="OPER_BGN_DATETIME" property="operBgnDatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, REG_DTIME, PNAME, MEDICAL_TYPE, EXAM_FLAG, DEPT_NAME, TREAT_BGNDATE, OUT_DATE, OPER_BGN_DATETIME
    </sql>

</mapper>
