<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewCbhsMachineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewCbhsMachine">
        <result column="YEARCODE" property="yearcode" />
        <result column="FACILITYNAME" property="facilityname" />
        <result column="MACHINE_CODE" property="machineCode" />
        <result column="MACHINE_NAME" property="machineName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        YEARCODE, FACILITYNAME, MACHINE_CODE, MACHINE_NAME
    </sql>

</mapper>
