<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJiaheMzRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheMzRegister">
        <result column="CONSULTATION_SECTION" property="consultationSection" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="OUTP_ID" property="outpId" />
        <result column="PERSON_NAME" property="personName" />
        <result column="ID_NO" property="idNo" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="DATE_OF_BIRTH" property="dateOfBirth" />
        <result column="PAYKIND_CODE" property="paykindCode" />
        <result column="PAYKIND_NAME" property="paykindName" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="PACT_CODE" property="pactCode" />
        <result column="PACT_NAME" property="pactName" />
        <result column="REGISTING_TIME" property="registingTime" />
        <result column="VISIT_DEPT" property="visitDept" />
        <result column="VISIT_DEPT_NAME" property="visitDeptName" />
        <result column="SEENO" property="seeno" />
        <result column="VISIT_DOCTOR" property="visitDoctor" />
        <result column="VISIT_DOCTOR_NAME" property="visitDoctorName" />
        <result column="YNREGCHRG" property="ynregchrg" />
        <result column="YNBOOK" property="ynbook" />
        <result column="REGISTRATION_FEE" property="registrationFee" />
        <result column="CHCK_FEE" property="chckFee" />
        <result column="DIAG_FEE" property="diagFee" />
        <result column="OTH_FEE" property="othFee" />
        <result column="FIRST_VISIT_INDICATOR" property="firstVisitIndicator" />
        <result column="YNCANCEL" property="yncancel" />
        <result column="OWN_RATIO" property="ownRatio" />
        <result column="PUB_RATIO" property="pubRatio" />
        <result column="PAY_RATIO" property="payRatio" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_NAME" property="operName" />
        <result column="YNSEE" property="ynsee" />
        <result column="CLINIC_CODE" property="clinicCode" />
        <result column="DISCOUNT_RATIO" property="discountRatio" />
        <result column="CANCEL_DATE" property="cancelDate" />
        <result column="CANCEL_OPERCODE" property="cancelOpercode" />
        <result column="CHARGE_TYPE" property="chargeType" />
        <result column="ICD_CODE" property="icdCode" />
        <result column="END_FLAG" property="endFlag" />
        <result column="EXAM_CODE" property="examCode" />
        <result column="EXAM_DATE" property="examDate" />
        <result column="CLINIC_NO" property="clinicNo" />
        <result column="DJB_FLAG" property="djbFlag" />
        <result column="YN_ADD" property="ynAdd" />
        <result column="BX_FEE" property="bxFee" />
        <result column="TRADENO" property="tradeno" />
        <result column="REAL_DOCTID" property="realDoctid" />
        <result column="REAL_DOCTNAME" property="realDoctname" />
        <result column="ICD_NAME" property="icdName" />
        <result column="IPADDRESS" property="ipaddress" />
        <result column="MACADDRESS" property="macaddress" />
        <result column="MACHINENAME" property="machinename" />
        <result column="YLCARD_NO" property="ylcardNo" />
        <result column="NOON_TIME" property="noonTime" />
        <result column="PAY_WAY" property="payWay" />
        <result column="QUIT_TYPE" property="quitType" />
        <result column="TRADENO_JYT" property="tradenoJyt" />
        <result column="CONSULTATION_CATEGORY" property="consultationCategory" />
        <result column="CONSULTATION_CATEGORY_NAME" property="consultationCategoryName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CONSULTATION_SECTION, NOON_CODE, OUTP_ID, PERSON_NAME, ID_NO, SEX_CODE, DATE_OF_BIRTH, PAYKIND_CODE, PAYKIND_NAME, MCARD_NO, PACT_CODE, PACT_NAME, REGISTING_TIME, VISIT_DEPT, VISIT_DEPT_NAME, SEENO, VISIT_DOCTOR, VISIT_DOCTOR_NAME, YNREGCHRG, YNBOOK, REGISTRATION_FEE, CHCK_FEE, DIAG_FEE, OTH_FEE, FIRST_VISIT_INDICATOR, YNCANCEL, OWN_RATIO, PUB_RATIO, PAY_RATIO, OPER_CODE, OPER_NAME, YNSEE, CLINIC_CODE, DISCOUNT_RATIO, CANCEL_DATE, CANCEL_OPERCODE, CHARGE_TYPE, ICD_CODE, END_FLAG, EXAM_CODE, EXAM_DATE, CLINIC_NO, DJB_FLAG, YN_ADD, BX_FEE, TRADENO, REAL_DOCTID, REAL_DOCTNAME, ICD_NAME, IPADDRESS, MACADDRESS, MACHINENAME, YLCARD_NO, NOON_TIME, PAY_WAY, QUIT_TYPE, TRADENO_JYT, CONSULTATION_CATEGORY, CONSULTATION_CATEGORY_NAME
    </sql>

</mapper>
