<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewDeptDrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewDeptDrug">
        <result column="DEPT_CODE" property="deptCode" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="PACT_CODE" property="pactCode" />
        <result column="COST" property="cost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, CARD_NO, REG_DATE, PACT_CODE, COST
    </sql>

</mapper>
