<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewIfInprepayCancelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewIfInprepayCancel">
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="HAPPEN_NO" property="happenNo" />
        <result column="PREPAY_COST" property="prepayCost" />
        <result column="DELIVER_MODE" property="deliverMode" />
        <result column="SDEPT_CODE" property="sdeptCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="RECEIPT_NO" property="receiptNo" />
        <result column="CHECK_FLAG" property="checkFlag" />
        <result column="CHARGE_UNIT_CODE" property="chargeUnitCode" />
        <result column="STAT_DATE" property="statDate" />
        <result column="BALANCE_STAT_DATE" property="balanceStatDate" />
        <result column="BALANCE_STATE" property="balanceState" />
        <result column="BALANCE_NO" property="balanceNo" />
        <result column="RETURN_FLAG" property="returnFlag" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DTIME" property="operDtime" />
        <result column="OPEN_BANK" property="openBank" />
        <result column="OPEN_ACCOUNTS" property="openAccounts" />
        <result column="INVOICE" property="invoice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, HAPPEN_NO, PREPAY_COST, DELIVER_MODE, SDEPT_CODE, DEPT_CODE, RECEIPT_NO, CHECK_FLAG, CHARGE_UNIT_CODE, STAT_DATE, BALANCE_STAT_DATE, BALANCE_STATE, BALANCE_NO, RETURN_FLAG, OPER_CODE, OPER_DTIME, OPEN_BANK, OPEN_ACCOUNTS, INVOICE
    </sql>

</mapper>
