<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHlhtCdrvisitEntrylistsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtCdrvisitEntrylists">
        <result column="CARD_NO" property="cardNo" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="VISIT_NO" property="visitNo" />
        <result column="ORDER_DATE" property="orderDate" />
        <result column="ORDERED_DATETIME" property="orderedDatetime" />
        <result column="CANCELLED_DATETIME" property="cancelledDatetime" />
        <result column="REMARK" property="remark" />
        <result column="ROA_CODE" property="roaCode" />
        <result column="ROA_DESC" property="roaDesc" />
        <result column="YINPIAN_DECOCTION_DESC" property="yinpianDecoctionDesc" />
        <result column="OE_ORDER_INFO" property="oeOrderInfo" />
        <result column="OE_ORDER_REMARKS" property="oeOrderRemarks" />
        <result column="FREQUENCY_CODE" property="frequencyCode" />
        <result column="FREQUENCY_DESC" property="frequencyDesc" />
        <result column="DURATION_QTY" property="durationQty" />
        <result column="DURATION_CODE" property="durationCode" />
        <result column="DURATION_DESC" property="durationDesc" />
        <result column="PACKINGNUMBER" property="packingnumber" />
        <result column="HERBAL_DOSAGE_NUMBER" property="herbalDosageNumber" />
        <result column="EXEC_TIME" property="execTime" />
        <result column="PRESCRIPTION_EFFECTIVE_DAYS" property="prescriptionEffectiveDays" />
        <result column="THERAPEUTIC_PRINCIPLE_DESC" property="therapeuticPrincipleDesc" />
        <result column="ORDER_CLASS" property="orderClass" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, ORDER_NO, VISIT_NO, ORDER_DATE, ORDERED_DATETIME, CANCELLED_DATETIME, REMARK, ROA_CODE, ROA_DESC, YINPIAN_DECOCTION_DESC, OE_ORDER_INFO, OE_ORDER_REMARKS, FREQUENCY_CODE, FREQUENCY_DESC, DURATION_QTY, DURATION_CODE, DURATION_DESC, PACKINGNUMBER, HERBAL_DOSAGE_NUMBER, EXEC_TIME, PRESCRIPTION_EFFECTIVE_DAYS, THERAPEUTIC_PRINCIPLE_DESC, ORDER_CLASS
    </sql>

</mapper>
