<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHrpPreBalZifuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHrpPreBalZifu">
        <result column="SUPPLY_CASH" property="supplyCash" />
        <result column="SUPPLY_CHECK" property="supplyCheck" />
        <result column="SUPPLY_CARD" property="supplyCard" />
        <result column="RETURN_CASH" property="returnCash" />
        <result column="RETURN_CHECK" property="returnCheck" />
        <result column="RETURN_CARD" property="returnCard" />
        <result column="PREPAY_SUPPLY_CASH" property="prepaySupplyCash" />
        <result column="PREPAY_SUPPLY_CHECK" property="prepaySupplyCheck" />
        <result column="PREPAY_SUPPLY_CARD" property="prepaySupplyCard" />
        <result column="PREPAY_RETURN_CASH" property="prepayReturnCash" />
        <result column="PREPAY_RETURN_CHECK" property="prepayReturnCheck" />
        <result column="PREPAY_RETURN_CARD" property="prepayReturnCard" />
        <result column="ALL_OWNCOST_CASH" property="allOwncostCash" />
        <result column="ALL_OWNCOST_CHECK" property="allOwncostCheck" />
        <result column="ALL_OWNCOST_CARD" property="allOwncostCard" />
        <result column="ALL_OWNCOST" property="allOwncost" />
        <result column="ALL_PUBCOST" property="allPubcost" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SUPPLY_CASH, SUPPLY_CHECK, SUPPLY_CARD, RETURN_CASH, RETURN_CHECK, RETURN_CARD, PREPAY_SUPPLY_CASH, PREPAY_SUPPLY_CHECK, PREPAY_SUPPLY_CARD, PREPAY_RETURN_CASH, PREPAY_RETURN_CHECK, PREPAY_RETURN_CARD, ALL_OWNCOST_CASH, ALL_OWNCOST_CHECK, ALL_OWNCOST_CARD, ALL_OWNCOST, ALL_PUBCOST, OPER_CODE, OPER_DATE
    </sql>

</mapper>
