<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewMzypMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMzyp">
        <result column="收费项目名称" property="收费项目名称" />
        <result column="收费单价" property="收费单价" />
        <result column="收费数量" property="收费数量" />
        <result column="收费额" property="收费额" />
        <result column="收费项目编码" property="收费项目编码" />
        <result column="计费单位" property="计费单位" />
        <result column="收费日期" property="收费日期" />
        <result column="收费对象" property="收费对象" />
        <result column="记账凭证号码" property="记账凭证号码" />
        <result column="收费科室" property="收费科室" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        收费项目名称, 收费单价, 收费数量, 收费额, 收费项目编码, 计费单位, 收费日期, 收费对象, 记账凭证号码, 收费科室
    </sql>

</mapper>
