<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewPatientDayfeelistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewPatientDayfeelist">
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="NAME" property="name" />
        <result column="TOT_COST" property="totCost" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DAYS" property="days" />
        <result column="REPORT_CODE" property="reportCode" />
        <result column="FEE_CODE" property="feeCode" />
        <result column="FEE_STAT_NAME" property="feeStatName" />
        <result column="FEE_STAT_CODE" property="feeStatCode" />
        <result column="PRINT_ORDER" property="printOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, NAME, TOT_COST, DEPT_CODE, DAYS, REPORT_CODE, FEE_CODE, FEE_STAT_NAME, FEE_STAT_CODE, PRINT_ORDER
    </sql>

</mapper>
