<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewSickbedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewSickbed">
        <result column="DEPT_CODE" property="deptCode" />
        <result column="BED_NUM" property="bedNum" />
        <result column="ADDBED_NUM" property="addbedNum" />
        <result column="USEDBED_NUM" property="usedbedNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, BED_NUM, ADDBED_NUM, USEDBED_NUM
    </sql>

</mapper>
