<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewJiaheClinicDiagnosisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheClinicDiagnosis">
        <result column="PATIENT_ID" property="patientId" />
        <result column="VISIT_ID" property="visitId" />
        <result column="INP_NO" property="inpNo" />
        <result column="DIAGNOSIS_NO" property="diagnosisNo" />
        <result column="DIAGNOSIS_SUB_NO" property="diagnosisSubNo" />
        <result column="DIAGNOSIS_NAME" property="diagnosisName" />
        <result column="DIAGNOSIS_CODE" property="diagnosisCode" />
        <result column="IS_MAIN" property="isMain" />
        <result column="HOSPITAL_NO" property="hospitalNo" />
        <result column="SYNCH_TIME_STAMP" property="synchTimeStamp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_ID, VISIT_ID, INP_NO, DIAGNOSIS_NO, DIAGNOSIS_SUB_NO, DIAGNOSIS_NAME, DIAGNOSIS_CODE, IS_MAIN, HOSPITAL_NO, SYNCH_TIME_STAMP
    </sql>

</mapper>
