<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewSj医保门诊即时结算Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewSj医保门诊即时结算">
        <result column="诊疗卡号" property="诊疗卡号" />
        <result column="结算日期" property="结算日期" />
        <result column="费用总结算" property="费用总结算" />
        <result column="自负费用" property="自负费用" />
        <result column="医保负担" property="医保负担" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        诊疗卡号, 结算日期, 费用总结算, 自负费用, 医保负担
    </sql>

</mapper>
