<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewTtyyNewcardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewTtyyNewcard">
        <result column="CARD_NO" property="cardNo" />
        <result column="NAME" property="name" />
        <result column="CLINIC_NO" property="clinicNo" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="BIRTHDAY" property="birthday" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, NAME, CLINIC_NO, SEX_CODE, BIRTHDAY
    </sql>

</mapper>
