<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViewHlhtCdropayoffdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtCdropayoffd">
        <result column="OUT_PATIENT_ID" property="outPatientId" />
        <result column="HEALTH_CARD_NO" property="healthCardNo" />
        <result column="OUTP_NO" property="outpNo" />
        <result column="VISIT_ID" property="visitId" />
        <result column="VISIT_TYPE" property="visitType" />
        <result column="RECEIPT_SN" property="receiptSn" />
        <result column="LEDGER_SN" property="ledgerSn" />
        <result column="TRANSACTION_TYPE" property="transactionType" />
        <result column="BILL_ITEM_CODE" property="billItemCode" />
        <result column="BILL_ITEM_NAME" property="billItemName" />
        <result column="PAYOFF_TOTAL_FEE" property="payoffTotalFee" />
        <result column="PAYOFF_REAL_FEE" property="payoffRealFee" />
        <result column="PAYOFF_METHOD_CODE" property="payoffMethodCode" />
        <result column="PAYOFF_METHOD_NAME" property="payoffMethodName" />
        <result column="MAIN_PK" property="mainPk" />
        <result column="OPERATE_TYPE" property="operateType" />
        <result column="OPERATORTIME" property="operatortime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OUT_PATIENT_ID, HEALTH_CARD_NO, OUTP_NO, VISIT_ID, VISIT_TYPE, RECEIPT_SN, LEDGER_SN, TRANSACTION_TYPE, BILL_ITEM_CODE, BILL_ITEM_NAME, PAYOFF_TOTAL_FEE, PAYOFF_REAL_FEE, PAYOFF_METHOD_CODE, PAYOFF_METHOD_NAME, MAIN_PK, OPERATE_TYPE, OPERATORTIME
    </sql>

</mapper>
