<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VInfo">
        <id column="V_CARD_NO" property="vCardNo" />
        <result column="V_IDEN_NO" property="vIdenNo" />
        <result column="V_NAME" property="vName" />
        <result column="V_SEX" property="vSex" />
        <result column="V_DEPTID" property="vDeptid" />
        <result column="V_DEPTNM" property="vDeptnm" />
        <result column="V_DATE" property="vDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        V_CARD_NO, V_IDEN_NO, V_NAME, V_SEX, V_DEPTID, V_DEPTNM, V_DATE
    </sql>

</mapper>
