<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.ViOutpatientemrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViOutpatientemr">
        <result column="YLCARD_NO" property="ylcardNo" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="PNAME" property="pname" />
        <result column="SEX" property="sex" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="HOST_TELL" property="hostTell" />
        <result column="CURRENT_ILLNESS" property="currentIllness" />
        <result column="ANAMNESIS" property="anamnesis" />
        <result column="DIAG_NAME" property="diagName" />
        <result column="ADMINICAL" property="adminical" />
        <result column="DISPOSITION" property="disposition" />
        <result column="SEE_NO" property="seeNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        YLCARD_NO, BIRTHDAY, PNAME, SEX, SEE_DATE, DEPT_NAME, HOST_TELL, CURRENT_ILLNESS, ANAMNESIS, DIAG_NAME, ADMINICAL, DISPOSITION, SEE_NO
    </sql>

</mapper>
