<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VJhRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VJhRegister">
        <result column="CARD_NO" property="cardNo" />
        <result column="NAME" property="name" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="REG_DATE" property="regDate" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="REGLEVL_NAME" property="reglevlName" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="YNSEE" property="ynsee" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, NAME, SEE_DATE, REG_DATE, REGLEVL_CODE, REGLEVL_NAME, DEPT_CODE, DEPT_NAME, YNSEE
    </sql>

</mapper>
