<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VLisitemlistTestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VLisitemlistTest">
        <result column="KDYS" property="kdys" />
        <result column="KDRQ" property="kdrq" />
        <result column="KDSJ" property="kdsj" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="ZYH" property="zyh" />
        <result column="CARDNO" property="cardno" />
        <result column="DEPT_CODE" property="deptCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        KDYS, KDRQ, KDSJ, ITEMCODE, ZYH, CARDNO, DEPT_CODE
    </sql>

</mapper>
