<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VMeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VMeeting">
        <result column="SEE_DATE" property="seeDate" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="DEPT" property="dept" />
        <result column="EXPORT" property="export" />
        <result column="LIMIT_FIR" property="limitFir" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_DATE, NOON_CODE, DEPT, EXPORT, LIMIT_FIR
    </sql>

</mapper>
