<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VMrms167PrintMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VMrms167Print">
        <result column="LEFT_DISNAME" property="leftDisname" />
        <result column="LEFT_CODE" property="leftCode" />
        <result column="LEFT_SUM_ALL" property="leftSumAll" />
        <result column="LEFT_SUM_PART" property="leftSumPart" />
        <result column="LEFT_RTN1" property="leftRtn1" />
        <result column="LEFT_RTN2" property="leftRtn2" />
        <result column="LEFT_RTN3" property="leftRtn3" />
        <result column="LEFT_RTN4" property="leftRtn4" />
        <result column="LEFT_INBEDDAY" property="leftInbedday" />
        <result column="LEFT_OTHER" property="leftOther" />
        <result column="RIGHT_DISNAME" property="rightDisname" />
        <result column="RIGHT_CODE" property="rightCode" />
        <result column="RIGHT_SUM_ALL" property="rightSumAll" />
        <result column="RIGHT_SUM_PART" property="rightSumPart" />
        <result column="RIGHT_RTN1" property="rightRtn1" />
        <result column="RIGHT_RTN2" property="rightRtn2" />
        <result column="RIGHT_RTN3" property="rightRtn3" />
        <result column="RIGHT_RTN4" property="rightRtn4" />
        <result column="RIGHT_INBEDDAY" property="rightInbedday" />
        <result column="RIGHT_OTHER" property="rightOther" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LEFT_DISNAME, LEFT_CODE, LEFT_SUM_ALL, LEFT_SUM_PART, LEFT_RTN1, LEFT_RTN2, LEFT_RTN3, LEFT_RTN4, LEFT_INBEDDAY, LEFT_OTHER, RIGHT_DISNAME, RIGHT_CODE, RIGHT_SUM_ALL, RIGHT_SUM_PART, RIGHT_RTN1, RIGHT_RTN2, RIGHT_RTN3, RIGHT_RTN4, RIGHT_INBEDDAY, RIGHT_OTHER
    </sql>

</mapper>
