<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VMzdepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VMzdepartment">
        <result column="DEPARTMENTCODE" property="departmentcode" />
        <result column="SPELLCODE" property="spellcode" />
        <result column="DEPARTMENTNAME" property="departmentname" />
        <result column="INHOSREGISTERMAX" property="inhosregistermax" />
        <result column="INHOSREGISTEREDNUM" property="inhosregisterednum" />
        <result column="ISNODE" property="isnode" />
        <result column="ISVALID" property="isvalid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPARTMENTCODE, SPELLCODE, DEPARTMENTNAME, INHOSREGISTERMAX, INHOSREGISTEREDNUM, ISNODE, ISVALID
    </sql>

</mapper>
