<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VQyqkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VQyqk">
        <result column="TDMC" property="tdmc" />
        <result column="LJRQQYL" property="ljrqqyl" />
        <result column="QYLDF" property="qyldf" />
        <result column="LJZDRQQYL" property="ljzdrqqyl" />
        <result column="ZDRQQYLDF" property="zdrqqyldf" />
        <result column="GXYHZQYL" property="gxyhzqyl" />
        <result column="GXYHZQYDF" property="gxyhzqydf" />
        <result column="TNBHZQYL" property="tnbhzqyl" />
        <result column="TNBHZQYDF" property="tnbhzqydf" />
        <result column="LNRQYL" property="lnrqyl" />
        <result column="LNRQYLDF" property="lnrqyldf" />
        <result column="JSZAQYL" property="jszaqyl" />
        <result column="JSZAQYLDF" property="jszaqyldf" />
        <result column="CJRQYL" property="cjrqyl" />
        <result column="CJRQYLDF" property="cjrqyldf" />
        <result column="ETQYL" property="etqyl" />
        <result column="ETQYLDF" property="etqyldf" />
        <result column="YCFQYL" property="ycfqyl" />
        <result column="YCFQYLDF" property="ycfqyldf" />
        <result column="JSJTQYL" property="jsjtqyl" />
        <result column="JSJTQYLDF" property="jsjtqyldf" />
        <result column="FJHQYL" property="fjhqyl" />
        <result column="FJHQYLDF" property="fjhqyldf" />
        <result column="PKRKQYL" property="pkrkqyl" />
        <result column="PKRKQYLDF" property="pkrkqyldf" />
        <result column="ZF" property="zf" />
        <result column="STATIC_DATE" property="staticDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TDMC, LJRQQYL, QYLDF, LJZDRQQYL, ZDRQQYLDF, GXYHZQYL, GXYHZQYDF, TNBHZQYL, TNBHZQYDF, LNRQYL, LNRQYLDF, JSZAQYL, JSZAQYLDF, CJRQYL, CJRQYLDF, ETQYL, ETQYLDF, YCFQYL, YCFQYLDF, JSJTQYL, JSJTQYLDF, FJHQYL, FJHQYLDF, PKRKQYL, PKRKQYLDF, ZF, STATIC_DATE
    </sql>

</mapper>
