<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VQyylUpordermedicinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VQyylUpordermedicin">
        <result column="HOSORGCODE" property="hosorgcode" />
        <result column="ORDERID" property="orderid" />
        <result column="JZZDBM" property="jzzdbm" />
        <result column="JZZDMC" property="jzzdmc" />
        <result column="BMLX" property="bmlx" />
        <result column="JZYSGH" property="jzysgh" />
        <result column="JZYSXM" property="jzysxm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HOSORGCODE, ORDERID, JZZDBM, JZZDMC, BMLX, JZYSGH, JZYSXM
    </sql>

</mapper>
