<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VRegisterBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VRegisterBook">
        <result column="ORDER_ID" property="orderId" />
        <result column="NAME" property="name" />
        <result column="CARD_NO" property="cardNo" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="REGLEVL_NAME" property="reglevlName" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="TIME_CODE" property="timeCode" />
        <result column="PAY_WAY" property="payWay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORDER_ID, NAME, CARD_NO, SEE_DATE, DEPT_CODE, NOON_CODE, REGLEVL_CODE, REGLEVL_NAME, DOCT_CODE, TIME_CODE, PAY_WAY
    </sql>

</mapper>
