<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VSeedoctrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VSeedoctrecord">
        <result column="SEE_NO" property="seeNo" />
        <result column="DIAG_CODE" property="diagCode" />
        <result column="DIAG_NAME" property="diagName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_NO, DIAG_CODE, DIAG_NAME
    </sql>

</mapper>
