<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VStoresumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VStoresum">
        <result column="DRUG_DEPT_CODE" property="drugDeptCode" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="STARTNUM" property="startnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRUG_DEPT_CODE, DRUG_CODE, STARTNUM
    </sql>

</mapper>
