<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VTjUndrugInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VTjUndrugInfo">
        <result column="UNDRUG_CODE" property="undrugCode" />
        <result column="MULTIITEMCODE" property="multiitemcode" />
        <result column="UNDRUG_NAME" property="undrugName" />
        <result column="UNDRUG_PRICE" property="undrugPrice" />
        <result column="SPECS" property="specs" />
        <result column="UNIT" property="unit" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="OPER_DATE" property="operDate" />
        <result column="STOP_FLAG" property="stopFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UNDRUG_CODE, MULTIITEMCODE, UNDRUG_NAME, UNDRUG_PRICE, SPECS, UNIT, DEPT_CODE, DEPT_NAME, OPER_DATE, STOP_FLAG
    </sql>

</mapper>
