<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VUndruginfoVsQclisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VUndruginfoVsQclis">
        <result column="UNDRUG_CODE" property="undrugCode" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="HISCODE" property="hiscode" />
        <result column="YBCODE" property="ybcode" />
        <result column="ITEMNAME" property="itemname" />
        <result column="ITEMTYPE" property="itemtype" />
        <result column="UNITPRICE" property="unitprice" />
        <result column="UNIT" property="unit" />
        <result column="ITEMGRADE" property="itemgrade" />
        <result column="QUANTITY" property="quantity" />
        <result column="RECIPE_NO" property="recipeNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UNDRUG_CODE, ITEMCODE, HISCODE, YBCODE, ITEMNAME, ITEMTYPE, UNITPRICE, UNIT, ITEMGRADE, QUANTITY, RECIPE_NO
    </sql>

</mapper>
