<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.VWsdocDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VWsdocDepartment">
        <result column="DEPTID" property="deptid" />
        <result column="NAME" property="name" />
        <result column="SORTINDEX" property="sortindex" />
        <result column="DESCRIPTION" property="description" />
        <result column="PARENTID" property="parentid" />
        <result column="PARENTNAME" property="parentname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPTID, NAME, SORTINDEX, DESCRIPTION, PARENTID, PARENTNAME
    </sql>

</mapper>
