<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.WfAccessoriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.WfAccessories">
        <id column="YEARCODE" property="yearcode" />
        <result column="ACCENO" property="acceno" />
        <result column="FACILITYNAME" property="facilityname" />
        <result column="NAME" property="name" />
        <result column="SPELLCODE" property="spellcode" />
        <result column="OFFICENAME" property="officename" />
        <result column="MODEL" property="model" />
        <result column="ENGNAME" property="engname" />
        <result column="CONTRACTCODE" property="contractcode" />
        <result column="IMCOPANY" property="imcopany" />
        <result column="IMCOUNTRY" property="imcountry" />
        <result column="FACINUM" property="facinum" />
        <result column="FACIUNIT" property="faciunit" />
        <result column="PRICE" property="price" />
        <result column="MONEY" property="money" />
        <result column="PURCHASEDATE" property="purchasedate" />
        <result column="NOTATION" property="notation" />
        <result column="OPERATOR" property="operator" />
        <result column="REGISTDATE" property="registdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        YEARCODE, ACCENO, FACILITYNAME, NAME, SPELLCODE, OFFICENAME, MODEL, ENGNAME, CONTRACTCODE, IMCOPANY, IMCOUNTRY, FACINUM, FACIUNIT, PRICE, MONEY, PURCHASEDATE, NOTATION, OPERATOR, REGISTDATE
    </sql>

</mapper>
