<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.WfBenifitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.WfBenifit">
        <id column="YEARCODE" property="yearcode" />
        <result column="BENIFITNO" property="benifitno" />
        <result column="FACINAMECODE" property="facinamecode" />
        <result column="FACILITYNAME" property="facilityname" />
        <result column="WORKTIME" property="worktime" />
        <result column="REPMONTH" property="repmonth" />
        <result column="INDEPT" property="indept" />
        <result column="EXEDEPT" property="exedept" />
        <result column="ORIDATE" property="oridate" />
        <result column="ENDDATE" property="enddate" />
        <result column="ITEMNAME1" property="itemname1" />
        <result column="ITEM1" property="item1" />
        <result column="ITEMNAME2" property="itemname2" />
        <result column="ITEM2" property="item2" />
        <result column="ITEMNAME3" property="itemname3" />
        <result column="ITEM3" property="item3" />
        <result column="ITEMNAME4" property="itemname4" />
        <result column="ITEM4" property="item4" />
        <result column="ITEMNAME5" property="itemname5" />
        <result column="ITEM5" property="item5" />
        <result column="ITEMNAME6" property="itemname6" />
        <result column="ITEM6" property="item6" />
        <result column="ITEMNAME7" property="itemname7" />
        <result column="ITEM7" property="item7" />
        <result column="ITEMNAME8" property="itemname8" />
        <result column="ITEM8" property="item8" />
        <result column="ITEMNAME9" property="itemname9" />
        <result column="ITEM9" property="item9" />
        <result column="ITEMNAME10" property="itemname10" />
        <result column="ITEM10" property="item10" />
        <result column="ITEMNAME11" property="itemname11" />
        <result column="ITEM11" property="item11" />
        <result column="ITEMNAME12" property="itemname12" />
        <result column="ITEM12" property="item12" />
        <result column="ITEMNAME13" property="itemname13" />
        <result column="ITEM13" property="item13" />
        <result column="ITEMNAME14" property="itemname14" />
        <result column="ITEM14" property="item14" />
        <result column="ITEMNAME15" property="itemname15" />
        <result column="ITEM15" property="item15" />
        <result column="ITEMNAME16" property="itemname16" />
        <result column="ITEM16" property="item16" />
        <result column="ITEMNAME17" property="itemname17" />
        <result column="ITEM17" property="item17" />
        <result column="ITEMNAME18" property="itemname18" />
        <result column="ITEM18" property="item18" />
        <result column="ITEMNAME19" property="itemname19" />
        <result column="ITEM19" property="item19" />
        <result column="ITEMNAME20" property="itemname20" />
        <result column="ITEM20" property="item20" />
        <result column="ITEMNAME21" property="itemname21" />
        <result column="ITEM21" property="item21" />
        <result column="ITEMNAME22" property="itemname22" />
        <result column="ITEM22" property="item22" />
        <result column="ITEMNAME23" property="itemname23" />
        <result column="ITEM23" property="item23" />
        <result column="ITEMNAME24" property="itemname24" />
        <result column="ITEM24" property="item24" />
        <result column="ITEMNAME25" property="itemname25" />
        <result column="ITEM25" property="item25" />
        <result column="FRUIT" property="fruit" />
        <result column="NOTATION" property="notation" />
        <result column="OPERATOR" property="operator" />
        <result column="OPERATEDATE" property="operatedate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        YEARCODE, BENIFITNO, FACINAMECODE, FACILITYNAME, WORKTIME, REPMONTH, INDEPT, EXEDEPT, ORIDATE, ENDDATE, ITEMNAME1, ITEM1, ITEMNAME2, ITEM2, ITEMNAME3, ITEM3, ITEMNAME4, ITEM4, ITEMNAME5, ITEM5, ITEMNAME6, ITEM6, ITEMNAME7, ITEM7, ITEMNAME8, ITEM8, ITEMNAME9, ITEM9, ITEMNAME10, ITEM10, ITEMNAME11, ITEM11, ITEMNAME12, ITEM12, ITEMNAME13, ITEM13, ITEMNAME14, ITEM14, ITEMNAME15, ITEM15, ITEMNAME16, ITEM16, ITEMNAME17, ITEM17, ITEMNAME18, ITEM18, ITEMNAME19, ITEM19, ITEMNAME20, ITEM20, ITEMNAME21, ITEM21, ITEMNAME22, ITEM22, ITEMNAME23, ITEM23, ITEMNAME24, ITEM24, ITEMNAME25, ITEM25, FRUIT, NOTATION, OPERATOR, OPERATEDATE
    </sql>

</mapper>
