<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapperMz.WfDepruleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.WfDeprule">
        <id column="KINDCODE" property="kindcode" />
        <result column="DEPNO" property="depno" />
        <result column="INSTOCKDEP" property="instockdep" />
        <result column="INUSEDEP" property="inusedep" />
        <result column="RETURNDEP" property="returndep" />
        <result column="OVERVALUE" property="overvalue" />
        <result column="OVERDEP" property="overdep" />
        <result column="REGISTDATE" property="registdate" />
        <result column="OPERATOR" property="operator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        KINDCODE, DEPNO, INSTOCKDEP, INUSEDEP, RETURNDEP, OVERVALUE, OVERDEP, REGISTDATE, OPERATOR
    </sql>

</mapper>
