<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.JytBsInvoiceItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytBsInvoiceItem">
        <result column="fserialNo" property="fserialNo" />
        <result column="fpitemName" property="fpitemName" />
        <result column="fitemName" property="fitemName" />
        <result column="fprice" property="fprice" />
        <result column="fnumber" property="fnumber" />
        <result column="fmoney" property="fmoney" />
        <result column="flevel" property="flevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fserialNo, fpitemName, fitemName, fprice, fnumber, fmoney, flevel
    </sql>

</mapper>
