<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.JytBillQueryItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytBillQueryItem">
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_TYPE" property="itemType" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="UNIT_PRICE" property="unitPrice" />
        <result column="COUNT" property="count" />
        <result column="FEE" property="fee" />
        <result column="SPECIFICATION" property="specification" />
        <result column="UNIT" property="unit" />
        <result column="USAGE" property="usage" />
        <result column="DOSE" property="dose" />
        <result column="DOSAGE" property="dosage" />
        <result column="PACKAGING" property="packaging" />
        <result column="DAYS" property="days" />
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="FEE_LEVEL" property="feeLevel" />
        <result column="DRUG_TYPE" property="drugType" />
        <result column="WEIGHT" property="weight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ITEM_CODE, ITEM_TYPE, ITEM_NAME, UNIT_PRICE, COUNT, FEE, SPECIFICATION, UNIT, USAGE, DOSE, DOSAGE, PACKAGING, DAYS, RECIPE_NO, FEE_LEVEL, DRUG_TYPE, WEIGHT
    </sql>

</mapper>
