<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.JytEmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.JytEmployee">
        <result column="EMPL_CODE" property="emplCode" />
        <result column="EMPL_NAME" property="emplName" />
        <result column="EMPL_ENAME" property="emplEname" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="AGE" property="age" />
        <result column="POSI_CODE" property="posiCode" />
        <result column="LEVL_CODE" property="levlCode" />
        <result column="IDENNO" property="idenno" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="NURSE_CELL_CODE" property="nurseCellCode" />
        <result column="YNEXPERT" property="ynexpert" />
        <result column="EMPL_TYPE" property="emplType" />
        <result column="YNLISTDRUG" property="ynlistdrug" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPER_CODE" property="operCode" />
        <result column="ZHIWU" property="zhiwu" />
        <result column="OPER_GRADE" property="operGrade" />
        <result column="YNKSS" property="ynkss" />
        <result column="YNZFY" property="ynzfy" />
        <result column="NBYY" property="nbyy" />
        <result column="PROF_GROUP" property="profGroup" />
        <result column="P_CARDNO" property="pCardno" />
        <result column="DOCT_CARDID" property="doctCardid" />
        <result column="PRINT_PERMIT" property="printPermit" />
        <result column="CODE_GZ" property="codeGz" />
        <result column="DEPT_GZ" property="deptGz" />
        <result column="GCHANNEL_POWER" property="gchannelPower" />
        <result column="IFGROUP" property="ifgroup" />
        <result column="CAID" property="caid" />
        <result column="SPECIALITY" property="speciality" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EMPL_CODE, EMPL_NAME, EMPL_ENAME, SEX_CODE, AGE, POSI_CODE, LEVL_CODE, IDENNO, DEPT_CODE, NURSE_CELL_CODE, YNEXPERT, EMPL_TYPE, YNLISTDRUG, OPER_DATE, OPER_CODE, ZHIWU, OPER_GRADE, YNKSS, YNZFY, NBYY, PROF_GROUP, P_CARDNO, DOCT_CARDID, PRINT_PERMIT, CODE_GZ, DEPT_GZ, GCHANNEL_POWER, IFGROUP, CAID, SPECIALITY
    </sql>

</mapper>
