<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.LicenceRegMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LicenceReg">
        <id column="LICENCE_CODE" property="licenceCode" />
        <result column="REG_DATE" property="regDate" />
        <result column="REG_SERIAL" property="regSerial" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LICENCE_CODE, REG_DATE, REG_SERIAL
    </sql>

</mapper>
