<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.LisLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LisLog">
        <id column="OPER_DATE" property="operDate" />
        <result column="LOG_CODE" property="logCode" />
        <result column="LOG_DETAIL" property="logDetail" />
        <result column="LOG_OBJEC" property="logObjec" />
        <result column="RECIPENO" property="recipeno" />
        <result column="SEQUENCENO" property="sequenceno" />
        <result column="OPER_CODE" property="operCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LOG_CODE, LOG_DETAIL, LOG_OBJEC, RECIPENO, SEQUENCENO, OPER_DATE, OPER_CODE
    </sql>

</mapper>
