<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.LogiLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LogiLogin">
        <result column="DEPT_NAME" property="deptName" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="USER_NAME" property="userName" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="LOGIN_PASSWORD" property="loginPassword" />
        <result column="PURVIEW" property="purview" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_NAME, DEPT_CODE, EMPL_CODE, USER_NAME, LOGIN_NAME, LOGIN_PASSWORD, PURVIEW, OPER_DATE
    </sql>

</mapper>
