<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.LOveritemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LOveritem">
        <id column="ITEMCODE" property="itemcode" />
        <result column="ITEMNAME" property="itemname" />
        <result column="UPSTANDARD" property="upstandard" />
        <result column="DOWNSTANDARD" property="downstandard" />
        <result column="OPERATORID" property="operatorid" />
        <result column="CHANGEDATE" property="changedate" />
        <result column="ICD_CODE" property="icdCode" />
        <result column="ICD_NAME" property="icdName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ITEMCODE, ITEMNAME, UPSTANDARD, DOWNSTANDARD, OPERATORID, CHANGEDATE, ICD_CODE, ICD_NAME
    </sql>

</mapper>
