<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.LscBenmuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.LscBenmu">
        <result column="NO" property="no" />
        <result column="HISNO" property="hisno" />
        <result column="YNCANCEL" property="yncancel" />
        <result column="YNSEE" property="ynsee" />
        <result column="QUHAO" property="quhao" />
        <result column="BX_FEE" property="bxFee" />
        <result column="OPER_CODE" property="operCode" />
        <result column="CANCEL_OPER_CODE" property="cancelOperCode" />
        <result column="COST" property="cost" />
        <result column="PUB_COST" property="pubCost" />
        <result column="OWN_COST" property="ownCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NO, HISNO, YNCANCEL, YNSEE, QUHAO, BX_FEE, OPER_CODE, CANCEL_OPER_CODE, COST, PUB_COST, OWN_COST
    </sql>

</mapper>
