<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MdpddcgdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mdpddcgd">
        <result column="DECO_GRP" property="decoGrp" />
        <result column="NSST_CODE" property="nsstCode" />
        <result column="NSST_NAME" property="nsstName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DECO_GRP, NSST_CODE, NSST_NAME
    </sql>

</mapper>
