<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MG3结存Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MG3结存">
        <result column="结存日期" property="结存日期" />
        <result column="药品编码" property="药品编码" />
        <result column="药品名称" property="药品名称" />
        <result column="规格" property="规格" />
        <result column="结存数量" property="结存数量" />
        <result column="单价" property="单价" />
        <result column="金额" property="金额" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        结存日期, 药品编码, 药品名称, 规格, 结存数量, 单价, 金额
    </sql>

</mapper>
