<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MrmsReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MrmsReport">
        <id column="REPORT_TYPE" property="reportType" />
        <result column="REPORT_NAME" property="reportName" />
        <result column="DW_NAME" property="dwName" />
        <result column="DW_CNAME" property="dwCname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REPORT_TYPE, REPORT_NAME, DW_NAME, DW_CNAME
    </sql>

</mapper>
