<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MrmsuicdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mrmsuicd">
        <id column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="STAT_KIND" property="statKind" />
        <result column="STAT_NAME" property="statName" />
        <result column="ICD_CODE" property="icdCode" />
        <result column="ICD_NAME" property="icdName" />
        <result column="ELIG_RATE" property="eligRate" />
        <result column="OPER_MAN" property="operMan" />
        <result column="OPER_DATE" property="operDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, DEPT_NAME, STAT_KIND, STAT_NAME, ICD_CODE, ICD_NAME, ELIG_RATE, OPER_MAN, OPER_DATE
    </sql>

</mapper>
