<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MrmsdydlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mrmsdydl">
        <id column="DATE_STAT" property="dateStat" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="BED_STAND" property="bedStand" />
        <result column="BED_NONST" property="bedNonst" />
        <result column="BED_ADD" property="bedAdd" />
        <result column="BED_FREE" property="bedFree" />
        <result column="REMAIN_YESTERDAY" property="remainYesterday" />
        <result column="IN_NORMAL" property="inNormal" />
        <result column="IN_EMC" property="inEmc" />
        <result column="IN_CHANGE" property="inChange" />
        <result column="OUT_NORMAL" property="outNormal" />
        <result column="DEAD_IN24" property="deadIn24" />
        <result column="DEAD_OUT24" property="deadOut24" />
        <result column="DEAD_EZS" property="deadEzs" />
        <result column="OUT_CHANGE" property="outChange" />
        <result column="WITHDRAWAL" property="withdrawal" />
        <result column="PATIENT_NORMAL" property="patientNormal" />
        <result column="PATIENT_SERIOUS" property="patientSerious" />
        <result column="PATIENT_TERMINALLY" property="patientTerminally" />
        <result column="BED_USERATE" property="bedUserate" />
        <result column="TEND_NUM" property="tendNum" />
        <result column="PA_NUM" property="paNum" />
        <result column="CLPA_NUM" property="clpaNum" />
        <result column="BED_GUDING" property="bedGuding" />
        <result column="TODAYIN_INCHANGE" property="todayinInchange" />
        <result column="YB_NUM" property="ybNum" />
        <result column="TODAYIN_OUTCHANGE" property="todayinOutchange" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DATE_STAT, DEPT_CODE, BED_STAND, BED_NONST, BED_ADD, BED_FREE, REMAIN_YESTERDAY, IN_NORMAL, IN_EMC, IN_CHANGE, OUT_NORMAL, DEAD_IN24, DEAD_OUT24, DEAD_EZS, OUT_CHANGE, WITHDRAWAL, PATIENT_NORMAL, PATIENT_SERIOUS, PATIENT_TERMINALLY, BED_USERATE, TEND_NUM, PA_NUM, CLPA_NUM, BED_GUDING, TODAYIN_INCHANGE, YB_NUM, TODAYIN_OUTCHANGE
    </sql>

</mapper>
