<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MrmsAgeTotalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.MrmsAgeTotal">
        <result column="TYPE_167" property="type167" />
        <result column="TYPE_NAME" property="typeName" />
        <result column="AGE_0" property="age0" />
        <result column="AGE_1" property="age1" />
        <result column="AGE_5" property="age5" />
        <result column="AGE_10" property="age10" />
        <result column="AGE_15" property="age15" />
        <result column="AGE_20" property="age20" />
        <result column="AGE_30" property="age30" />
        <result column="AGE_40" property="age40" />
        <result column="AGE_50" property="age50" />
        <result column="AGE_60" property="age60" />
        <result column="AGE_70" property="age70" />
        <result column="AGE_80" property="age80" />
        <result column="AGE_85" property="age85" />
        <result column="LEVELS" property="levels" />
        <result column="PARENT_ITEM" property="parentItem" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TYPE_167, TYPE_NAME, AGE_0, AGE_1, AGE_5, AGE_10, AGE_15, AGE_20, AGE_30, AGE_40, AGE_50, AGE_60, AGE_70, AGE_80, AGE_85, LEVELS, PARENT_ITEM
    </sql>

</mapper>
