<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.MzbydMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Mzbyd">
        <result column="DRUG_DEPT_CODE" property="drugDeptCode" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="BATCH_NO" property="batchNo" />
        <result column="APPROVE_PRICE" property="approvePrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRUG_DEPT_CODE, DRUG_CODE, BATCH_NO, APPROVE_PRICE
    </sql>

</mapper>
