<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.NrsSpecialTendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsSpecialTend">
        <id column="INPATIENT_NO" property="inpatientNo" />
        <result column="TEND_TIME" property="tendTime" />
        <result column="SENSES" property="senses" />
        <result column="PUPIL" property="pupil" />
        <result column="TEMPERATURE" property="temperature" />
        <result column="PULSE" property="pulse" />
        <result column="BREATH" property="breath" />
        <result column="BLOOD" property="blood" />
        <result column="ITEM" property="item" />
        <result column="FACT_IN" property="factIn" />
        <result column="TRANSFUSION" property="transfusion" />
        <result column="PISS" property="piss" />
        <result column="STOOL" property="stool" />
        <result column="SPEW" property="spew" />
        <result column="NAME" property="name" />
        <result column="STATION" property="station" />
        <result column="SKIN" property="skin" />
        <result column="ACTION" property="action" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_NAME" property="operName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INPATIENT_NO, TEND_TIME, SENSES, PUPIL, TEMPERATURE, PULSE, BREATH, BLOOD, ITEM, FACT_IN, TRANSFUSION, PISS, STOOL, SPEW, NAME, STATION, SKIN, ACTION, OPER_CODE, OPER_NAME
    </sql>

</mapper>
