<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.NrsTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsType">
        <id column="NRS_TYPE" property="nrsType" />
        <result column="NRS_CODE" property="nrsCode" />
        <result column="NRS_NAME" property="nrsName" />
        <result column="NRS_CODE2" property="nrsCode2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NRS_TYPE, NRS_CODE, NRS_NAME, NRS_CODE2
    </sql>

</mapper>
