<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.NrsWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.NrsWork">
        <id column="NRS_DATE" property="nrsDate" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="NOON_NAME" property="noonName" />
        <result column="NRS_CELL_CODE" property="nrsCellCode" />
        <result column="CELL_NAME" property="cellName" />
        <result column="NRS_CODE" property="nrsCode" />
        <result column="NRS_NAME" property="nrsName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NRS_DATE, NOON_CODE, NOON_NAME, NRS_CELL_CODE, CELL_NAME, NRS_CODE, NRS_NAME
    </sql>

</mapper>
