<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.OpCommonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpCommon">
        <id column="TABLENO" property="tableno" />
        <result column="ITEMNO" property="itemno" />
        <result column="ITEMNAME" property="itemname" />
        <result column="SPELL" property="spell" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TABLENO, ITEMNO, ITEMNAME, SPELL
    </sql>

</mapper>
