<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.OpPersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OpPerson">
        <id column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="POSI_CODE" property="posiCode" />
        <result column="LEVEL_CODE" property="levelCode" />
        <result column="DEPTCODE" property="deptcode" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="DUTY" property="duty" />
        <result column="AUTHORITY" property="authority" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CODE, NAME, POSI_CODE, LEVEL_CODE, DEPTCODE, SEX_CODE, DUTY, AUTHORITY
    </sql>

</mapper>
