<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.OrdAllergenlistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdAllergenlist">
        <id column="CARD_NO" property="cardNo" />
        <result column="ALLERGENTYPE" property="allergentype" />
        <result column="ALLERGENCODE" property="allergencode" />
        <result column="ALLERGENNAME" property="allergenname" />
        <result column="OPERCODE" property="opercode" />
        <result column="OPERDATE" property="operdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, ALLERGENTYPE, ALLERGENCODE, ALLERGENNAME, OPERCODE, OPERDATE
    </sql>

</mapper>
