<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.OrdUsageSetqtyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.OrdUsageSetqty">
        <result column="SEQ_NO" property="seqNo" />
        <result column="USAGE_CODE" property="usageCode" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="VAILD" property="vaild" />
        <result column="INVAILD_OPER_CODE" property="invaildOperCode" />
        <result column="INVAILD_OPER_DATE" property="invaildOperDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQ_NO, USAGE_CODE, OPER_CODE, OPER_DATE, VAILD, INVAILD_OPER_CODE, INVAILD_OPER_DATE
    </sql>

</mapper>
