<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.PersonWorkMzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.PersonWorkMz">
        <id column="OPER_DATE" property="operDate" />
        <result column="OPER_CODE" property="operCode" />
        <result column="FROM_DATE" property="fromDate" />
        <result column="TO_DATE" property="toDate" />
        <result column="FEE_STAT_CATE" property="feeStatCate" />
        <result column="FEE_STAT_NAME" property="feeStatName" />
        <result column="REAL_COST" property="realCost" />
        <result column="PACT_PUB_COST" property="pactPubCost" />
        <result column="SY_PAY_COST" property="syPayCost" />
        <result column="SY_PUB_COST" property="syPubCost" />
        <result column="LN_PAY_COST" property="lnPayCost" />
        <result column="LN_PUB_COST" property="lnPubCost" />
        <result column="CHECK_OPER_CODE" property="checkOperCode" />
        <result column="CHECK_DATE" property="checkDate" />
        <result column="STAT_NUM" property="statNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPER_DATE, OPER_CODE, FROM_DATE, TO_DATE, FEE_STAT_CATE, FEE_STAT_NAME, REAL_COST, PACT_PUB_COST, SY_PAY_COST, SY_PUB_COST, LN_PAY_COST, LN_PUB_COST, CHECK_OPER_CODE, CHECK_DATE, STAT_NUM
    </sql>

</mapper>
