<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.PrApplyHeadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.PrApplyHead">
        <id column="MODELNO" property="modelno" />
        <result column="MODELNAME" property="modelname" />
        <result column="MODELTYPE" property="modeltype" />
        <result column="ITEM_TYPE" property="itemType" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="WIDTH" property="width" />
        <result column="HEIGHT" property="height" />
        <result column="PR_NUM" property="prNum" />
        <result column="ORDERID" property="orderid" />
        <result column="MODELLEVEL" property="modellevel" />
        <result column="SUPFILENO" property="supfileno" />
        <result column="ICON" property="icon" />
        <result column="BACK" property="back" />
        <result column="OPERATORNO" property="operatorno" />
        <result column="OPERATORTIME" property="operatortime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MODELNO, MODELNAME, MODELTYPE, ITEM_TYPE, ITEM_CODE, DEPT_CODE, WIDTH, HEIGHT, PR_NUM, ORDERID, MODELLEVEL, SUPFILENO, ICON, BACK, OPERATORNO, OPERATORTIME
    </sql>

</mapper>
