<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.PrApplyControlListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.PrApplyControlList">
        <id column="MODELNO" property="modelno" />
        <result column="CONTROLNO" property="controlno" />
        <result column="CONTROLNAME" property="controlname" />
        <result column="CONTROLKIND" property="controlkind" />
        <result column="ITEMNAME" property="itemname" />
        <result column="CONTROLTYPE" property="controltype" />
        <result column="DATATYPE" property="datatype" />
        <result column="BEGIN_X" property="beginX" />
        <result column="BEGIN_Y" property="beginY" />
        <result column="END_X" property="endX" />
        <result column="END_Y" property="endY" />
        <result column="WIDTH" property="width" />
        <result column="HEIGHT" property="height" />
        <result column="BORDER" property="border" />
        <result column="BORDER_COLOR" property="borderColor" />
        <result column="BACKGROUND_COLOR" property="backgroundColor" />
        <result column="FONT_COLOR" property="fontColor" />
        <result column="FONT_FACE" property="fontFace" />
        <result column="FONT_HEIGHT" property="fontHeight" />
        <result column="FONT_WEIGHT" property="fontWeight" />
        <result column="FONT_ITALIC" property="fontItalic" />
        <result column="FONT_UNDERLINE" property="fontUnderline" />
        <result column="ALIGNMENT" property="alignment" />
        <result column="FORMAT" property="format" />
        <result column="LINE_HEIGHT" property="lineHeight" />
        <result column="LINE_COLOR" property="lineColor" />
        <result column="CONTROLINFO" property="controlinfo" />
        <result column="ORDERID" property="orderid" />
        <result column="OPERATORNO" property="operatorno" />
        <result column="OPERATORTIME" property="operatortime" />
        <result column="YNFIRST" property="ynfirst" />
        <result column="DDDW" property="dddw" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MODELNO, CONTROLNO, CONTROLNAME, CONTROLKIND, ITEMNAME, CONTROLTYPE, DATATYPE, BEGIN_X, BEGIN_Y, END_X, END_Y, WIDTH, HEIGHT, BORDER, BORDER_COLOR, BACKGROUND_COLOR, FONT_COLOR, FONT_FACE, FONT_HEIGHT, FONT_WEIGHT, FONT_ITALIC, FONT_UNDERLINE, ALIGNMENT, FORMAT, LINE_HEIGHT, LINE_COLOR, CONTROLINFO, ORDERID, OPERATORNO, OPERATORTIME, YNFIRST, DDDW
    </sql>

</mapper>
