<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.PrbreathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.Prbreath">
        <id column="PR_CODE" property="prCode" />
        <result column="TREATMENT_CODE" property="treatmentCode" />
        <result column="DEAL_NUMBER" property="dealNumber" />
        <result column="BREATHING_MACHINE" property="breathingMachine" />
        <result column="YN_WOUND" property="ynWound" />
        <result column="MODEL" property="model" />
        <result column="TIDAL_VOLUME" property="tidalVolume" />
        <result column="BREATHING_FREQUENCY" property="breathingFrequency" />
        <result column="BREATHING_RATE" property="breathingRate" />
        <result column="OXYGEN_CONCENTRATION" property="oxygenConcentration" />
        <result column="BREATHE_IN_TIME" property="breatheInTime" />
        <result column="PEEP" property="peep" />
        <result column="IPAP" property="ipap" />
        <result column="EPAP" property="epap" />
        <result column="OTHER" property="other" />
        <result column="REMARK" property="remark" />
        <result column="LASTUPDATETIME" property="lastupdatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PR_CODE, TREATMENT_CODE, DEAL_NUMBER, BREATHING_MACHINE, YN_WOUND, MODEL, TIDAL_VOLUME, BREATHING_FREQUENCY, BREATHING_RATE, OXYGEN_CONCENTRATION, BREATHE_IN_TIME, PEEP, IPAP, EPAP, OTHER, REMARK, LASTUPDATETIME
    </sql>

</mapper>
