<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.PublicAccountPayoutTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.PublicAccountPayoutTemp">
        <result column="ACC_DTIME" property="accDtime" />
        <result column="CARD_NO" property="cardNo" />
        <result column="PATIENT_NAME" property="patientName" />
        <result column="PAYKIND_CODE" property="paykindCode" />
        <result column="PAYKIND_NAME" property="paykindName" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="PACT_CODE" property="pactCode" />
        <result column="AREA" property="area" />
        <result column="COST" property="cost" />
        <result column="PAYOUT_FLAG" property="payoutFlag" />
        <result column="REPORT_FLAG" property="reportFlag" />
        <result column="LOAD_FLAG" property="loadFlag" />
        <result column="OPER_CODE" property="operCode" />
        <result column="REG_LEVEL" property="regLevel" />
        <result column="FEE_CODE" property="feeCode" />
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="INVOICE_NO" property="invoiceNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ACC_DTIME, CARD_NO, PATIENT_NAME, PAYKIND_CODE, PAYKIND_NAME, MCARD_NO, PACT_CODE, AREA, COST, PAYOUT_FLAG, REPORT_FLAG, LOAD_FLAG, OPER_CODE, REG_LEVEL, FEE_CODE, RECIPE_NO, INVOICE_NO
    </sql>

</mapper>
