<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.QfRecordJzinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.QfRecordJzinfo">
        <id column="CARD_NO" property="cardNo" />
        <result column="NAME" property="name" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="QF_REASON" property="qfReason" />
        <result column="QF_COST" property="qfCost" />
        <result column="DIAGNOSE" property="diagnose" />
        <result column="OPER_DOCTCODE" property="operDoctcode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="YN_REGBYDOCT" property="ynRegbydoct" />
        <result column="YN_INGNORE" property="ynIngnore" />
        <result column="YN_CHARGE" property="ynCharge" />
        <result column="YN_CHANEL" property="ynChanel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, NAME, DEPT_CODE, QF_REASON, QF_COST, DIAGNOSE, OPER_DOCTCODE, OPER_DATE, YN_REGBYDOCT, YN_INGNORE, YN_CHARGE, YN_CHANEL
    </sql>

</mapper>
