<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RDepartmentBakMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RDepartmentBak">
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DEPT_PY" property="deptPy" />
        <result column="DEPT_ENAME" property="deptEname" />
        <result column="SDEPT_CODE" property="sdeptCode" />
        <result column="HOSDEPT_CODE" property="hosdeptCode" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="YNSTATDEPT" property="ynstatdept" />
        <result column="YNREGDEPT" property="ynregdept" />
        <result column="DEPT_TYPE" property="deptType" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPER_CODE" property="operCode" />
        <result column="LINK_MZDEPT" property="linkMzdept" />
        <result column="CHECK_TOT_COST" property="checkTotCost" />
        <result column="CHECK_DRUG_COST" property="checkDrugCost" />
        <result column="HOS_BRANCH" property="hosBranch" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, DEPT_NAME, DEPT_PY, DEPT_ENAME, SDEPT_CODE, HOSDEPT_CODE, EMPL_CODE, YNSTATDEPT, YNREGDEPT, DEPT_TYPE, OPER_DATE, OPER_CODE, LINK_MZDEPT, CHECK_TOT_COST, CHECK_DRUG_COST, HOS_BRANCH
    </sql>

</mapper>
