<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RDepartmentBranchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RDepartmentBranch">
        <id column="BRANCH_CODE" property="branchCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="BRANCH" property="branch" />
        <result column="INITIALVALUE" property="initialvalue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BRANCH_CODE, DEPT_CODE, BRANCH, INITIALVALUE
    </sql>

</mapper>
