<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RDoctreglmtRzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RDoctreglmtRz">
        <result column="NOON_CODE" property="noonCode" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="FIR_REGLMT_NEW" property="firReglmtNew" />
        <result column="REP_REGLMT_NEW" property="repReglmtNew" />
        <result column="FIR_REGLMT_OLD" property="firReglmtOld" />
        <result column="REP_REGLMT_OLD" property="repReglmtOld" />
        <result column="OPERCODE" property="opercode" />
        <result column="OPERDATE" property="operdate" />
        <result column="REDUCED_FLAG" property="reducedFlag" />
        <result column="FSDPB" property="fsdpb" />
        <result column="TODATE" property="todate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NOON_CODE, EMPL_CODE, DEPT_CODE, REGLEVL_CODE, SEE_DATE, FIR_REGLMT_NEW, REP_REGLMT_NEW, FIR_REGLMT_OLD, REP_REGLMT_OLD, OPERCODE, OPERDATE, REDUCED_FLAG, FSDPB, TODATE
    </sql>

</mapper>
