<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RegisterAccountReportdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RegisterAccountReportdetail">
        <id column="REPORTDATE" property="reportdate" />
        <result column="FBILLTYPE" property="fbilltype" />
        <result column="FITEMNAME" property="fitemname" />
        <result column="FPAYMONEY" property="fpaymoney" />
        <result column="OPERCODE" property="opercode" />
        <result column="OPERDATE" property="operdate" />
        <result column="JYT_CHANNEL" property="jytChannel" />
        <result column="YJJFEE" property="yjjfee" />
        <result column="REGISTERFEE" property="registerfee" />
        <result column="YJJ_GAIN" property="yjjGain" />
        <result column="YJJ_BACK" property="yjjBack" />
        <result column="OWN_COST" property="ownCost" />
        <result column="BACKYB" property="backyb" />
        <result column="SUPPLY" property="supply" />
        <result column="SUPPLY_REAL" property="supplyReal" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REPORTDATE, FBILLTYPE, FITEMNAME, FPAYMONEY, OPERCODE, OPERDATE, JYT_CHANNEL, YJJFEE, REGISTERFEE, YJJ_GAIN, YJJ_BACK, OWN_COST, BACKYB, SUPPLY, SUPPLY_REAL, REMARK
    </sql>

</mapper>
