<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.REmplvsgroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.REmplvsgroup">
        <result column="GRPID" property="grpid" />
        <result column="GRPNAME" property="grpname" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="INVOICE_KIND" property="invoiceKind" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GRPID, GRPNAME, EMPL_CODE, INVOICE_KIND
    </sql>

</mapper>
