<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RevolutionMonthYgjMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RevolutionMonthYgj">
        <id column="BEGINDATE" property="begindate" />
        <result column="ENDDATE" property="enddate" />
        <result column="OPERTIME" property="opertime" />
        <result column="DAY1" property="day1" />
        <result column="DAY2" property="day2" />
        <result column="DAY3" property="day3" />
        <result column="DAY4" property="day4" />
        <result column="DAY5" property="day5" />
        <result column="DAY6" property="day6" />
        <result column="DAY7" property="day7" />
        <result column="DAY8" property="day8" />
        <result column="DAY9" property="day9" />
        <result column="DAY10" property="day10" />
        <result column="DAY11" property="day11" />
        <result column="DAY12" property="day12" />
        <result column="DAY13" property="day13" />
        <result column="DAY14" property="day14" />
        <result column="DAY15" property="day15" />
        <result column="DAY16" property="day16" />
        <result column="DAY17" property="day17" />
        <result column="DAY18" property="day18" />
        <result column="DAY19" property="day19" />
        <result column="DAY20" property="day20" />
        <result column="DAY21" property="day21" />
        <result column="DAY22" property="day22" />
        <result column="DAY23" property="day23" />
        <result column="DAY24" property="day24" />
        <result column="DAY25" property="day25" />
        <result column="DAY26" property="day26" />
        <result column="DAY27" property="day27" />
        <result column="DAY28" property="day28" />
        <result column="DAY29" property="day29" />
        <result column="DAY30" property="day30" />
        <result column="DAY31" property="day31" />
        <result column="DAY32" property="day32" />
        <result column="DAY33" property="day33" />
        <result column="DAY34" property="day34" />
        <result column="DAY35" property="day35" />
        <result column="DAY36" property="day36" />
        <result column="DAY37" property="day37" />
        <result column="DAY38" property="day38" />
        <result column="DAY39" property="day39" />
        <result column="DAY40" property="day40" />
        <result column="DAY41" property="day41" />
        <result column="DAY42" property="day42" />
        <result column="DAY43" property="day43" />
        <result column="DAY44" property="day44" />
        <result column="DAY45" property="day45" />
        <result column="DAY46" property="day46" />
        <result column="DAY47" property="day47" />
        <result column="DAY48" property="day48" />
        <result column="DAY49" property="day49" />
        <result column="DAY50" property="day50" />
        <result column="DAY51" property="day51" />
        <result column="DAY52" property="day52" />
        <result column="DAY53" property="day53" />
        <result column="DAY54" property="day54" />
        <result column="DAY55" property="day55" />
        <result column="DAY56" property="day56" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BEGINDATE, ENDDATE, OPERTIME, DAY1, DAY2, DAY3, DAY4, DAY5, DAY6, DAY7, DAY8, DAY9, DAY10, DAY11, DAY12, DAY13, DAY14, DAY15, DAY16, DAY17, DAY18, DAY19, DAY20, DAY21, DAY22, DAY23, DAY24, DAY25, DAY26, DAY27, DAY28, DAY29, DAY30, DAY31, DAY32, DAY33, DAY34, DAY35, DAY36, DAY37, DAY38, DAY39, DAY40, DAY41, DAY42, DAY43, DAY44, DAY45, DAY46, DAY47, DAY48, DAY49, DAY50, DAY51, DAY52, DAY53, DAY54, DAY55, DAY56
    </sql>

</mapper>
