<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RPatientinfoGhQiehuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RPatientinfoGhQiehuan">
        <result column="ORDER_ID" property="orderId" />
        <result column="NAME" property="name" />
        <result column="IDENNO" property="idenno" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="DIST" property="dist" />
        <result column="NATION_CODE" property="nationCode" />
        <result column="MARI" property="mari" />
        <result column="PROF_CODE" property="profCode" />
        <result column="AREA" property="area" />
        <result column="COUN_CODE" property="counCode" />
        <result column="BLOOD_CODE" property="bloodCode" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="MCARD_ID" property="mcardId" />
        <result column="PAYKIND_CODE" property="paykindCode" />
        <result column="PACT_CODE" property="pactCode" />
        <result column="WORK_NAME" property="workName" />
        <result column="WORK_TEL" property="workTel" />
        <result column="WORK_ZIP" property="workZip" />
        <result column="WORK_ADD" property="workAdd" />
        <result column="HOME" property="home" />
        <result column="HOME_TEL" property="homeTel" />
        <result column="HOME_ZIP" property="homeZip" />
        <result column="LINKMAN_NAME" property="linkmanName" />
        <result column="RELA_CODE" property="relaCode" />
        <result column="LINKMAN_TEL" property="linkmanTel" />
        <result column="LINKMAN_ADD" property="linkmanAdd" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="BOOK_DATE" property="bookDate" />
        <result column="IF_REG" property="ifReg" />
        <result column="REG_OPER" property="regOper" />
        <result column="REG_DATE" property="regDate" />
        <result column="CARD_NO" property="cardNo" />
        <result column="BOOK_TYPE" property="bookType" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="REGLEVL_NAME" property="reglevlName" />
        <result column="DOCT_CODE" property="doctCode" />
        <result column="OPERCODE" property="opercode" />
        <result column="OPERDATE" property="operdate" />
        <result column="TIME_CODE" property="timeCode" />
        <result column="FIRST_DEPT" property="firstDept" />
        <result column="PAY_WAY" property="payWay" />
        <result column="YNTIMECODE_DEF" property="yntimecodeDef" />
        <result column="ALIORDERID" property="aliorderid" />
        <result column="ORDERID_GHW" property="orderidGhw" />
        <result column="FZSQZZ_DATA" property="fzsqzzData" />
        <result column="CANCEL_OPER" property="cancelOper" />
        <result column="CANCEL_DATE" property="cancelDate" />
        <result column="YNSENDMSG_ALI" property="ynsendmsgAli" />
        <result column="JYT_CHANNEL" property="jytChannel" />
        <result column="DIST_DISTRICT" property="distDistrict" />
        <result column="ALITRADENO" property="alitradeno" />
        <result column="BX_FEE" property="bxFee" />
        <result column="TRADENO_BAKBX" property="tradenoBakbx" />
        <result column="REFUND_NO" property="refundNo" />
        <result column="CARDNO_JYT" property="cardnoJyt" />
        <result column="REG_FEE" property="regFee" />
        <result column="DIAG_FEE" property="diagFee" />
        <result column="PAY_COST" property="payCost" />
        <result column="YN_JYT2_ZZ" property="ynJyt2Zz" />
        <result column="YN_RTN" property="ynRtn" />
        <result column="PAY_WAY_JYT" property="payWayJyt" />
        <result column="JYT_GETFROMWINDOW" property="jytGetfromwindow" />
        <result column="OPERDATE_OLD" property="operdateOld" />
        <result column="JYT_REMARK" property="jytRemark" />
        <result column="RTN_DATE" property="rtnDate" />
        <result column="CANCEL_REASON" property="cancelReason" />
        <result column="RTN_RESOURCE" property="rtnResource" />
        <result column="AUTO_CANCEL_MINUTES" property="autoCancelMinutes" />
        <result column="PAYFEE_JYT" property="payfeeJyt" />
        <result column="YN_UPLOAD_EMR" property="ynUploadEmr" />
        <result column="HOS_AREA" property="hosArea" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORDER_ID, NAME, IDENNO, SEX_CODE, BIRTHDAY, DIST, NATION_CODE, MARI, PROF_CODE, AREA, COUN_CODE, BLOOD_CODE, MCARD_NO, MCARD_ID, PAYKIND_CODE, PACT_CODE, WORK_NAME, WORK_TEL, WORK_ZIP, WORK_ADD, HOME, HOME_TEL, HOME_ZIP, LINKMAN_NAME, RELA_CODE, LINKMAN_TEL, LINKMAN_ADD, DEPT_CODE, NOON_CODE, BOOK_DATE, IF_REG, REG_OPER, REG_DATE, CARD_NO, BOOK_TYPE, REGLEVL_CODE, REGLEVL_NAME, DOCT_CODE, OPERCODE, OPERDATE, TIME_CODE, FIRST_DEPT, PAY_WAY, YNTIMECODE_DEF, ALIORDERID, ORDERID_GHW, FZSQZZ_DATA, CANCEL_OPER, CANCEL_DATE, YNSENDMSG_ALI, JYT_CHANNEL, DIST_DISTRICT, ALITRADENO, BX_FEE, TRADENO_BAKBX, REFUND_NO, CARDNO_JYT, REG_FEE, DIAG_FEE, PAY_COST, YN_JYT2_ZZ, YN_RTN, PAY_WAY_JYT, JYT_GETFROMWINDOW, OPERDATE_OLD, JYT_REMARK, RTN_DATE, CANCEL_REASON, RTN_RESOURCE, AUTO_CANCEL_MINUTES, PAYFEE_JYT, YN_UPLOAD_EMR, HOS_AREA
    </sql>

</mapper>
