<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RPatientmedicalinfoDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RPatientmedicalinfoDept">
        <id column="DEPT_CODE" property="deptCode" />
        <result column="SERIALNO" property="serialno" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="INPUT_CODE" property="inputCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERIALNO, DEPT_CODE, DEPT_NAME, INPUT_CODE
    </sql>

</mapper>
