<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RRegisterMeetingDocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RRegisterMeetingDoc">
        <id column="REG_DATE" property="regDate" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REAL_DOCTID" property="realDoctid" />
        <result column="REAL_DOCTNAME" property="realDoctname" />
        <result column="OPER_CODE" property="operCode" />
        <result column="OPER_DATE" property="operDate" />
        <result column="NAME" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        REG_DATE, CARD_NO, REAL_DOCTID, REAL_DOCTNAME, OPER_CODE, OPER_DATE, NAME
    </sql>

</mapper>
