<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RRegAddpowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RRegAddpower">
        <id column="EMPL_CODE" property="emplCode" />
        <result column="ADD_TYPE" property="addType" />
        <result column="EMPL_NAME" property="emplName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EMPL_CODE, ADD_TYPE, EMPL_NAME
    </sql>

</mapper>
