<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RStatRegistorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RStatRegistor">
        <result column="STAT_ZONE" property="statZone" />
        <result column="STAT_DATE" property="statDate" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="EMPL_NAME" property="emplName" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="REGLEVL_NAME" property="reglevlName" />
        <result column="BOOK_SUM" property="bookSum" />
        <result column="NUM" property="num" />
        <result column="AMT" property="amt" />
        <result column="OPER_CODE" property="operCode" />
        <result column="CASH" property="cash" />
        <result column="CHECK_BILL" property="checkBill" />
        <result column="ACCOUNT" property="account" />
        <result column="DEBT" property="debt" />
        <result column="EXCHANGE" property="exchange" />
        <result column="DEPT_INSURANCE" property="deptInsurance" />
        <result column="ACCOUNT_SI" property="accountSi" />
        <result column="CANCEL_SUM" property="cancelSum" />
        <result column="OWN_NUM" property="ownNum" />
        <result column="PUB_NUM" property="pubNum" />
        <result column="SI_NUM" property="siNum" />
        <result column="CHCK_FEE" property="chckFee" />
        <result column="CHCK_FEE1" property="chckFee1" />
        <result column="OTH_FEE" property="othFee" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAT_ZONE, STAT_DATE, EMPL_CODE, EMPL_NAME, REGLEVL_CODE, REGLEVL_NAME, BOOK_SUM, NUM, AMT, OPER_CODE, CASH, CHECK_BILL, ACCOUNT, DEBT, EXCHANGE, DEPT_INSURANCE, ACCOUNT_SI, CANCEL_SUM, OWN_NUM, PUB_NUM, SI_NUM, CHCK_FEE, CHCK_FEE1, OTH_FEE
    </sql>

</mapper>
