<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.RYbypSpecialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.RYbypSpecial">
        <id column="HISID" property="hisid" />
        <result column="HISNAME" property="hisname" />
        <result column="YBID" property="ybid" />
        <result column="YBNAME" property="ybname" />
        <result column="SPECS" property="specs" />
        <result column="OPER_MAN" property="operMan" />
        <result column="OPER_DATE" property="operDate" />
        <result column="KIND_CODE" property="kindCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HISID, HISNAME, YBID, YBNAME, SPECS, OPER_MAN, OPER_DATE, KIND_CODE
    </sql>

</mapper>
