<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.StatSqlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.StatSql">
        <id column="SERIAL_NO" property="serialNo" />
        <result column="TAB_NAME" property="tabName" />
        <result column="SQL_EXPRESS" property="sqlExpress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERIAL_NO, TAB_NAME, SQL_EXPRESS
    </sql>

</mapper>
