<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.StorgeSetDaysMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.StorgeSetDays">
        <id column="OPER_DTIME" property="operDtime" />
        <result column="OPER_CODE" property="operCode" />
        <result column="CONS" property="cons" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPER_CODE, OPER_DTIME, CONS
    </sql>

</mapper>
