<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.SupStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.SupStore">
        <id column="GOODS_CODE" property="goodsCode" />
        <result column="GOODS_NAME" property="goodsName" />
        <result column="NOW_COUNT" property="nowCount" />
        <result column="CURRENT_TOTAL" property="currentTotal" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        GOODS_CODE, GOODS_NAME, NOW_COUNT, CURRENT_TOTAL
    </sql>

</mapper>
