<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.TeleKeshiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.TeleKeshi">
        <id column="ROW_NUMBER" property="rowNumber" />
        <result column="DEPTNO" property="deptno" />
        <result column="DEPTNAME" property="deptname" />
        <result column="DEPTITEM" property="deptitem" />
        <result column="DEPTNAME_PY" property="deptnamePy" />
        <result column="DEPTITEM_PY" property="deptitemPy" />
        <result column="TELEPHONE" property="telephone" />
        <result column="OPERDATE" property="operdate" />
        <result column="REMARK" property="remark" />
        <result column="TELE_BZ" property="teleBz" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPTNO, DEPTNAME, DEPTITEM, DEPTNAME_PY, DEPTITEM_PY, TELEPHONE, OPERDATE, REMARK, ROW_NUMBER, TELE_BZ
    </sql>

</mapper>
