<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.VDoctTimeAvailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VDoctTimeAvail">
        <result column="SEE_DATE" property="seeDate" />
        <result column="NOON_CODE" property="noonCode" />
        <result column="TIME_CODE" property="timeCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="EMPL_CODE" property="emplCode" />
        <result column="EMPL_NAME" property="emplName" />
        <result column="REGLEVL_CODE" property="reglevlCode" />
        <result column="FIR_REG_LMT" property="firRegLmt" />
        <result column="FLAG" property="flag" />
        <result column="GROUP_CNT" property="groupCnt" />
        <result column="TIME_LMT" property="timeLmt" />
        <result column="BOOK_NUM" property="bookNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_DATE, NOON_CODE, TIME_CODE, DEPT_CODE, EMPL_CODE, EMPL_NAME, REGLEVL_CODE, FIR_REG_LMT, FLAG, GROUP_CNT, TIME_LMT, BOOK_NUM
    </sql>

</mapper>
