<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.VHqHypayedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VHqHypayed">
        <result column="KDYS" property="kdys" />
        <result column="KDKS" property="kdks" />
        <result column="SFRQ" property="sfrq" />
        <result column="SFSJ" property="sfsj" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="ZYH" property="zyh" />
        <result column="CARDNO" property="cardno" />
        <result column="RECIPE" property="recipe" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        KDYS, KDKS, SFRQ, SFSJ, ITEMCODE, ZYH, CARDNO, RECIPE
    </sql>

</mapper>
