<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJhRecipedetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJhRecipedetail">
        <result column="SEE_NO" property="seeNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="OPER_DATE" property="operDate" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="QTY" property="qty" />
        <result column="ONCE_DOSE" property="onceDose" />
        <result column="ONCE_UNIT" property="onceUnit" />
        <result column="FREQ_CODE" property="freqCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_NO, CARD_NO, REG_DATE, OPER_DATE, ITEM_NAME, QTY, ONCE_DOSE, ONCE_UNIT, FREQ_CODE
    </sql>

</mapper>
