<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewIfInprepayReceiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewIfInprepayReceive">
        <result column="RECEIPT_NO_MIN" property="receiptNoMin" />
        <result column="RECEIPT_NO_MAX" property="receiptNoMax" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECEIPT_NO_MIN, RECEIPT_NO_MAX
    </sql>

</mapper>
