<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewMrmsInmaininfoQueryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMrmsInmaininfoQuery">
        <result column="BILI_NO" property="biliNo" />
        <result column="P_NAME" property="pName" />
        <result column="CASE_FLAG" property="caseFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BILI_NO, P_NAME, CASE_FLAG
    </sql>

</mapper>
