<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJiaheSeedoctrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheSeedoctrecord">
        <result column="SEE_NO" property="seeNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="REG_DATE" property="regDate" />
        <result column="PATIENT_NAME" property="patientName" />
        <result column="AGE" property="age" />
        <result column="SEX" property="sex" />
        <result column="WEIGHT" property="weight" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="SEE_DATE" property="seeDate" />
        <result column="SEE_DEPTID" property="seeDeptid" />
        <result column="SEE_DEPTNM" property="seeDeptnm" />
        <result column="SEE_DOCTID" property="seeDoctid" />
        <result column="SEE_DOCTNM" property="seeDoctnm" />
        <result column="HOST_TELL" property="hostTell" />
        <result column="CURRENT_ILLNESS" property="currentIllness" />
        <result column="ANAMNESIS" property="anamnesis" />
        <result column="ALLERGEN" property="allergen" />
        <result column="CHECKBODY" property="checkbody" />
        <result column="REMARK" property="remark" />
        <result column="OTHER" property="other" />
        <result column="ADMINICAL" property="adminical" />
        <result column="DISPOSITION" property="disposition" />
        <result column="DIAG_CODE1" property="diagCode1" />
        <result column="DIAG_NAME1" property="diagName1" />
        <result column="DIAG_CODE2" property="diagCode2" />
        <result column="DIAG_NAME2" property="diagName2" />
        <result column="DIAG_CODE3" property="diagCode3" />
        <result column="DIAG_NAME3" property="diagName3" />
        <result column="DIAG_CODE4" property="diagCode4" />
        <result column="DIAG_NAME4" property="diagName4" />
        <result column="DIAG_CODE5" property="diagCode5" />
        <result column="DIAG_NAME5" property="diagName5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEE_NO, CARD_NO, REG_DATE, PATIENT_NAME, AGE, SEX, WEIGHT, MCARD_NO, SEE_DATE, SEE_DEPTID, SEE_DEPTNM, SEE_DOCTID, SEE_DOCTNM, HOST_TELL, CURRENT_ILLNESS, ANAMNESIS, ALLERGEN, CHECKBODY, REMARK, OTHER, ADMINICAL, DISPOSITION, DIAG_CODE1, DIAG_NAME1, DIAG_CODE2, DIAG_NAME2, DIAG_CODE3, DIAG_NAME3, DIAG_CODE4, DIAG_NAME4, DIAG_CODE5, DIAG_NAME5
    </sql>

</mapper>
