<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewHrpItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHrpItem">
        <result column="UNDRUG_CODE" property="undrugCode" />
        <result column="UNDRUG_NAME" property="undrugName" />
        <result column="FEE_CODE" property="feeCode" />
        <result column="NATIONAL_CODE" property="nationalCode" />
        <result column="HH_CODE" property="hhCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="UNIT_PRICE" property="unitPrice" />
        <result column="ZT" property="zt" />
        <result column="STOP_FLAG" property="stopFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UNDRUG_CODE, UNDRUG_NAME, FEE_CODE, NATIONAL_CODE, HH_CODE, DEPT_CODE, UNIT_PRICE, ZT, STOP_FLAG
    </sql>

</mapper>
