<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewHlhtCdrdrugdispenseRMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtCdrdrugdispenseR">
        <result column="PERSON_NAME" property="personName" />
        <result column="OUT_PATIENT_ID" property="outPatientId" />
        <result column="IN_PATIENT_ID" property="inPatientId" />
        <result column="CARD_ID" property="cardId" />
        <result column="PATTIENT_NO" property="pattientNo" />
        <result column="VISIT_NO" property="visitNo" />
        <result column="VISIT_NUM" property="visitNum" />
        <result column="VISIT_TYPE" property="visitType" />
        <result column="HEALTH_CARD_NO" property="healthCardNo" />
        <result column="AUDIT_CAREPROVIDER_CODE" property="auditCareproviderCode" />
        <result column="AUDIT_CAREPROVIDER_NAME" property="auditCareproviderName" />
        <result column="AUDIT_DATETIME" property="auditDatetime" />
        <result column="DISPENSING_CAREPROVIDER_CODE" property="dispensingCareproviderCode" />
        <result column="DISPENSING_CAREPROVIDER_NAME" property="dispensingCareproviderName" />
        <result column="DISPENSING_DATETIME" property="dispensingDatetime" />
        <result column="CHECK_CAREPROVIDER_CODE" property="checkCareproviderCode" />
        <result column="CHECK_CAREPROVIDER_NAME" property="checkCareproviderName" />
        <result column="CHECK_DATETIME" property="checkDatetime" />
        <result column="DISPENSED_CAREPROVIDER_CODE" property="dispensedCareproviderCode" />
        <result column="DISPENSED_CAREPROVIDER_NAME" property="dispensedCareproviderName" />
        <result column="DISPENSED_DATETIME" property="dispensedDatetime" />
        <result column="FORM_NO" property="formNo" />
        <result column="DISPENSING_NO" property="dispensingNo" />
        <result column="PHARMACY_STORE" property="pharmacyStore" />
        <result column="DISPENSING_WINDOW" property="dispensingWindow" />
        <result column="PRES_COMMENT_PERSON" property="presCommentPerson" />
        <result column="PRES_COMMENT_TIME" property="presCommentTime" />
        <result column="PRES_COMMENT" property="presComment" />
        <result column="ENTITY_CODE" property="entityCode" />
        <result column="OPERATORTIME" property="operatortime" />
        <result column="OPERATE_TYPE" property="operateType" />
        <result column="RECIPE_NO" property="recipeNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PERSON_NAME, OUT_PATIENT_ID, IN_PATIENT_ID, CARD_ID, PATTIENT_NO, VISIT_NO, VISIT_NUM, VISIT_TYPE, HEALTH_CARD_NO, AUDIT_CAREPROVIDER_CODE, AUDIT_CAREPROVIDER_NAME, AUDIT_DATETIME, DISPENSING_CAREPROVIDER_CODE, DISPENSING_CAREPROVIDER_NAME, DISPENSING_DATETIME, CHECK_CAREPROVIDER_CODE, CHECK_CAREPROVIDER_NAME, CHECK_DATETIME, DISPENSED_CAREPROVIDER_CODE, DISPENSED_CAREPROVIDER_NAME, DISPENSED_DATETIME, FORM_NO, DISPENSING_NO, PHARMACY_STORE, DISPENSING_WINDOW, PRES_COMMENT_PERSON, PRES_COMMENT_TIME, PRES_COMMENT, ENTITY_CODE, OPERATORTIME, OPERATE_TYPE, RECIPE_NO
    </sql>

</mapper>
