<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewDictSymptomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewDictSymptom">
        <result column="SYMPTOM_CODE" property="symptomCode" />
        <result column="SYMPTOM_NAME" property="symptomName" />
        <result column="SYMPTOMDETAIL_CODE" property="symptomdetailCode" />
        <result column="SYMPTOMDETAIL_NAME" property="symptomdetailName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SYMPTOM_CODE, SYMPTOM_NAME, SYMPTOMDETAIL_CODE, SYMPTOMDETAIL_NAME
    </sql>

</mapper>
