<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewDsStorageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewDsStorage">
        <result column="DRUG_STORAGE_CODE" property="drugStorageCode" />
        <result column="DRUG_TYPE" property="drugType" />
        <result column="PLACECODE" property="placecode" />
        <result column="M_CODE" property="mCode" />
        <result column="TRADE_NAME" property="tradeName" />
        <result column="TRADE_CODE" property="tradeCode" />
        <result column="FORMAL_NAME" property="formalName" />
        <result column="FORMAL_CODE" property="formalCode" />
        <result column="ENGLISH_NAME" property="englishName" />
        <result column="USER_CODE" property="userCode" />
        <result column="STORE_SUM" property="storeSum" />
        <result column="BASE_DOSE" property="baseDose" />
        <result column="DOSE_UNIT" property="doseUnit" />
        <result column="MIN_UNIT" property="minUnit" />
        <result column="PACK_UNIT" property="packUnit" />
        <result column="PACK_QTY" property="packQty" />
        <result column="SPECS" property="specs" />
        <result column="FREQUENCY_CODE" property="frequencyCode" />
        <result column="ONCE_UNIT" property="onceUnit" />
        <result column="ONCE_DOSE" property="onceDose" />
        <result column="USE_WAY_CODE" property="useWayCode" />
        <result column="DOSE_MODEL_CODE" property="doseModelCode" />
        <result column="DRUG_QUALITY" property="drugQuality" />
        <result column="SALE_PRICE" property="salePrice" />
        <result column="TRADE_PRICE" property="tradePrice" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="LOWEST_STORE_SUM" property="lowestStoreSum" />
        <result column="TOP_STORE_SUM" property="topStoreSum" />
        <result column="NEED_BATCH" property="needBatch" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DRUG_STORAGE_CODE, DRUG_TYPE, PLACECODE, M_CODE, TRADE_NAME, TRADE_CODE, FORMAL_NAME, FORMAL_CODE, ENGLISH_NAME, USER_CODE, STORE_SUM, BASE_DOSE, DOSE_UNIT, MIN_UNIT, PACK_UNIT, PACK_QTY, SPECS, FREQUENCY_CODE, ONCE_UNIT, ONCE_DOSE, USE_WAY_CODE, DOSE_MODEL_CODE, DRUG_QUALITY, SALE_PRICE, TRADE_PRICE, DRUG_CODE, LOWEST_STORE_SUM, TOP_STORE_SUM, NEED_BATCH
    </sql>

</mapper>
