<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJiaheMzblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheMzbl">
        <result column="PATIENT_ID" property="patientId" />
        <result column="VISIT_DATE" property="visitDate" />
        <result column="HOST_TELL" property="hostTell" />
        <result column="CURRENT_ILLNESS" property="currentIllness" />
        <result column="ANAMNESIS" property="anamnesis" />
        <result column="INDIVIDUAL" property="individual" />
        <result column="FAMILY" property="family" />
        <result column="CHECKBODY" property="checkbody" />
        <result column="ADMINICAL" property="adminical" />
        <result column="DISPOSITION" property="disposition" />
        <result column="DIAGNOSIS" property="diagnosis" />
        <result column="REMARKS" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENT_ID, VISIT_DATE, HOST_TELL, CURRENT_ILLNESS, ANAMNESIS, INDIVIDUAL, FAMILY, CHECKBODY, ADMINICAL, DISPOSITION, DIAGNOSIS, REMARKS
    </sql>

</mapper>
