<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewXtUndrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewXtUndrug">
        <result column="TERMID" property="termid" />
        <result column="TERMNAME" property="termname" />
        <result column="PRICEREF" property="priceref" />
        <result column="SPECS" property="specs" />
        <result column="TERMCLASSID" property="termclassid" />
        <result column="TERMCLASSNAME" property="termclassname" />
        <result column="MAPPINGCODE" property="mappingcode" />
        <result column="VALIDFLAG" property="validflag" />
        <result column="TRADEENAME" property="tradeename" />
        <result column="SPELLCODE" property="spellcode" />
        <result column="WBCODE" property="wbcode" />
        <result column="CUSTOMCODE" property="customcode" />
        <result column="OPER_TIME" property="operTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TERMID, TERMNAME, PRICEREF, SPECS, TERMCLASSID, TERMCLASSNAME, MAPPINGCODE, VALIDFLAG, TRADEENAME, SPELLCODE, WBCODE, CUSTOMCODE, OPER_TIME
    </sql>

</mapper>
