<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewFeeBaseGenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewFeeBaseGen">
        <result column="FEE_CODE" property="feeCode" />
        <result column="FEE_NAME" property="feeName" />
        <result column="FEE_DATE" property="feeDate" />
        <result column="NUM" property="num" />
        <result column="COST" property="cost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FEE_CODE, FEE_NAME, FEE_DATE, NUM, COST
    </sql>

</mapper>
