<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJiaheDeptDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheDeptDict">
        <result column="DEPT_CODE" property="deptCode" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="DEPT_ALIAS" property="deptAlias" />
        <result column="CLINIC_ATTR" property="clinicAttr" />
        <result column="OUTP_OR_INP" property="outpOrInp" />
        <result column="INTERNAL_OR_SERGERY" property="internalOrSergery" />
        <result column="INPUT_CODE" property="inputCode" />
        <result column="TYPE_CODE" property="typeCode" />
        <result column="LOCATION" property="location" />
        <result column="DISPLAY_ORDER" property="displayOrder" />
        <result column="TOTAL_BED_NUM" property="totalBedNum" />
        <result column="TOTAL_BED_NUM_OLD" property="totalBedNumOld" />
        <result column="SYNCHRO_FLAG" property="synchroFlag" />
        <result column="DEPT_EMR" property="deptEmr" />
        <result column="DEPT_EMR_DATE_TIME" property="deptEmrDateTime" />
        <result column="DEPT_CONSULT" property="deptConsult" />
        <result column="DEPT_TYPE" property="deptType" />
        <result column="ERROR_STYLE" property="errorStyle" />
        <result column="VIEW_SEQUENCE" property="viewSequence" />
        <result column="HOSPITAL_NO" property="hospitalNo" />
        <result column="PYM" property="pym" />
        <result column="WBM" property="wbm" />
        <result column="IS_GRAVE_DEPT" property="isGraveDept" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPT_CODE, DEPT_NAME, DEPT_ALIAS, CLINIC_ATTR, OUTP_OR_INP, INTERNAL_OR_SERGERY, INPUT_CODE, TYPE_CODE, LOCATION, DISPLAY_ORDER, TOTAL_BED_NUM, TOTAL_BED_NUM_OLD, SYNCHRO_FLAG, DEPT_EMR, DEPT_EMR_DATE_TIME, DEPT_CONSULT, DEPT_TYPE, ERROR_STYLE, VIEW_SEQUENCE, HOSPITAL_NO, PYM, WBM, IS_GRAVE_DEPT
    </sql>

</mapper>
