<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewHlhtAddactrequestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewHlhtAddactrequest">
        <result column="MSG_ID" property="msgId" />
        <result column="JCPT_NO" property="jcptNo" />
        <result column="APPLY_ID" property="applyId" />
        <result column="IN_PATIENT_ID" property="inPatientId" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="PRIORITY_CODE" property="priorityCode" />
        <result column="SPECIMEN_ID" property="specimenId" />
        <result column="SPECIMEN_CODE" property="specimenCode" />
        <result column="SPECIMEN_ZT" property="specimenZt" />
        <result column="SPECIMEN_ZT_DESC" property="specimenZtDesc" />
        <result column="SPECIMEN_GDY" property="specimenGdy" />
        <result column="SPECIMEN_PRDTIME" property="specimenPrdtime" />
        <result column="SPECIMEN_ACSNTIME" property="specimenAcsntime" />
        <result column="PATIENT_FLAG" property="patientFlag" />
        <result column="OPER_DATE" property="operDate" />
        <result column="OPER_SIGN" property="operSign" />
        <result column="DOCT_ID" property="doctId" />
        <result column="DOCT_NAME" property="doctName" />
        <result column="HOSPITALID" property="hospitalid" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="CHECK_DATE" property="checkDate" />
        <result column="VERIFIER_SIGN" property="verifierSign" />
        <result column="OPER_ID" property="operId" />
        <result column="VERIFIER_NAME" property="verifierName" />
        <result column="PURPOSE" property="purpose" />
        <result column="REASON" property="reason" />
        <result column="REASON_CODE" property="reasonCode" />
        <result column="REASON_DISPLAY" property="reasonDisplay" />
        <result column="REMARK" property="remark" />
        <result column="APPLY_DOCT_ID" property="applyDoctId" />
        <result column="APPLY_DOCT_NAME" property="applyDoctName" />
        <result column="HOSPITAL_ID" property="hospitalId" />
        <result column="APPLY_DEPT_NAME" property="applyDeptName" />
        <result column="ENCOUNTER_ID" property="encounterId" />
        <result column="PATIENT_ID" property="patientId" />
        <result column="INPATIENT_NO" property="inpatientNo" />
        <result column="TELECOM" property="telecom" />
        <result column="STATUSCODE" property="statuscode" />
        <result column="IDENNO" property="idenno" />
        <result column="PATIENT_NAME" property="patientName" />
        <result column="SEX_CODE" property="sexCode" />
        <result column="SEX" property="sex" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="MCARD_ID" property="mcardId" />
        <result column="HEALTH_ARCHIVES_NO" property="healthArchivesNo" />
        <result column="HEALTH_CARD_NO" property="healthCardNo" />
        <result column="OPERDATE" property="operdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        MSG_ID, JCPT_NO, APPLY_ID, IN_PATIENT_ID, ITEM_CODE, ITEM_NAME, START_TIME, END_TIME, PRIORITY_CODE, SPECIMEN_ID, SPECIMEN_CODE, SPECIMEN_ZT, SPECIMEN_ZT_DESC, SPECIMEN_GDY, SPECIMEN_PRDTIME, SPECIMEN_ACSNTIME, PATIENT_FLAG, OPER_DATE, OPER_SIGN, DOCT_ID, DOCT_NAME, HOSPITALID, DEPT_NAME, CHECK_DATE, VERIFIER_SIGN, OPER_ID, VERIFIER_NAME, PURPOSE, REASON, REASON_CODE, REASON_DISPLAY, REMARK, APPLY_DOCT_ID, APPLY_DOCT_NAME, HOSPITAL_ID, APPLY_DEPT_NAME, ENCOUNTER_ID, PATIENT_ID, INPATIENT_NO, TELECOM, STATUSCODE, IDENNO, PATIENT_NAME, SEX_CODE, SEX, BIRTHDAY, MCARD_NO, MCARD_ID, HEALTH_ARCHIVES_NO, HEALTH_CARD_NO, OPERDATE
    </sql>

</mapper>
