<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJiaheEcgMzinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheEcgMzinfo">
        <result column="HIS_PATIENT_ID" property="hisPatientId" />
        <result column="HIS_EXAM_ID" property="hisExamId" />
        <result column="HIS_SEQUENCE_NO" property="hisSequenceNo" />
        <result column="NAME" property="name" />
        <result column="PYM" property="pym" />
        <result column="GENDER" property="gender" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="PATIENT_AGE" property="patientAge" />
        <result column="PATIENT_AGE_MONTH" property="patientAgeMonth" />
        <result column="PATIENT_AGE_DAY" property="patientAgeDay" />
        <result column="TREAT_TYPE" property="treatType" />
        <result column="TREAD_ID" property="treadId" />
        <result column="INHOSPITAL_ID" property="inhospitalId" />
        <result column="LOCATION" property="location" />
        <result column="BED_NO" property="bedNo" />
        <result column="VISIT_ID" property="visitId" />
        <result column="PROCEDURE_CODE" property="procedureCode" />
        <result column="PROCEDURE_NAME" property="procedureName" />
        <result column="HEIGHT" property="height" />
        <result column="WEIGHT" property="weight" />
        <result column="HOME_TEL" property="homeTel" />
        <result column="PHONE_NUMBER_MOBILE" property="phoneNumberMobile" />
        <result column="MAILING_ADDRESS" property="mailingAddress" />
        <result column="ZIP_CODE" property="zipCode" />
        <result column="FOLK" property="folk" />
        <result column="ID_NO" property="idNo" />
        <result column="RACE" property="race" />
        <result column="APPLY_DEPT" property="applyDept" />
        <result column="APPLY_DOCT_ID" property="applyDoctId" />
        <result column="APPLY_DOCT_NAME" property="applyDoctName" />
        <result column="CONFIRM_TIME" property="confirmTime" />
        <result column="CLINIC_DIAG" property="clinicDiag" />
        <result column="MEDICAL_HISTORY" property="medicalHistory" />
        <result column="MEDICATION" property="medication" />
        <result column="DEPTCODE" property="deptcode" />
        <result column="DEPTNAME" property="deptname" />
        <result column="RECORD_DATE" property="recordDate" />
        <result column="REG_DATE" property="regDate" />
        <result column="REG_PATIENT_ID" property="regPatientId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HIS_PATIENT_ID, HIS_EXAM_ID, HIS_SEQUENCE_NO, NAME, PYM, GENDER, BIRTHDAY, PATIENT_AGE, PATIENT_AGE_MONTH, PATIENT_AGE_DAY, TREAT_TYPE, TREAD_ID, INHOSPITAL_ID, LOCATION, BED_NO, VISIT_ID, PROCEDURE_CODE, PROCEDURE_NAME, HEIGHT, WEIGHT, HOME_TEL, PHONE_NUMBER_MOBILE, MAILING_ADDRESS, ZIP_CODE, FOLK, ID_NO, RACE, APPLY_DEPT, APPLY_DOCT_ID, APPLY_DOCT_NAME, CONFIRM_TIME, CLINIC_DIAG, MEDICAL_HISTORY, MEDICATION, DEPTCODE, DEPTNAME, RECORD_DATE, REG_DATE, REG_PATIENT_ID
    </sql>

</mapper>
