<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewRewzbDrugreportTestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewRewzbDrugreportTest">
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="CARD_NO" property="cardNo" />
        <result column="STOCK_CODE" property="stockCode" />
        <result column="DRUG_CODE" property="drugCode" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="CARDNO_JYT" property="cardnoJyt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECIPE_NO, CARD_NO, STOCK_CODE, DRUG_CODE, DRUG_NAME, MCARD_NO, CARDNO_JYT
    </sql>

</mapper>
