<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewMrmsDocControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewMrmsDocControl">
        <result column="HOUSE_DOC_CODE" property="houseDocCode" />
        <result column="HOUSE_DOC_NAME" property="houseDocName" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="ZY" property="zy" />
        <result column="HZ" property="hz" />
        <result column="WY" property="wy" />
        <result column="SW" property="sw" />
        <result column="ZC" property="zc" />
        <result column="QT" property="qt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HOUSE_DOC_CODE, HOUSE_DOC_NAME, DEPT_CODE, ZY, HZ, WY, SW, ZC, QT
    </sql>

</mapper>
