<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJiaheClinicDiagnosis2Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheClinicDiagnosis2">
        <result column="DIAGNOSIS_FLAG_NAME" property="diagnosisFlagName" />
        <result column="DIAGNOSIS_TYPE_NAME" property="diagnosisTypeName" />
        <result column="DIAGNOSIS_NUM" property="diagnosisNum" />
        <result column="DIAGNOSIS_SUB_NUM" property="diagnosisSubNum" />
        <result column="DIAGNOSIS_NAME" property="diagnosisName" />
        <result column="DIAGNOSIS_DESC" property="diagnosisDesc" />
        <result column="DIAGNOSIS_CODE" property="diagnosisCode" />
        <result column="DIAGNOSIS_TIME" property="diagnosisTime" />
        <result column="DIAGNOSIS_TYPE_CODE" property="diagnosisTypeCode" />
        <result column="PATIENT_ID" property="patientId" />
        <result column="VISIT_ID" property="visitId" />
        <result column="FILE_UNIQUE_ID" property="fileUniqueId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DIAGNOSIS_FLAG_NAME, DIAGNOSIS_TYPE_NAME, DIAGNOSIS_NUM, DIAGNOSIS_SUB_NUM, DIAGNOSIS_NAME, DIAGNOSIS_DESC, DIAGNOSIS_CODE, DIAGNOSIS_TIME, DIAGNOSIS_TYPE_CODE, PATIENT_ID, VISIT_ID, FILE_UNIQUE_ID
    </sql>

</mapper>
