<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.ViewJiaheH1n1DetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.ViewJiaheH1n1Detail">
        <result column="P7501" property="p7501" />
        <result column="P7502" property="p7502" />
        <result column="P7506" property="p7506" />
        <result column="P7500" property="p7500" />
        <result column="P8016" property="p8016" />
        <result column="P8017" property="p8017" />
        <result column="P8018" property="p8018" />
        <result column="P8019" property="p8019" />
        <result column="P8020" property="p8020" />
        <result column="P8021" property="p8021" />
        <result column="P8022" property="p8022" />
        <result column="SEE_DATE" property="seeDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        P7501, P7502, P7506, P7500, P8016, P8017, P8018, P8019, P8020, P8021, P8022, SEE_DATE
    </sql>

</mapper>
