<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.VPacsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VPacs">
        <result column="RECIPE" property="recipe" />
        <result column="CARD_NO" property="cardNo" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="REQ_DEPT" property="reqDept" />
        <result column="OPER_DATE" property="operDate" />
        <result column="HISPATIENTID" property="hispatientid" />
        <result column="PATIENTNAME" property="patientname" />
        <result column="SEX" property="sex" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="REQDEPARTMENTNAME" property="reqdepartmentname" />
        <result column="MACHINE_TYPE" property="machineType" />
        <result column="ZHUSU" property="zhusu" />
        <result column="XIANBINGSHI" property="xianbingshi" />
        <result column="JIWANGSHI" property="jiwangshi" />
        <result column="CHATI" property="chati" />
        <result column="YOUGUANJIANCHA" property="youguanjiancha" />
        <result column="DIAGNOSE" property="diagnose" />
        <result column="LINCHUANGYINXIANG" property="linchuangyinxiang" />
        <result column="DIAGNOSE2" property="diagnose2" />
        <result column="DIAGNOSE3" property="diagnose3" />
        <result column="DIAGNOSE4" property="diagnose4" />
        <result column="DIAGNOSE5" property="diagnose5" />
        <result column="PACSNAME" property="pacsname" />
        <result column="BEIZHU" property="beizhu" />
        <result column="COMB_NO" property="combNo" />
        <result column="YAOQIUYUMUDI" property="yaoqiuyumudi" />
        <result column="REQDOCTOR" property="reqdoctor" />
        <result column="REQDOCTORNAME" property="reqdoctorname" />
        <result column="YY_DATE" property="yyDate" />
        <result column="ZHUYISHIXIANG" property="zhuyishixiang" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="JIANCHADIDIAN" property="jianchadidian" />
        <result column="PATIENTTYPEID" property="patienttypeid" />
        <result column="SOCIETYID" property="societyid" />
        <result column="OTHERPATIENTID" property="otherpatientid" />
        <result column="ENETPATIENTID" property="enetpatientid" />
        <result column="IDNUMBER" property="idnumber" />
        <result column="PHONENUMBER" property="phonenumber" />
        <result column="ADDRESS" property="address" />
        <result column="EMAIL" property="email" />
        <result column="FOLK" property="folk" />
        <result column="NATIONALITY" property="nationality" />
        <result column="SICKBED" property="sickbed" />
        <result column="SICKROOM" property="sickroom" />
        <result column="REQHOSPITAL" property="reqhospital" />
        <result column="ABSTRACTHISTORY" property="abstracthistory" />
        <result column="BACKUPFIELD1" property="backupfield1" />
        <result column="BL_ZYSX" property="blZysx" />
        <result column="JIANCHABUWEI" property="jianchabuwei" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECIPE, CARD_NO, ITEM_CODE, REQ_DEPT, OPER_DATE, HISPATIENTID, PATIENTNAME, SEX, BIRTHDAY, REQDEPARTMENTNAME, MACHINE_TYPE, ZHUSU, XIANBINGSHI, JIWANGSHI, CHATI, YOUGUANJIANCHA, DIAGNOSE, LINCHUANGYINXIANG, DIAGNOSE2, DIAGNOSE3, DIAGNOSE4, DIAGNOSE5, PACSNAME, BEIZHU, COMB_NO, YAOQIUYUMUDI, REQDOCTOR, REQDOCTORNAME, YY_DATE, ZHUYISHIXIANG, DEPT_NAME, JIANCHADIDIAN, PATIENTTYPEID, SOCIETYID, OTHERPATIENTID, ENETPATIENTID, IDNUMBER, PHONENUMBER, ADDRESS, EMAIL, FOLK, NATIONALITY, SICKBED, SICKROOM, REQHOSPITAL, ABSTRACTHISTORY, BACKUPFIELD1, BL_ZYSX, JIANCHABUWEI
    </sql>

</mapper>
