<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.VQyylFirstDeptInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VQyylFirstDeptInfo">
        <result column="HOSORGCODE" property="hosorgcode" />
        <result column="DEPTCODE" property="deptcode" />
        <result column="DEPTNAME" property="deptname" />
        <result column="NORMDEPTCODE" property="normdeptcode" />
        <result column="NORMDEPTNAME" property="normdeptname" />
        <result column="ISDELETE" property="isdelete" />
        <result column="ISREGISTER" property="isregister" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HOSORGCODE, DEPTCODE, DEPTNAME, NORMDEPTCODE, NORMDEPTNAME, ISDELETE, ISREGISTER
    </sql>

</mapper>
