<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.VRwzbJcbdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VRwzbJcbd">
        <result column="CARD_NO" property="cardNo" />
        <result column="CARDNO_JYT" property="cardnoJyt" />
        <result column="MCARD_NO" property="mcardNo" />
        <result column="NAME" property="name" />
        <result column="RECIPE_NO" property="recipeNo" />
        <result column="SEQUENCE_NO" property="sequenceNo" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="TYPE_ID" property="typeId" />
        <result column="TYPE_NAME" property="typeName" />
        <result column="YY_DATE" property="yyDate" />
        <result column="TIME_COME" property="timeCome" />
        <result column="PRICE" property="price" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="ID" property="id" />
        <result column="COMB_NO" property="combNo" />
        <result column="MB_ID" property="mbId" />
        <result column="SEE_NO" property="seeNo" />
        <result column="DJ_DATE" property="djDate" />
        <result column="JC_ORDER" property="jcOrder" />
        <result column="JC_STATUS" property="jcStatus" />
        <result column="JC_MACHINECODE" property="jcMachinecode" />
        <result column="ID_ORI" property="idOri" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CARD_NO, CARDNO_JYT, MCARD_NO, NAME, RECIPE_NO, SEQUENCE_NO, ITEM_CODE, ITEM_NAME, TYPE_ID, TYPE_NAME, YY_DATE, TIME_COME, PRICE, DEPT_CODE, ID, COMB_NO, MB_ID, SEE_NO, DJ_DATE, JC_ORDER, JC_STATUS, JC_MACHINECODE, ID_ORI
    </sql>

</mapper>
