<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.VTestHqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.VTestHq">
        <result column="PATIENTID" property="patientid" />
        <result column="SEX" property="sex" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="BEDNO" property="bedno" />
        <result column="LISTTIME" property="listtime" />
        <result column="DOCTORNAME" property="doctorname" />
        <result column="DOCTORCODE" property="doctorcode" />
        <result column="DEPTNAME" property="deptname" />
        <result column="DEPTCODE" property="deptcode" />
        <result column="ITEMCODE" property="itemcode" />
        <result column="ITEMNAME" property="itemname" />
        <result column="HIS" property="his" />
        <result column="PATIENTTYPE" property="patienttype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PATIENTID, SEX, BIRTHDAY, BEDNO, LISTTIME, DOCTORNAME, DOCTORCODE, DEPTNAME, DEPTCODE, ITEMCODE, ITEMNAME, HIS, PATIENTTYPE
    </sql>

</mapper>
