<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.WfCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.WfCompany">
        <id column="COMPANYNO" property="companyno" />
        <result column="COMPANYNAME" property="companyname" />
        <result column="SPELLCODE" property="spellcode" />
        <result column="WBCODE" property="wbcode" />
        <result column="DEFCODE" property="defcode" />
        <result column="OPERATOR" property="operator" />
        <result column="REGISTDATE" property="registdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        COMPANYNO, COMPANYNAME, SPELLCODE, WBCODE, DEFCODE, OPERATOR, REGISTDATE
    </sql>

</mapper>
