<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.WfDeprecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljh.bean.WfDeprecord">
        <id column="YEARCODE" property="yearcode" />
        <result column="YEARMONTH" property="yearmonth" />
        <result column="CARDNO" property="cardno" />
        <result column="FACINAMECODE" property="facinamecode" />
        <result column="FACILITYNAME" property="facilityname" />
        <result column="FACIKIND" property="facikind" />
        <result column="SPECI" property="speci" />
        <result column="FACIUNIT" property="faciunit" />
        <result column="STATUS" property="status" />
        <result column="DEPTCODE" property="deptcode" />
        <result column="DEPRATE" property="deprate" />
        <result column="DEPNO" property="depno" />
        <result column="MONTHDEPRE" property="monthdepre" />
        <result column="SCRAPVALUE" property="scrapvalue" />
        <result column="BEGINDATE" property="begindate" />
        <result column="ENDDATE" property="enddate" />
        <result column="OPERATOR" property="operator" />
        <result column="REGISTDATE" property="registdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        YEARCODE, YEARMONTH, CARDNO, FACINAMECODE, FACILITYNAME, FACIKIND, SPECI, FACIUNIT, STATUS, DEPTCODE, DEPRATE, DEPNO, MONTHDEPRE, SCRAPVALUE, BEGINDATE, ENDDATE, OPERATOR, REGISTDATE
    </sql>

</mapper>
